<!-- form-diner.html -->
<div class="progress progress-striped active">
  <div class="progress-bar" style="width: 33%">¿Qué?</div>
  <div class="progress-bar progress-bar-info" style="width: 33%">¿Dónde y Cuándo?</div>
  <div class="progress-bar progress-bar-info" style="width: 34%">¿Cómo?</div>
</div>

<form class="form-horizontal">
  <fieldset>
    <div class="row">
      <div class="form-group">
        <label for="inputMenu" class="col-xs-2 control-label meal-menu-label">Menu</label>
        <div class="col-xs-10">
          <textarea class="form-control" id="inputMenu" placeholder="Ingresa tu menu" name="inputMenu" ng-model="editedMeal.menu" required></textarea>
          <div ng-messages="form_create_meal.inputMenu.$error" role="alert" ng-if="form_create_meal.inputMenu.$dirty">
            <div ng-message="required" class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>¡Olvidaste el menu!</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="inputVeggies" class="col-xs-2 control-label"></img></label>
        <div class="checkbox">
          <label class="col-xs-10">
            <input type="checkbox" ng-model="editedMeal.veggies"> Menu Vegetariano <img src="/static/sources/vegetarian.png" ng-if="editedMeal.veggies">
          </label>
        </div>
      </div>
    </div>
    </div>
  </fieldset>
</form>


  <div class="pager">
    <li><a ng-if="form_create_meal.inputMenu.$invalid" ng-click="form_create_meal.inputMenu.$dirty=true">Seguir</a></li>
    <li><a ng-if="form_create_meal.inputMenu.$valid" ui-sref="create_meal.profile" ng-click="change_animation_to_the_right()">Seguir</a></li>
  </div>