<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title" translate>VIEW_MY_MEALS_DTLD.MODAL.DELETE.TITLE</h4>
</div>
<div class="modal-body">
    <p translate>VIEW_MY_MEALS_DTLD.MODAL.DELETE.PARAGRAPH</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="cancel()" translate>VIEW_MY_MEALS_DTLD.MODAL.ACTION_BUTTON.NO</button>
    <button type="button" class="btn btn-warning" ng-click="delete()" translate>VIEW_MY_MEALS_DTLD.MODAL.ACTION_BUTTON.YES</button>
</div>