<div class="container-fluid">
    <div class="row fade-out-success" ng-hide="successSubscribedMessage==false">
        <div class="col-xs-12">
            <div class="alert alert-dismissible alert-success text-justify">
                <button type="button" class="close" data-dismiss="alert" ng-click ="successSubscribedMessage = !successSubscribedMessage ">&times;</button>
                <span ng-if="fromState.name != 'create_meal'"><strong>Well done!</strong> You successfully subscribed to the meal.</span>
                <span ng-if="fromState.name == 'create_meal'"><strong>Well done!</strong> You successfully published your meal.<span ng-if="!$parent.$root.user.birthdate && !$parent.$root.user.country_of_origin && !$parent.$root.user.presentation && !$parent.$root.user.spoken_languages"><br>We advise you to <strong>complete your <a ui-sref="profile({userId:$parent.$root.user._id})">profile</a></strong> in order to make your meal more friendly.</span></span>
            </div>
        </div>
    </div>
    <div class="row fade-out-success" ng-if="userRole=='admin'" ng-hide="pendingRequest==false">
        <div class="col-xs-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">You have a pending request</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="participant in meal.users" ng-if="participant.status == 'pending'">
                            <div class="my-meal-dtld-list-pending-user">
                                <div>
                                    <strong>Requested role:</strong> <span ng-if="participant.role[0] == 'cook'">Help cooking</span><span ng-if="participant.role[0]== 'cleaner'">Help cleaning</span><span ng-if="participant.role[0]== 'simpleGuest'">Simple guest</span>
                                    <span class="pull-right">
                                    <a class="btn btn-success btn-xs" ng-click="validateSubscription(participant._id)">Accept</a>
                                    <a class="btn btn-danger btn-xs" ng-click="refuseSubscription(participant._id)">Refuse</a>
                                    </span>
                                </div>
                                <div class="clear10"></div>
                                <div style="position:relative">
                                    <a ui-sref="profile({userId:participant._id})"><img ng-src="{{participant.picture.data.url}}" style="border-radius:10px;width:100px; height:100px; margin-bottom:5px" class="pull-left" alt="User profile picture" /></a>
                                    <div style="position:relative; left:10px;">
                                        <a ui-sref="profile({userId:participant._id})">
                                            <div>
                                                <strong class="text-info">{{participant.first_name}} {{participant.last_name}}</strong>
                                            </div>
                                        </a>
                                        <div style="padding-top:4px">
                                            <span ng-if="participant.gender"><i class="fa fa-venus-mars" style="width:14px;height:14px"></i> {{participant.gender | capitalizeFirstLetter}}</br></span>
                                            <span ng-if="participant.birthdate"><i class="fa fa-birthday-cake" style="width:14px;height:14px"></i> {{participant.birthdate | ageFilter}} years old</br></span>
                                            <span ng-if="participant.country_of_origin"><i class="fa fa-globe" style="width:14px;height:14px"></i> From {{participant.country_of_origin.name}}</br></span>
                                            <span ng-if="participant.spoken_languages"><i class="fa fa-comments-o" style="width:14px;height:14px"></i> <span ng-repeat="spoken_language in user.spoken_languages">{{spoken_language}} </span>
                                        </div>
                                        <span class="hidden-sm hidden-md hidden-lg" ng-if="!participant.reviews"></br></span>
                                        <div>
                                            <div class="well well-sm well-resume-rating" ng-if="participant.reviews.positive || participant.reviews.neutral || participant.reviews.negative">
                                                <table style="text-align:center">
                                                    <tbody>
                                                        <tr>
                                                            <td ng-if="participant.reviews.positive" style="padding-right:4px"><span class="glyphicon glyphicon-plus-sign text-success"></span></td>
                                                            <td ng-if="participant.reviews.neutral" style="padding:0px 4px"><span class="glyphicon glyphicon-record text-default"></span></td>
                                                            <td ng-if="participant.reviews.negative" style="padding-left:4px"><span class="glyphicon glyphicon-minus-sign text-danger"></span></td>
                                                        </tr>
                                                        <tr style="font-size:11px">
                                                            <td ng-if="participant.reviews.positive" style="padding-right:4px">{{participant.reviews.positive}}</td>
                                                            <td ng-if="participant.reviews.neutral" style="padding:0px 4px">{{participant.reviews.neutral}}</td>
                                                            <td ng-if="participant.reviews.negative" style="padding-left:4px">{{participant.reviews.negative}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <a ui-sref="profile({userId: participant._id})"><em><u>see reviews</u></em></a>
                                            </div>
                                        </div>
                                        <div class="clear5 hidden-xs"></div>
                                        <div class="pull-right-sm-md-lg pull-left-xs" style="max-width:490px;padding-right:10px; padding:0px 10px 10px 0px;" ng-if="participant.presentation">
                                            "<em>{{participant.presentation}}</em>"
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="clear10"></div>
    <div class="row">
        <div class="col-xs-12 text-center meal-dtld-menu text-info">
            <button class="btn btn-xs btn-danger pull-right my-meal-dtld-button" ng-click="openModalDelete()" ng-if="userRole=='admin' && isOldMeal() != true"><strong><span class="glyphicon glyphicon-remove-sign"></span></strong> Delete</button>
            <button class="btn btn-xs btn-danger pull-right my-meal-dtld-button my-meal-dtld-edit marginright10" ng-click="openModalEdit()" ng-if="userRole=='admin' && isOldMeal() != true"><strong><span class="glyphicon glyphicon-edit"></span></strong> Edit</button>
            <button class="btn btn-xs btn-danger pull-right my-meal-dtld-button" ng-click="openModalUnsubscribe()" ng-if="userRole!='admin' && isOldMeal() != true"><strong><span class="glyphicon glyphicon-remove-sign"></span></strong> Unsubscribe</button>
            <strong style="font-size:large">{{meal.menu.title}}</strong>
        </div>
    </div>
    <div class="clear20"></div>
    <div class="col-xs-12 pull-left" ng-class="{'col-sm-7':userRole!='admin'}">
        <div class="row text-justify" ng-if="meal.menu.description">
            "<em>{{meal.menu.description}}</em>"
            <div class="clear10"></div>
        </div>
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Important information
                </div>
                <div class="panel-body">
                    <div ng-if="isOldMeal() == false">
                        <i class="fa fa-share"></i> Invite friends
                        <div class="fb-send" data-href="{{data_href}}"></div>
                    </div>
                    <div class="meal-info-label">
                        <span ng-if="userRole=='cook'">Inscribed as: <strong class="text-success">" Help cooking "</strong></span>
                        <span ng-if="userRole=='cleaner'">Inscribed as: <strong class="text-success">" Help cleaning "</strong></span>
                        <span ng-if="userRole=='simpleGuest'">Inscribed as: <strong class="text-success">" Simple Guest "</strong></span>
                    </div>
                    <div class="meal-info-label" ng-if="userRole=='admin'">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Total price of the groceries: <strong class="text-success"><span ng-show="meal.currency_symbol != '€'">{{meal.currency_symbol}} </span>{{meal.price}}<span ng-hide="meal.currency_symbol != '€'"> {{meal.currency_symbol}}</span></strong>
                    </div>
                    <div class="meal-info-label" ng-if="userRole=='admin'">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Total participants payback</br>
                        <span style="padding-left:30px;">If the meal is full: <strong class="text-success"><span ng-show="meal.currency_symbol != '€'">{{Meal.currency_symbol}} </span>{{meal.pricePaybackIfFull}}<span ng-hide="meal.currency_symbol != '€'"> {{meal.currency_symbol}}</span></strong></span></br>
                        <span style="padding-left:30px;">Currently: <strong class="text-success"><span ng-show="meal.currency_symbol != '€'">{{meal.currency_symbol}} </span>{{meal.currentPricePayback}}<span ng-hide="meal.currency_symbol != '€'"> {{meal.currency_symbol}}</span></strong></span>
                    </div>
                    <div class="meal-info-label">
                        <span class="glyphicon glyphicon-piggy-bank"></span>
                        <span ng-if="userRole=='admin'">Price of your meal: <strong class="text-success"><span ng-show="meal.currency_symbol != '€'">{{meal.cuRrency_symbol}} </span>{{meal.detailedInfo.requiredGuests.hosts.price}}<span ng-hide="meal.currency_symbol != '€'"> {{meal.currency_symbol}}</span></strong></span>
                        <span ng-if="userRole=='cook'"><strong class="text-success"><span ng-show="meal.currency_symbol != '€'">{{meal.cuRrency_symbol}} </span>{{meal.detailedInfo.requiredGuests.cooks.price}}<span ng-hide="meal.currency_symbol != '€'"> {{meal.currency_symbol}}</span></strong> left to pay to {{meal.admin.first_name}} {{meal.admin.last_name}}</span>
                        <span ng-if="userRole=='cleaner'"><strong class="text-success"><span ng-show="meal.currency_symbol != '€'">{{meal.cuRrency_symbol}} </span>{{meal.detailedInfo.requiredGuests.cleaners.price}}<span ng-hide="meal.currency_symbol != '€'"> {{meal.currency_symbol}}</span></strong> left to pay to {{meal.admin.first_name}} {{meal.admin.last_name}}</span>
                        <span ng-if="userRole=='simpleGuest'"><strong class="text-success"><span ng-show="meal.currency_symbol != '€'">{{meal.cuRrency_symbol}} </span>{{meal.detailedInfo.requiredGuests.simpleGuests.price}}<span ng-hide="meal.currency_symbol != '€'"> {{meal.currency_symbol}}</span></strong> left to pay to {{meal.admin.first_name}} {{meal.admin.last_name}}</span>
                    </div>
                    <div class="meal-info-label" ng-if="userRole=='admin'">
                        <img src="/static/sources/multiple-users-silhouette.png" style="width:14px; height:14px"> Subscription recapitulatory: <strong>{{meal.nbGuests - meal.nbRemainingPlaces}}/{{meal.nbGuests}}</strong>
                    </div>
                    <div class="meal-info-label" ng-if="meal.veggies == true || meal.vegan == true">
                        <img ng-src="/static/sources/vegetarian.png" style="width:14px; height:14px"> <span ng-if="meal.veggies==true">Vegetarian</span><span ng-if="meal.vegan==true">Vegan</span> meal
                    </div>
                    <div class="meal-info-label" ng-if="meal.halal == true">
                        <img ng-src="/static/sources/viewMeals/halal-sign.png" style="width:14px; height:14px"> Halal meal
                    </div>
                    <div class="meal-info-label" ng-if="meal.kosher == true">
                        <img ng-src="/static/sources/viewMeals/kosher-sign.png" style="width:14px; height:14px"> Kosher meal
                    </div>
                    <div class="meal-info-label">
                        <span class="glyphicon glyphicon-calendar"></span> {{meal.time |date:'EEEE dd MMMM'}}
                    </div>
                    <div class="meal-info-label">
                        <span ng-show="(userRole=='cook' || userRole=='admin') && meal.detailedInfo.requiredGuests.cooks.timeCooking "><span class="glyphicon glyphicon-time"></span>&nbsp;<span ng-if="userRole=='admin'">Help cooking: </span>{{meal.detailedInfo.requiredGuests.cooks.timeCooking
                        |date:'HH:mm'}}
                        <span ng-if="userRole=='admin'"></br></span></span>
                        <span ng-show="(userRole=='cleaner' || userRole=='admin') && meal.detailedInfo.requiredGuests.cleaners.timeCleaning"><span class="glyphicon glyphicon-time"></span>&nbsp;<span ng-if="userRole=='admin'">Help cleaning: </span>{{meal.detailedInfo.requiredGuests.cleaners.timeCleaning
                        |date:'HH:mm'}}
                        <span ng-if="userRole=='admin'"></br></span></span>
                        <span ng-show="userRole=='simpleGuest' || (userRole=='admin' && meal.detailedInfo.requiredGuests.simpleGuests) || ((userRole=='admin' ||userRole=='cleaner') && !meal.detailedInfo.requiredGuests.cleaners.timeCleaning) || ((userRole=='admin' || userRole=='cook') && !meal.detailedInfo.requiredGuests.cooks.timeCooking)"><span class="glyphicon glyphicon-time"></span>
                        <span ng-if="userRole=='admin' && meal.detailedInfo.requiredGuests.simpleGuests">Simple guests: </span>{{meal.time |date:'HH:mm'}}</span>
                    </div>
                    <div class="meal-info-label">
                        <span class="glyphicon glyphicon-map-marker"></span> <span>{{meal.privateInfo.address.name}}</span><span class="hidden-sm hidden-md hidden-lg" ng-if="meal.privateInfo.address.complement"></br><span style="padding-left:18px">{{meal.privateInfo.address.complement}}</span></span>
                        <span class="hidden-xs" style="margin-left:-3px">, {{meal.address.town}}, {{meal.address.country}}</span><span class="hidden-sm hidden-md hidden-lg"></br><span style="padding-left:18px">{{meal.address.town}}, {{meal.address.country}}</span></span>
                        <span ng-if="meal.privateInfo.address.complement"><span class="hidden-xs"> - {{meal.privateInfo.address.complement}}</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="userRole!='admin'">
            <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" class="hidden-sm hidden-md hidden-lg">
                <ng-map id="map" center="{{meal.privateInfo.address.lat}},{{meal.privateInfo.address.lng}}" zoom="14" max style="display: block" class="my-meal-dtld-map-height">
                    <marker position="{{meal.privateInfo.address.lat}},{{meal.privateInfo.address.lng}}" id="{{meal._id}}"></marker>
                </ng-map>
            </div>
            <div class="clear10"></div>
        </div>
    </div>
    <div class="col-sm-5 hidden-xs" ng-if="userRole!='admin'">
        <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
            <ng-map id="map" center="{{meal.privateInfo.address.lat}},{{meal.privateInfo.address.lng}}" zoom="14" max style="display: block" class="my-meal-dtld-map-height">
                <marker position="{{meal.privateInfo.address.lat}},{{meal.privateInfo.address.lng}}" id="{{meal._id}}"></marker>
            </ng-map>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 my-meal-dtld-participant">
            <strong>Participants</strong>
        </div>
    </div>
    <div class="clear10"></div>
    <div class="row">
        <div class="panel panel-default my-meal-dtld-panel" ng-class="{'my-meal-dtld-panel-success': userRole=='admin', 'my-meal-dtld-panel-info': userRole!='admin'}">
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="text-primary size-20">Your host:<span class="my-meal-dtld-price" style="font-size:14px" ng-if="userRole=='admin'"><span ng-show="meal.currency_symbol != '€'">{{meal.cuRrency_symbol}} </span>{{meal.detailedInfo.requiredGuests.hosts.price}}<span ng-hide="meal.currency_symbol != '€'"> {{meal.currency_symbol}}</span></span></div>
                    </div>
                    <div class="row" ng-repeat="participant in meal.users" ng-if="participant.role[0] == 'admin'">
                        <div style="padding-top:10px">
                            <div class="pull-left">
                                <a ui-sref="profile({userId: participant._id})"><img class="img-circle my-meal-dtld-profilePic" ng-src="{{participant.picture.data.url}}" alt="User profile picture" /><span class="my-meal-dtld-guestList" style="padding-right:5px" ng-class="{'my-meal-dtld-guestList-old': isOldMeal() == true}">{{participant.first_name}} {{participant.last_name}}</a><span ng-if="participant.privateInfo.cellphone && isOldMeal() == false"><span class="hidden-xs my-meal-dtld-cellphone-position">- {{participant.privateInfo.cellphone}}</span>
                                    <span class="hidden-sm hidden-md hidden-lg my-meal-dtld-cellphone-position"></br>{{participant.privateInfo.cellphone}}</span>
                                    </span>
                                    </span>
                            </div>
                            <div class="pull-right" ng-if="isOldMeal()==true && user._id != participant._id" ng-class="{'margintop7': checkAlreadyReviewed(participant._id) == true}">
                                <span class="form-group">
                                <span style="padding-right:10px" ng-hide="checkAlreadyReviewed(participant._id) == true"><em>How was your experience with {{participant.first_name}}?</em></span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'positive' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-plus-sign text-success" ng-click="sendReview(participant._id, participant.role, 'rating', 'positive')"  ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Positive" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'neutral' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-record text-default" ng-click="sendReview(participant._id, participant.role, 'rating', 'neutral')" ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Neutral" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-minus-sign text-danger" ng-click="sendReview(participant._id, participant.role, 'rating', 'negative')" ng-hide="getDataForReview(participant._id, 'rating') != 'negative' && checkAlreadyReviewed(participant._id) == true"
                                    ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Negative" tooltip-placement="top" style="cursor:pointer"></span>
                                <input type="text" ng-model="participant.comment" class="form-control my-meal-dtld-input-review" placeholder="Leave a review to {{participant.first_name}}" ng-hide="checkAlreadyReviewed(participant._id) == true"><span ng-show="checkAlreadyReviewed(participant._id) == true"
                                    class="my-meal-dtld-text-review">"<em>{{getDataForReview(participant._id, 'comment')}}</em>"</span>
                                <a ng-click="sendReview(participant._id, participant.role, 'comment', participant.comment)" ng-hide="checkAlreadyReviewed(participant._id) == true" class="btn btn-default" ng-disabled="!getDataForReview(participant._id, 'rating')" uib-tooltip="Grade {{participant.first_name}} first"
                                    tooltip-placement="top" tooltip-enable="!getDataForReview(participant._id, 'rating')">Send</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="meal.detailedInfo.requiredGuests.cooks">
        <div class="panel panel-default my-meal-dtld-panel" ng-class="{'my-meal-dtld-panel-success': userRole=='cook'}">
            <div class="panel-body">
                <div class="col-xs-8">
                    <div class="row">
                        <div class="text-primary size-20">Help cooking:<span class="hidden-sm hidden-md hidden-lg"></br></span><span class="my-meal-dtld-price" style="font-size:14px" ng-if="userRole=='admin' && meal.detailedInfo.requiredGuests.cooks.price != undefined"><span ng-show="meal.currency_symbol != '€'">{{meal.cuRrency_symbol}} </span>{{meal.detailedInfo.requiredGuests.cooks.price}}<span ng-hide="meal.currency_symbol != '€'"> {{meal.currency_symbol}}</span> per pers</span></div>
                    </div>
                </div>
                <div class="col-xs-4" ng-if="isOldMeal() != true">
                    <div class="row">
                        <span class="glyphicon glyphicon-time"></span> {{meal.detailedInfo.requiredGuests.cooks.timeCooking |date:'HH:mm'}}
                    </div>
                    <div class="row">
                        Remaining places: {{meal.detailedInfo.requiredGuests.cooks.nbRemainingPlaces}}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row" ng-repeat="participant in meal.users" ng-if="participant.role[0] == 'cook'">
                        <div ng-if="participant.status == 'accepted'" style="padding-top:10px">
                            <div class="pull-left">
                                <a ui-sref="profile({userId: participant._id})"><img class="img-circle my-meal-dtld-profilePic" ng-src="{{participant.picture.data.url}}" alt="User profile picture" /><span class="my-meal-dtld-guestList" style="padding-right:5px" ng-class="{'my-meal-dtld-guestList-old': isOldMeal() == true}">{{participant.first_name}} {{participant.last_name}}</a><span ng-if="participant.privateInfo.cellphone && isOldMeal() == false"><span class="hidden-xs my-meal-dtld-cellphone-position">- {{participant.privateInfo.cellphone}}</span>
                                    <span class="hidden-sm hidden-md hidden-lg my-meal-dtld-cellphone-position"></br>{{participant.privateInfo.cellphone}}</span>
                                    </span>
                                    </span>
                            </div>
                            <div class="pull-right" ng-if="isOldMeal()==true && user._id != participant._id" ng-class="{'margintop7': checkAlreadyReviewed(participant._id) == true}">
                                <span class="form-group">
                                <span style="padding-right:10px" ng-hide="checkAlreadyReviewed(participant._id) == true"><em>How was your experience with {{participant.first_name}}?</em></span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'positive' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-plus-sign text-success" ng-click="sendReview(participant._id, participant.role, 'rating', 'positive')"  ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Positive" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'neutral' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-record text-default" ng-click="sendReview(participant._id, participant.role, 'rating', 'neutral')" ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Neutral" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-minus-sign text-danger" ng-click="sendReview(participant._id, participant.role, 'rating', 'negative')" ng-hide="getDataForReview(participant._id, 'rating') != 'negative' && checkAlreadyReviewed(participant._id) == true"
                                    ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Negative" tooltip-placement="top" style="cursor:pointer"></span>
                                <input type="text" ng-model="participant.comment" class="form-control my-meal-dtld-input-review" placeholder="Leave a review to {{participant.first_name}}" ng-hide="checkAlreadyReviewed(participant._id) == true"><span ng-show="checkAlreadyReviewed(participant._id) == true"
                                    class="my-meal-dtld-text-review">"<em>{{getDataForReview(participant._id, 'comment')}}</em>"</span>
                                <a ng-click="sendReview(participant._id, participant.role, 'comment', participant.comment)" ng-hide="checkAlreadyReviewed(participant._id) == true" class="btn btn-default" ng-disabled="!getDataForReview(participant._id, 'rating')" uib-tooltip="Grade {{participant.first_name}} first"
                                    tooltip-placement="top" tooltip-enable="!getDataForReview(participant._id, 'rating')">Send</a>
                                </span>
                            </div>
                        </div>
                        <div ng-if="participant.status == 'pending'"><img class="img-circle my-meal-dtld-profilePic" ng-src="/static/sources/viewMyMealDtld/unknown_user.png" /><span class="text-muted my-meal-dtld-guestList">Pending request</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="meal.detailedInfo.requiredGuests.cleaners">
        <div class="panel panel-default my-meal-dtld-panel" ng-class="{'my-meal-dtld-panel-success': userRole=='cleaner'}">
            <div class="panel-body">
                <div class="col-xs-8">
                    <div class="row">
                        <div class="text-primary size-20">Help cleaning:<span class="hidden-sm hidden-md hidden-lg"></br></span><span class="my-meal-dtld-price" style="font-size:14px" ng-if="userRole=='admin' && meal.detailedInfo.requiredGuests.cleaners.price != undefined"><span ng-show="meal.currency_symbol != '€'">{{meal.cuRrency_symbol}} </span>{{meal.detailedInfo.requiredGuests.cleaners.price}}<span ng-hide="meal.currency_symbol != '€'"> {{meal.currency_symbol}}</span> per pers</span></div>
                    </div>
                </div>
                <div class="col-xs-4" ng-if="isOldMeal() != true">
                    <div class="row">
                        <span class="glyphicon glyphicon-time"></span> <span ng-if="meal.detailedInfo.requiredGuests.cleaners.timeCleaning">{{meal.detailedInfo.requiredGuests.cleaners.timeCleaning |date:'HH:mm'}}</span><span ng-if="!meal.detailedInfo.requiredGuests.cleaners.timeCleaning">{{meal.time |date:'HH:mm'}}</span>
                    </div>
                    <div class="row">
                        Remaining places: {{meal.detailedInfo.requiredGuests.cleaners.nbRemainingPlaces}}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row" ng-repeat="participant in meal.users" ng-if="participant.role[0] == 'cleaner' && participant.status == 'accepted'">
                        <div ng-if="participant.status == 'accepted'" style="padding-top:10px">
                            <div class="pull-left">
                                <a ui-sref="profile({userId: participant._id})"><img class="img-circle my-meal-dtld-profilePic" ng-src="{{participant.picture.data.url}}" alt="User profile picture" /><span class="my-meal-dtld-guestList" style="padding-right:5px" ng-class="{'my-meal-dtld-guestList-old': isOldMeal() == true}">{{participant.first_name}} {{participant.last_name}}</a><span ng-if="participant.privateInfo.cellphone && isOldMeal() == false"><span class="hidden-xs my-meal-dtld-cellphone-position">- {{participant.privateInfo.cellphone}}</span>
                                    <span class="hidden-sm hidden-md hidden-lg my-meal-dtld-cellphone-position"></br>{{participant.privateInfo.cellphone}}</span>
                                    </span>
                                    </span>
                            </div>
                            <div class="pull-right" ng-if="isOldMeal()==true && user._id != participant._id" ng-class="{'margintop7': checkAlreadyReviewed(participant._id) == true}">
                                <span class="form-group">
                                <span style="padding-right:10px" ng-hide="checkAlreadyReviewed(participant._id) == true"><em>How was your experience with {{participant.first_name}}?</em></span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'positive' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-plus-sign text-success" ng-click="sendReview(participant._id, participant.role, 'rating', 'positive')"  ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Positive" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'neutral' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-record text-default" ng-click="sendReview(participant._id, participant.role, 'rating', 'neutral')" ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Neutral" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-minus-sign text-danger" ng-click="sendReview(participant._id, participant.role, 'rating', 'negative')" ng-hide="getDataForReview(participant._id, 'rating') != 'negative' && checkAlreadyReviewed(participant._id) == true"
                                    ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Negative" tooltip-placement="top" style="cursor:pointer"></span>
                                <input type="text" ng-model="participant.comment" class="form-control my-meal-dtld-input-review" placeholder="Leave a review to {{participant.first_name}}" ng-hide="checkAlreadyReviewed(participant._id) == true"><span ng-show="checkAlreadyReviewed(participant._id) == true"
                                    class="my-meal-dtld-text-review">"<em>{{getDataForReview(participant._id, 'comment')}}</em>"</span>
                                <a ng-click="sendReview(participant._id, participant.role, 'comment', participant.comment)" ng-hide="checkAlreadyReviewed(participant._id) == true" class="btn btn-default" ng-disabled="!getDataForReview(participant._id, 'rating')" uib-tooltip="Grade {{participant.first_name}} first"
                                    tooltip-placement="top" tooltip-enable="!getDataForReview(participant._id, 'rating')">Send</a>
                                </span>
                            </div>
                        </div>
                        <div ng-if="participant.status == 'pending'"><img class="img-circle my-meal-dtld-profilePic" ng-src="/static/sources/viewMyMealDtld/unknown_user.png" /><span class="text-muted my-meal-dtld-guestList">Pending request</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="meal.detailedInfo.requiredGuests.simpleGuests">
        <div class="panel panel-default my-meal-dtld-panel" ng-class="{'my-meal-dtld-panel-success': userRole=='simpleGuest'}">
            <div class="panel-body">
                <div class="col-xs-8">
                    <div class="row">
                        <div class="text-primary size-20">Simple guest:<span class="hidden-sm hidden-md hidden-lg"></br></span><span class="my-meal-dtld-price" style="font-size:14px" ng-if="userRole=='admin' && meal.detailedInfo.requiredGuests.simpleGuests.price != undefined"><span ng-show="meal.currency_symbol != '€'">{{meal.cuRrency_symbol}} </span>{{meal.detailedInfo.requiredGuests.simpleGuests.price}}<span ng-hide="meal.currency_symbol != '€'"> {{meal.currency_symbol}}</span> per pers</span></div>
                    </div>
                </div>
                <div class="col-xs-4" ng-if="isOldMeal() != true">
                    <div class="row">
                        <span class="glyphicon glyphicon-time"></span> {{meal.time |date:'HH:mm'}}
                    </div>
                    <div class="row">
                        Remaining places: {{meal.detailedInfo.requiredGuests.simpleGuests.nbRemainingPlaces}}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row" ng-repeat="participant in meal.users" ng-if="participant.role[0] == 'simpleGuest' && participant.status == 'accepted'">
                        <div ng-if="participant.status == 'accepted'" style="padding-top:10px">
                            <div class="pull-left">
                                <a ui-sref="profile({userId: participant._id})"><img class="img-circle my-meal-dtld-profilePic" ng-src="{{participant.picture.data.url}}" alt="User profile picture" /><span class="my-meal-dtld-guestList" style="padding-right:5px" ng-class="{'my-meal-dtld-guestList-old': isOldMeal() == true}">{{participant.first_name}} {{participant.last_name}}</a><span ng-if="participant.privateInfo.cellphone && isOldMeal() == false"><span class="hidden-xs my-meal-dtld-cellphone-position">- {{participant.privateInfo.cellphone}}</span>
                                    <span class="hidden-sm hidden-md hidden-lg my-meal-dtld-cellphone-position"></br>{{participant.privateInfo.cellphone}}</span>
                                    </span>
                                    </span>
                            </div>
                            <div class="pull-right" ng-if="isOldMeal()==true && user._id != participant._id" ng-class="{'margintop7': checkAlreadyReviewed(participant._id) == true}">
                                <span class="form-group">
                                <span style="padding-right:10px" ng-hide="checkAlreadyReviewed(participant._id) == true"><em>How was your experience with {{participant.first_name}}?</em></span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'positive' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-plus-sign text-success" ng-click="sendReview(participant._id, participant.role, 'rating', 'positive')"  ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Positive" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'neutral' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-record text-default" ng-click="sendReview(participant._id, participant.role, 'rating', 'neutral')" ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Neutral" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span ng-hide="getDataForReview(review.unique, 'rating') != 'negative' && checkAlreadyReviewed(review.unique) == true"><span class="glyphicon glyphicon-minus-sign text-danger" ng-click="sendReview(participant._id, participant.role, 'rating', 'negative')" ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) == true}"
                                      uib-tooltip="Negative" tooltip-placement="top" style="cursor:pointer"></span></span>
                                <input type="text" ng-model="participant.comment" class="form-control my-meal-dtld-input-review" placeholder="Leave a review to {{participant.first_name}}" ng-hide="checkAlreadyReviewed(participant._id) == true"><span ng-show="checkAlreadyReviewed(participant._id) == true"
                                    class="my-meal-dtld-text-review">"<em>{{getDataForReview(participant._id, 'comment')}}</em>"</span>
                                <a ng-click="sendReview(participant._id, participant.role, 'comment', participant.comment)" ng-hide="checkAlreadyReviewed(participant._id) == true" class="btn btn-default" ng-disabled="!getDataForReview(participant._id, 'rating')" uib-tooltip="Grade {{participant.first_name}} first"
                                    tooltip-placement="top" tooltip-enable="!getDataForReview(participant._id, 'rating')">Send</a>
                                </span>
                            </div>
                        </div>
                        <div ng-if="participant.status == 'pending'"><img class="img-circle my-meal-dtld-profilePic" ng-src="/static/sources/viewMyMealDtld/unknown_user.png" /><span class="text-muted my-meal-dtld-guestList">Pending request</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="fb-comments" data-href="{{data_href}}" data-width="100%" data-numposts="5"></div>
        </div>
    </div>
    <div class="row my-meal-btn-center">
        <a ui-sref="my_meals" class="btn btn-primary">Back to my meals</a>
    </div>
</div>