<div class="container-fluid">
    <div class="row fade-out-success" ng-hide="successSubscribedMessage==false">
        <div class="col-xs-12">
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Well done!</strong> You successfully subscribed to the meal.
            </div>
        </div>
    </div>
    <div class="row fade-out-success" ng-if="userRole=='admin'" ng-hide="pendingRequest==false">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">You have a pending request</h3>
                </div>
                <div class="panel-body">
                    <div class="row" ng-repeat="participant in meal.privateInfo.users">
                        <div ng-if="participant.status == 'pending'" class="my-meal-dtld-list-pending-user">
                            <div class="row" style="margin-right:initial; margin-left:initial; margin-bottom:8px">
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <strong>Requested role:</strong> <span ng-if="participant.role[0]==cooker">help cooking</span><span ng-if="participant.role[0]==cleaner">help cleaning</span><span ng-if="participant.role[0]==simpleGuest">simple guest</span>
                                </div>
                                <div class="col-xs-8">
                                    <a class="btn btn-success btn-xs" ng-click="validateSubscription(participant._id)">Accept</a>
                                    <a class="btn btn-danger btn-xs" ng-click="refuseSubscription(participant._id)">Refuse</a>
                                </div>
                            </div>
                            <div class="row" style="margin:initial">
                                <div class="col-md-3 col-sm-4 col-xs-12" style="float:left">
                                    <img class="img-circle my-meal-dtld-profilePic-pending-validation my-meal-dtld-guestList" ng-src="{{participant.picture.data.url}}" alt="User profile picture" />
                                    <span style="float:inherit;margin-top:5px"><span>{{participant.first_name}} {{participant.last_name}}</span><br/>
                                    <span>{{participant.gender}}<span ng-if="participant.birthday"> - {{participant.birthday | ageFilter}} years old</span></span>
                                    </span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-xs-12 text-justify" style="float:left;margin-top:5px">
                                    <div ng-if="participant.presentation"><em>"{{participant.presentation | limitTo: 150}}{{participant.presentation.length > 150 ? '...': ''}}"</em></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear10"></div>
    <div class="row">
        <div class="col-xs-12 text-center meal-dtld-menu text-info">
            <button class="btn btn-xs btn-danger pull-right my-meal-dtld-delete" ng-click="openModalDelete()" ng-if="userRole=='admin' && isOldMeal() != true"><strong><span class="glyphicon glyphicon-remove-sign"></span></strong> Delete</button>
            <button class="btn btn-xs btn-danger pull-right my-meal-dtld-delete" ng-click="openModalDelete()" ng-if="userRole!='admin' && isOldMeal() != true"><strong><span class="glyphicon glyphicon-remove-sign"></span></strong> Unsubscribe</button>
            <strong>{{meal.menu.title}}</strong>
        </div>
    </div>
    <div class="clear20"></div>
    <div class="col-xs-12 pull-left" ng-class="{'col-sm-7':userRole!='admin'}">
        <div class="row text-justify" ng-if="meal.menu.description">
            "<em>{{meal.menu.description}}</em>"
            <div class="clear10"></div>
        </div>
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Important information
                </div>
                <div class="panel-body">
                    <div class="meal-info-label">
                        <span ng-if="userRole=='cook'">Inscribed as: <strong class="text-success">" Help cooking "</strong></span>
                        <span ng-if="userRole=='cleaner'">Inscribed as: <strong class="text-success">" Help cleaning "</strong></span>
                        <span ng-if="userRole=='simpleGuest'">Inscribed as: <strong class="text-success">" Simple Guest "</strong></span>
                    </div>
                    <div class="meal-info-label" ng-if="userRole=='admin'">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Total price of the groceries: <strong class="text-success">{{meal.price}}</strong>
                    </div>
                    <div class="meal-info-label" ng-if="userRole=='admin'">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Total participants payback</br>
                        <span style="padding-left:30px;">If the meal is full: <strong class="text-success">{{meal.pricePaybackIfFull}}</strong></span></br>
                        <span style="padding-left:30px;">Currently: <strong class="text-success">{{meal.currentPricePayback}}</strong></span>
                    </div>
                    <div class="meal-info-label">
                        <span class="glyphicon glyphicon-piggy-bank"></span>
                        <span ng-if="userRole=='admin'">Price of your meal: <strong class="text-success">{{meal.detailedInfo.requiredGuests.hosts.price}}</strong></span>
                        <span ng-if="userRole=='cook'"><strong class="text-success">{{meal.detailedInfo.requiredGuests.cooks.price}}</strong> left to pay to {{meal.admin.first_name}} {{meal.admin.last_name}}</span>
                        <span ng-if="userRole=='cleaner'"><strong class="text-success">{{meal.detailedInfo.requiredGuests.cleaners.price}}</strong> left to pay to {{meal.admin.first_name}} {{meal.admin.last_name}}</span>
                        <span ng-if="userRole=='simpleGuest'"><strong class="text-success">{{meal.detailedInfo.requiredGuests.simpleGuests.price}}</strong> left to pay to {{meal.admin.first_name}} {{meal.admin.last_name}}</span>
                    </div>
                    <div class="meal-info-label" ng-if="userRole=='admin'">
                        <img src="/static/sources/multiple-users-silhouette.png" style="width:14px; height:14px"> Subscription recapitulatory: <strong>{{meal.nbGuests - meal.nbRemainingPlaces}}/{{meal.nbGuests}}</strong>
                    </div>
                    <div class="meal-info-label" ng-if="meal.veggies == true || meal.vegan == true">
                        <img src="/static/sources/vegetarian.png" style="width:14px; height:14px"> <span ng-if="meal.veggies==true">Vegetarian</span><span ng-if="meal.vegan==true">Vegan</span> meal
                    </div>
                    <div class="meal-info-label">
                        <span class="glyphicon glyphicon-calendar"></span> {{meal.time |date:'EEEE dd MMMM'}} <span class="hidden-sm hidden-md hidden-lg"></br></span><span class="glyphicon glyphicon-time meal-clock-display"></span> <span ng-show="(userRole=='cook' || userRole=='admin') && meal.detailedInfo.requiredGuests.cooks.timeCooking">{{meal.detailedInfo.requiredGuests.cooks.timeCooking |date:'HH:mm'}}</span>
                        <span ng-hide="(userRole=='cook' || userRole=='admin') && meal.detailedInfo.requiredGuests.cooks.timeCooking">{{meal.time |date:'HH:mm'}}</span>
                    </div>
                    <div class="meal-info-label">
                        <span class="glyphicon glyphicon-map-marker"></span> <span>{{meal.privateInfo.address.name}}</span><span class="hidden-sm hidden-md hidden-lg" ng-if="meal.privateInfo.address.complement"></br><span style="padding-left:18px">{{meal.privateInfo.address.complement}}</span></span>
                        <span class="hidden-xs" style="margin-left:-3px">, {{meal.address.town}}, {{meal.address.country}}</span><span class="hidden-sm hidden-md hidden-lg"></br><span style="padding-left:18px">{{meal.address.town}}, {{meal.address.country}}</span></span>
                        <span ng-if="meal.privateInfo.address.complement"><span class="hidden-xs"> - {{meal.privateInfo.address.complement}}</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="userRole!='admin'">
            <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" class="hidden-sm hidden-md hidden-lg">
                <ng-map id="map" center="{{meal.address.lat}},{{meal.address.lng}}" zoom="14" max style="display: block" class="my-meal-dtld-map-height">
                    <marker position="{{meal.address.lat}},{{meal.address.lng}}" id="{{meal._id}}"></marker>
                </ng-map>
            </div>
            <div class="clear10"></div>
        </div>
    </div>
    <div class="col-sm-5 hidden-xs" ng-if="userRole!='admin'">
        <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
            <ng-map id="map" center="{{meal.address.lat}},{{meal.address.lng}}" zoom="14" max style="display: block" class="my-meal-dtld-map-height">
                <marker position="{{meal.address.lat}},{{meal.address.lng}}" id="{{meal._id}}"></marker>
            </ng-map>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 my-meal-dtld-participant">
            <strong>Participants</strong>
        </div>
    </div>
    <div class="clear10"></div>
    <div class="row">
        <div class="panel panel-default my-meal-dtld-panel" ng-class="{'my-meal-dtld-panel-success': userRole=='admin', 'my-meal-dtld-panel-info': userRole!='admin'}">
            <div class="panel-body">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="text-primary size-20">Your host:<span class="my-meal-dtld-price" style="font-size:14px" ng-if="userRole=='admin'">{{meal.detailedInfo.requiredGuests.hosts.price}}</span></div>
                    </div>
                    <div class="row" ng-repeat="participant in meal.privateInfo.users">
                        <div ng-if="participant.role[0] == 'admin'" style="padding-top:10px">
                            <div class="pull-left">
                                <a ui-sref="profile({userId: participant._id})"><img class="img-circle my-meal-dtld-profilePic" ng-src="{{participant.picture.data.url}}" alt="User profile picture" /><span class="my-meal-dtld-guestList" style="padding-right:5px" ng-class="{'my-meal-dtld-guestList-old': isOldMeal() == true}">{{participant.first_name}} {{participant.last_name}}</a><span ng-if="participant.privateInfo.cellphone && isOldMeal() == false"><span class="hidden-xs my-meal-dtld-cellphone-position">- {{participant.privateInfo.cellphone}}</span>
                                    <span class="hidden-sm hidden-md hidden-lg my-meal-dtld-cellphone-position"></br>{{participant.privateInfo.cellphone}}</span>
                                    </span>
                                    </span>
                            </div>
                            <div class="pull-right" ng-if="isOldMeal()==true && user._id != participant._id" ng-class="{'margintop7': checkAlreadyReviewed(participant._id) == true}">
                                <span class="form-group">
                                <span style="padding-right:10px" ng-hide="checkAlreadyReviewed(participant._id) == true"><em>Give a grade:</em></span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'positive' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-plus-sign text-success" ng-click="sendReview(participant._id, participant.role, 'rating', 'positive')"  ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Positive" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'neutral' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-record text-default" ng-click="sendReview(participant._id, participant.role, 'rating', 'neutral')" ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Neutral" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-minus-sign text-danger" ng-click="sendReview(participant._id, participant.role, 'rating', 'negative')" ng-hide="getDataForReview(participant._id, 'rating') != 'negative' && checkAlreadyReviewed(participant._id) == true" ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Negative" tooltip-placement="top" style="cursor:pointer"></span>
                                <input type="text" ng-model="participant.comment" class="form-control my-meal-dtld-input-review" placeholder="Leave a review to {{participant.first_name}}" ng-hide="checkAlreadyReviewed(participant._id) == true"><span ng-show="checkAlreadyReviewed(participant._id) == true"
                                    class="my-meal-dtld-text-review">"<em>{{getDataForReview(participant._id, 'comment')}}</em>"</span>
                                <a ng-click="sendReview(participant._id, participant.role, 'comment', participant.comment)" ng-hide="checkAlreadyReviewed(participant._id) == true" class="btn btn-default" ng-disabled="!getDataForReview(participant._id, 'rating')" uib-tooltip="Grade {{participant.first_name}} first" tooltip-placement="top"
                                    tooltip-enable="!getDataForReview(participant._id, 'rating')">Send</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="meal.detailedInfo.requiredGuests.cooks">
        <div class="panel panel-default my-meal-dtld-panel" ng-class="{'my-meal-dtld-panel-success': userRole=='cook'}">
            <div class="panel-body">
                <div class="col-xs-8">
                    <div class="row">
                        <div class="text-primary size-20">Help cooking:<span class="hidden-sm hidden-md hidden-lg"></br></span><span class="my-meal-dtld-price" style="font-size:14px" ng-if="userRole=='admin' && meal.detailedInfo.requiredGuests.cooks.price != undefined">{{meal.detailedInfo.requiredGuests.cooks.price}} per pers</span></div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <span class="glyphicon glyphicon-time"></span> {{meal.detailedInfo.requiredGuests.cooks.timeCooking |date:'HH:mm'}}
                    </div>
                    <div class="row">
                        Remaining places: {{meal.detailedInfo.requiredGuests.cooks.nbRemainingPlaces}}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row" ng-repeat="participant in meal.privateInfo.users">
                        <div ng-if="participant.role[0] == 'cook' && participant.status == 'accepted'" style="padding-top:10px">
                            <div class="pull-left">
                                <a ui-sref="profile({userId: participant._id})"><img class="img-circle my-meal-dtld-profilePic" ng-src="{{participant.picture.data.url}}" alt="User profile picture" /><span class="my-meal-dtld-guestList" style="padding-right:5px" ng-class="{'my-meal-dtld-guestList-old': isOldMeal() == true}">{{participant.first_name}} {{participant.last_name}}</a><span ng-if="participant.privateInfo.cellphone && isOldMeal() == false"><span class="hidden-xs my-meal-dtld-cellphone-position"> - {{participant.privateInfo.cellphone}}</span>
                                    <span class="hidden-sm hidden-md hidden-lg my-meal-dtld-cellphone-position"></br>{{participant.privateInfo.cellphone}}</span>
                                    </span>
                                    </span>
                            </div>
                            <div class="pull-right" ng-if="isOldMeal()==true && user._id != participant._id" ng-class="{'margintop7': checkAlreadyReviewed(participant._id) == true}">
                                <span class="form-group">
                                <span style="padding-right:10px" ng-hide="checkAlreadyReviewed(participant._id) == true"><em>Give a grade:</em></span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'positive' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-plus-sign text-success" ng-click="sendReview(participant._id, participant.role, 'rating', 'positive')"  ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Positive" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'neutral' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-record text-default" ng-click="sendReview(participant._id, participant.role, 'rating', 'neutral')" ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Neutral" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-minus-sign text-danger" ng-click="sendReview(participant._id, participant.role, 'rating', 'negative')" ng-hide="getDataForReview(participant._id, 'rating') != 'negative' && checkAlreadyReviewed(participant._id) == true" ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Negative" tooltip-placement="top" style="cursor:pointer"></span>
                                <input type="text" ng-model="participant.comment" class="form-control my-meal-dtld-input-review" placeholder="Leave a review to {{participant.first_name}}" ng-hide="checkAlreadyReviewed(participant._id) == true"><span ng-show="checkAlreadyReviewed(participant._id) == true"
                                    class="my-meal-dtld-text-review">"<em>{{getDataForReview(participant._id, 'comment')}}</em>"</span>
                                <a ng-click="sendReview(participant._id, participant.role, 'comment', participant.comment)" ng-hide="checkAlreadyReviewed(participant._id) == true" class="btn btn-default" ng-disabled="!getDataForReview(participant._id, 'rating')" uib-tooltip="Grade {{participant.first_name}} first" tooltip-placement="top"
                                    tooltip-enable="!getDataForReview(participant._id, 'rating')">Send</a>
                                </span>
                            </div>
                        </div>
                        <div ng-if="participant.role[0] == 'cook' && participant.status == 'pending'"><img class="img-circle my-meal-dtld-profilePic" ng-src="static/sources/viewMyMealDtld/unknown_user.png" /><span class="text-muted my-meal-dtld-guestList">Pending request</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="meal.detailedInfo.requiredGuests.cleaners">
        <div class="panel panel-default my-meal-dtld-panel" ng-class="{'my-meal-dtld-panel-success': userRole=='cleaner'}">
            <div class="panel-body">
                <div class="col-xs-8">
                    <div class="row">
                        <div class="text-primary size-20">Help cleaning:<span class="hidden-sm hidden-md hidden-lg"></br></span><span class="my-meal-dtld-price" style="font-size:14px" ng-if="userRole=='admin' && meal.detailedInfo.requiredGuests.cleaners.price != undefined">{{meal.detailedInfo.requiredGuests.cleaners.price}} per pers</span></div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <span class="glyphicon glyphicon-time"></span> {{meal.time |date:'HH:mm'}}
                    </div>
                    <div class="row">
                        Remaining places: {{meal.detailedInfo.requiredGuests.cleaners.nbRemainingPlaces}}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row" ng-repeat="participant in meal.privateInfo.users">
                        <div ng-if="participant.role[0] == 'cleaner' && participant.status == 'accepted'" style="padding-top:10px">
                            <div class="pull-left">
                                <a ui-sref="profile({userId: participant._id})"><img class="img-circle my-meal-dtld-profilePic" ng-src="{{participant.picture.data.url}}" alt="User profile picture" /><span class="my-meal-dtld-guestList" style="padding-right:5px" ng-class="{'my-meal-dtld-guestList-old': isOldMeal() == true}">{{participant.first_name}} {{participant.last_name}}</a><span ng-if="participant.privateInfo.cellphone && isOldMeal() == false"><span class="hidden-xs my-meal-dtld-cellphone-position"> - {{participant.privateInfo.cellphone}}</span>
                                    <span class="hidden-sm hidden-md hidden-lg my-meal-dtld-cellphone-position"></br>{{participant.privateInfo.cellphone}}</span>
                                    </span>
                                    </span>
                            </div>
                            <div class="pull-right" ng-if="isOldMeal()==true && user._id != participant._id" ng-class="{'margintop7': checkAlreadyReviewed(participant._id) == true}">
                                <span class="form-group">
                                <span style="padding-right:10px" ng-hide="checkAlreadyReviewed(participant._id) == true"><em>Give a grade:</em></span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'positive' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-plus-sign text-success" ng-click="sendReview(participant._id, participant.role, 'rating', 'positive')"  ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Positive" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'neutral' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-record text-default" ng-click="sendReview(participant._id, participant.role, 'rating', 'neutral')" ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Neutral" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-minus-sign text-danger" ng-click="sendReview(participant._id, participant.role, 'rating', 'negative')" ng-hide="getDataForReview(participant._id, 'rating') != 'negative' && checkAlreadyReviewed(participant._id) == true" ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Negative" tooltip-placement="top" style="cursor:pointer"></span>
                                <input type="text" ng-model="participant.comment" class="form-control my-meal-dtld-input-review" placeholder="Leave a review to {{participant.first_name}}" ng-hide="checkAlreadyReviewed(participant._id) == true"><span ng-show="checkAlreadyReviewed(participant._id) == true"
                                    class="my-meal-dtld-text-review">"<em>{{getDataForReview(participant._id, 'comment')}}</em>"</span>
                                <a ng-click="sendReview(participant._id, participant.role, 'comment', participant.comment)" ng-hide="checkAlreadyReviewed(participant._id) == true" class="btn btn-default" ng-disabled="!getDataForReview(participant._id, 'rating')" uib-tooltip="Grade {{participant.first_name}} first" tooltip-placement="top"
                                    tooltip-enable="!getDataForReview(participant._id, 'rating')">Send</a>
                                </span>
                            </div>
                        </div>
                        <div ng-if="participant.role[0] == 'cleaner' && participant.status == 'pending'"><img class="img-circle my-meal-dtld-profilePic" ng-src="../static/sources/viewMyMealDtld/unknown_participant.png" /><span class="text-muted my-meal-dtld-guestList">Pending request</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="meal.detailedInfo.requiredGuests.simpleGuests">
        <div class="panel panel-default my-meal-dtld-panel" ng-class="{'my-meal-dtld-panel-success': userRole=='simpleGuest'}">
            <div class="panel-body">
                <div class="col-xs-8">
                    <div class="row">
                        <div class="text-primary size-20">Simple guest:<span class="hidden-sm hidden-md hidden-lg"></br></span><span class="my-meal-dtld-price" style="font-size:14px" ng-if="userRole=='admin' && meal.detailedInfo.requiredGuests.simpleGuests.price != undefined">{{meal.detailedInfo.requiredGuests.simpleGuests.price}} per pers</span></div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <span class="glyphicon glyphicon-time"></span> {{meal.time |date:'HH:mm'}}
                    </div>
                    <div class="row">
                        Remaining places: {{meal.detailedInfo.requiredGuests.simpleGuests.nbRemainingPlaces}}
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row" ng-repeat="participant in meal.privateInfo.users">
                        <div ng-if="participant.role[0] == 'simpleGuest' && participant.status == 'accepted'" style="padding-top:10px">
                            <div class="pull-left">
                                <a ui-sref="profile({userId: participant._id})"><img class="img-circle my-meal-dtld-profilePic" ng-src="{{participant.picture.data.url}}" alt="User profile picture" /><span class="my-meal-dtld-guestList" style="padding-right:5px" ng-class="{'my-meal-dtld-guestList-old': isOldMeal() == true}">{{participant.first_name}} {{participant.last_name}}</a><span ng-if="participant.privateInfo.cellphone && isOldMeal() == false"><span class="hidden-xs my-meal-dtld-cellphone-position"> - {{participant.privateInfo.cellphone}}</span>
                                    <span class="hidden-sm hidden-md hidden-lg my-meal-dtld-cellphone-position"></br>{{participant.privateInfo.cellphone}}</span>
                                    </span>
                                    </span>
                            </div>
                            <div class="pull-right" ng-if="isOldMeal()==true && user._id != participant._id" ng-class="{'margintop7': checkAlreadyReviewed(participant._id) == true}">
                                <span class="form-group">
                                <span style="padding-right:10px" ng-hide="checkAlreadyReviewed(participant._id) == true"><em>Give a grade:</em></span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'positive' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-plus-sign text-success" ng-click="sendReview(participant._id, participant.role, 'rating', 'positive')"  ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'positive' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Positive" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span ng-hide="getDataForReview(participant._id, 'rating') != 'neutral' && checkAlreadyReviewed(participant._id) == true"><span class="glyphicon glyphicon-record text-default" ng-click="sendReview(participant._id, participant.role, 'rating', 'neutral')" ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'neutral' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Neutral" tooltip-placement="top" style="cursor:pointer"></span>&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-minus-sign text-danger" ng-click="sendReview(participant._id, participant.role, 'rating', 'negative')" ng-hide="getDataForReview(participant._id, 'rating') != 'negative' && checkAlreadyReviewed(participant._id) == true" ng-class="{'size-18': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) != true, 'my-meal-dtld-glyphicon-position': getDataForReview(participant._id, 'rating') == 'negative' && checkAlreadyReviewed(participant._id) == true}"
                                    uib-tooltip="Negative" tooltip-placement="top" style="cursor:pointer"></span>
                                <input type="text" ng-model="participant.comment" class="form-control my-meal-dtld-input-review" placeholder="Leave a review to {{participant.first_name}}" ng-hide="checkAlreadyReviewed(participant._id) == true"><span ng-show="checkAlreadyReviewed(participant._id) == true"
                                    class="my-meal-dtld-text-review">"<em>{{getDataForReview(participant._id, 'comment')}}</em>"</span>
                                <a ng-click="sendReview(participant._id, participant.role, 'comment', participant.comment)" ng-hide="checkAlreadyReviewed(participant._id) == true" class="btn btn-default" ng-disabled="!getDataForReview(participant._id, 'rating')" uib-tooltip="Grade {{participant.first_name}} first" tooltip-placement="top"
                                    tooltip-enable="!getDataForReview(participant._id, 'rating')">Send</a>
                                </span>
                            </div>
                        </div>
                        <div ng-if="participant.role[0] == 'simpleGuest' && participant.status == 'pending'"><img class="img-circle my-meal-dtld-profilePic" ng-src="../static/sources/viewMyMealDtld/unknown_participant.png" /><span class="text-muted my-meal-dtld-guestList">Pending request</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="fb-comments" data-href="{{data_href_comment}}" data-width="100%" data-numposts="5"></div>
        </div>
    </div>
    <div class="row my-meal-btn-center">
        <a ui-sref="my_meals" class="btn btn-primary">Back to my meals</a>
    </div>
</div>