<div class="clear20"></div>
<div class="container">
    <h1 class="general-title" translate>CREATE_A_MEAL.TITLE</h1>
    <form class="needs-validation" [formGroup]="createMealForm" (ngSubmit)="onSubmit()" novalidate>
        <fieldset>
            <h4 class="font-italic" translate>CREATE_A_MEAL.FORM.PUBLIC_INFO</h4>
            <div class="clear10"></div>
            <div formGroupName="menu">
                <div class="form-group" [ngClass]="{'was-validated': createMealForm.get('menu.title').hasError('required') && (createMealForm.get('menu.title').dirty || createMealForm.get('menu.title').touched)}">
                    <input type="text" class="form-control cutlery-menu" placeholder="{{'CREATE_A_MEAL.FORM.MENU_TITLE'|translate}}" formControlName="title" id="menuTitle" required>
                    <div class="invalid-feedback" *ngIf="createMealForm.get('menu.title').hasError('required') && (createMealForm.get('menu.title').dirty || createMealForm.get('menu.title').touched)" translate>CREATE_A_MEAL.FORM.ERROR.MENU</div>
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="{{'CREATE_A_MEAL.FORM.MENU_DESCRIPTION'|translate}}" formControlName="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div><em translate>CREATE_A_MEAL.FORM.SPECIAL_MEAL.TITLE</em> <i class="fa fa-info-circle" ngbTooltip="{{'CREATE_A_MEAL.FORM.SPECIAL_MEAL.TOOLTIP'|translate}}" placement="top" translate></i></div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label"><input type="checkbox" class="form-check-input" formControlName="veggies"><span translate>CREATE_A_MEAL.FORM.VEGETARIAN</span></label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label"><input type="checkbox" class="form-check-input" formControlName="vegan"><span translate>CREATE_A_MEAL.FORM.VEGAN</span></label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label"><input type="checkbox" class="form-check-input" formControlName="halal"><span translate>CREATE_A_MEAL.FORM.HALAL</span></label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label"><input type="checkbox" class="form-check-input" formControlName="kosher"><span translate>CREATE_A_MEAL.FORM.KOSHER</span></label>
                </div>
            </div>
            <div class="form-row">
                <div class="col-auto mb-2 mb-sm-0">
                    <div class="input-group" [ngClass]="{'was-validated': createMealForm.get('date').hasError('required') && (createMealForm.get('date').dirty || createMealForm.get('date').touched)}">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-light"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control" name="dated" ngbDatepicker #d="ngbDatepicker" popup-placement="bottom-left" (click)="d.toggle()" formControlName="date" placeholder="{{'CREATE_A_MEAL.FORM.DATE'|translate}}" required/>
                        <div class="invalid-feedback" *ngIf="createMealForm.get('date').hasError('required') && (createMealForm.get('date').dirty || createMealForm.get('date').touched)" translate>CREATE_A_MEAL.FORM.ERROR.DATE</div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="input-group" [ngClass]="{'was-validated': createMealForm.get('time').hasError('required') && (createMealForm.get('time').dirty || createMealForm.get('time').touched)}">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-light"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                        </div>
                        <input type="time" class="form-control" formControlName="time" required>
                        <div class="invalid-feedback" *ngIf="createMealForm.get('time').hasError('required') && (createMealForm.get('time').dirty || createMealForm.get('time').touched)" translate>CREATE_A_MEAL.FORM.ERROR.TIME</div>
                    </div>
                </div>
            </div>
            <table class="table table-hover text-center" style="line-height:inherit;" formGroupName="detailedInfo">
                <thead>
                    <tr>
                        <th class="border-0"></th>
                        <th class="border-0 pb-2" style="width:80px"><span ngbTooltip="{{'CREATE_A_MEAL.FORM.PARTICIPANTS'|translate}}" placement="top"><img src="/assets/images/create_meal/multiple-users-silhouette.png" height="18px" width="18px"></span></th>
                        <th class="border-0 pb-2" style="width:95px"><span class="fa fa-clock-o" style="font-size:18px" ngbTooltip="{{'CREATE_A_MEAL.FORM.ARRIVAL_TIME'|translate}}" placement="top"></span></th>
                    </tr>
                </thead>
                <tbody formGroupName="requiredGuests">
                    <tr class="table-meal-border">
                        <td translate class="text-left">CREATE_A_MEAL.FORM.HOST.NAME</td>
                        <td>1</td>
                        <td></td>
                    </tr>
                    <tr class="table-meal-border" formGroupName="cooks">
                        <td class="text-left align-middle"><span ngbTooltip="{{'CREATE_A_MEAL.FORM.HELP_COOKING.TOOLTIP'|translate}}" placement="top-left" translate>CREATE_A_MEAL.FORM.HELP_COOKING.NAME</span></td>
                        <td class="px-0"><input type="number" min="0" class="form-control text-center px" formControlName="nbRquCooks" name="nbRquCooks"></td>
                        <td [ngClass]="{'was-validated': timeCookingValidation() && (createMealForm.get('detailedInfo.requiredGuests.cooks.nbRquCooks').dirty || createMealForm.get('detailedInfo.requiredGuests.cooks.nbRquCooks').touched)}"><input type="time" name="timeCooking" class="form-control text-center" formControlName="timeCooking" [required]="createMealForm.get('detailedInfo.requiredGuests.cooks.nbRquCooks').value>0"></td>
                    </tr>
                    <tr class="table-meal-border" formGroupName="cleaners">
                        <td class="text-left align-middle"><span ngbTooltip="{{'CREATE_A_MEAL.FORM.HELP_CLEANING.TOOLTIP'|translate}}" placement="top-left" translate>CREATE_A_MEAL.FORM.HELP_CLEANING.NAME</span></td>
                        <td class="px-0"><input type="number" min="0" class="form-control text-center" formControlName="nbRquCleaners" name="nbRquCleaners"></td>
                        <td><input type="time" class="form-control text-center" formControlName="timeCleaning" name="timeCleaning"></td>
                    </tr>
                    <tr class="table-meal-border" formGroupName="simpleGuests">
                        <td class="text-left align-middle"><span ngbTooltip="{{'CREATE_A_MEAL.FORM.SIMPLE_GUEST.TOOLTIP'|translate}}" placement="top-left" translate>CREATE_A_MEAL.FORM.SIMPLE_GUEST.NAME</span></td>
                        <td class="px-0"><input type="number" min="0" class="form-control text-center" formControlName="nbRquSimpleGuests" name="nbRquSimpleGuests"></td>
                        <td class="align-middle"><span *ngIf="createMealForm.get('detailedInfo.requiredGuests.simpleGuests.nbRquSimpleGuests').value > 0">{{ createMealForm.get('time').value }}</span></td>
                    </tr>
                    <tr class="table-meal-border table-meal-border-bottom">
                        <td class="text-left" translate>CREATE_A_MEAL.FORM.TOTAL</td>
                        <td>{{ createMealForm.get('detailedInfo.requiredGuests.cooks.nbRquCooks').value + createMealForm.get('detailedInfo.requiredGuests.cleaners.nbRquCleaners').value + createMealForm.get('detailedInfo.requiredGuests.simpleGuests.nbRquSimpleGuests').value
                            + 1 }}
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="was-validated" *ngIf="createMealForm.get('detailedInfo.requiredGuests.cooks.timeCooking').hasError('required') && (createMealForm.get('detailedInfo.requiredGuests.cooks.timeCooking').dirty || createMealForm.get('detailedInfo.requiredGuests.cooks.timeCooking').touched)">
                <div class="invalid-feedback" translate>CREATE_A_MEAL.FORM.ERROR.ARRIVAL_TIME_HELP_COOKING</div>
            </div>
            <div class="form-row">
                <div class="col-auto">
                    <div class="form-group">
                        <div class="input-group" [ngClass]="{'was-validated': createMealForm.get('price').hasError('required') && (createMealForm.get('price').dirty || createMealForm.get('price').touched)}">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light">{{ createMealForm.get('currency_symbol').value }}</span>
                            </div>
                            <input type="number" name="price" class="form-control" formControlName="price" placeholder="{{'CREATE_A_MEAL.FORM.GROCERIES_PRICE' | translate}}" min="0" required/>
                            <div class="invalid-feedback" *ngIf="createMealForm.get('price').hasError('required') && (createMealForm.get('price').dirty || createMealForm.get('price').touched)" translate>CREATE_A_MEAL.FORM.ERROR.GROCERIES_PRICE</div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="font-italic" translate>CREATE_A_MEAL.FORM.PRIVATE_INFO</h4>
            <div class="clear10"></div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-light"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                </div>
                <input type="text" name="address" class="form-control" placeholder="{{'CREATE_A_MEAL.FORM.ADDRESS'|translate}}" autocorrect="off" autocapitalize="off" spellcheck="off" formControlName="address" #autocompleteAddress required novalidate>
                <div class="invalid-feedback" translate>CREATE_A_MEAL.FORM.ERROR.ADDRESS</div>
                <!--<div class="input-group-prepend">
                    <button class="btn" (click)="setCurrentPosition()" type="button">Me Localiser</button>
                </div>-->
            </div>
            <div class="form-group">
                <input type="text" class="form-control" style="font-size:80%" placeholder="{{'CREATE_A_MEAL.FORM.ADDRESS_COMPLEMENT'|translate}}" formControlName="addressComplement" name="addressComplement">
            </div>
            <div class="form-row">
                <div class="col-auto">
                    <div class="form-group">
                        <div class="input-group" [ngClass]="{'was-validated': createMealForm.get('cellphone').hasError('required') && (createMealForm.get('cellphone').dirty || createMealForm.get('cellphone').touched)}">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light"><i class="fa fa-phone" aria-hidden="true"></i></span>
                            </div>
                            <input type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" class="form-control" placeholder="{{'CREATE_A_MEAL.FORM.CELLPHONE.NAME'|translate}}" formControlName="cellphone"
                                ngbTooltip="{{'CREATE_A_MEAL.FORM.CELLPHONE.TOOLTIP'|translate}}" placement="bottom-left" required/>
                            <div class="invalid-feedback" translate>CREATE_A_MEAL.FORM.ERROR.CELLPHONE</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear10"></div>
            <h4 class="font-italic" translate>CREATE_A_MEAL.FORM.NOTIFICATIONS.TITLE</h4>
            <div class="clear10"></div>
            <div class="form-row">
                <div class="col-sm-12">
                    <div translate>CREATE_A_MEAL.FORM.NOTIFICATIONS.AUTOMATIC_BOOKING.TITLE</div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="automaticSubscriptionFalse" formControlName="automaticSubscription" [value]="false">
                        <label class="form-check-label" for="automaticSubscriptionFalse" translate>CREATE_A_MEAL.FORM.NOTIFICATIONS.AUTOMATIC_BOOKING.NO <i class="fa fa-info-circle" ngbTooltip="{{'CREATE_A_MEAL.FORM.NOTIFICATIONS.AUTOMATIC_BOOKING.NO_TOOLTIP'|translate}}" placement="top"></i></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="automaticSubscriptionTrue" formControlName="automaticSubscription" [value]="true">
                        <label class="form-check-label" for="automaticSubscriptionTrue" translate>CREATE_A_MEAL.FORM.NOTIFICATIONS.AUTOMATIC_BOOKING.YES</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div *ngIf="auth.user | async as user">
                    <div class="clear10"></div>
                    <div *ngIf="!user.privateInfo.user_ref">
                        <div><span translate>CREATE_A_MEAL.FORM.NOTIFICATIONS.MESSENGER_1</span> <span class="small" translate>CREATE_A_MEAL.FORM.NOTIFICATIONS.MESSENGER_2</span></div>
                        <div class="fb-messenger-checkbox" [attr.origin]="origin" [attr.page_id]="page_id" [attr.messenger_app_id]="app_id" [attr.user_ref]="user_ref" prechecked="true" allow_login="true" size="large"></div>
                    </div>
                    <div *ngIf="user.privateInfo.user_ref">
                        <div class="small text-info" translate>{{'CREATE_A_MEAL.FORM.NOTIFICATIONS.MESSENGER_ALREADY'}}</div>
                    </div>
                </div>
            </div>
            <div class="clear20"></div>
            <div class="form-row text-center">
                <div class="col">
                    <div *ngIf="auth.user | async; else guest">
                        <button type="submit" class="btn btn-md btn-primary" translate>CREATE_A_MEAL.FORM.PUBLISH</button>
                    </div>
                    <ng-template #guest>
                        <div class="text-center">
                            <button type="button" (click)="connectCreateMeal('facebook')" class="btn btn-social btn-facebook"><i class="fa fa-facebook"></i>Connect Facebook</button>
                            <button type="button" (click)="connectCreateMeal('google')" class="btn btn-social btn-google"><i class="fa fa-google-plus"></i>Connect Google</button>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="clear20"></div>
        </fieldset>
    </form>
</div>