<div class="clear20"></div>
<div class="container text-justify">
    <h3 class="general-title" translate>FOOTER.GENERAL_POLICIES.TITLE</h3>
    <div class="clear10"></div>
    <div class="col-12">
        <div class="row">
            <div><span translate>FOOTER.GENERAL_POLICIES.PARAGRAPH_1_1</span> <br /><span translate>FOOTER.GENERAL_POLICIES.PARAGRAPH_1_NOTE</span>
                <a routerLink="/footer_legal_terms_and_conditions"><u translate>FOOTER.GENERAL_POLICIES.PARAGRAPH_1_TERMS_OF_USE</u></a> <span translate>FOOTER.GENERAL_POLICIES.PARAGRAPH_1_2</span> <a routerLink="/footer_legal_privacy_policy"><u translate>FOOTER.GENERAL_POLICIES.PARAGRAPH_1_PRIVACY_POLICY</u></a>.
                <span translate>FOOTER.GENERAL_POLICIES.PARAGRAPH_1_3</span>
                <ul>
                    <li translate>FOOTER.GENERAL_POLICIES.PARAGRAPH_1_LIST.BULLET_1</li>
                    <li translate>FOOTER.GENERAL_POLICIES.PARAGRAPH_1_LIST.BULLET_2</li>
                    <li translate>FOOTER.GENERAL_POLICIES.PARAGRAPH_1_LIST.BULLET_3</li>
                    <li translate>FOOTER.GENERAL_POLICIES.PARAGRAPH_1_LIST.BULLET_4</li>
                </ul>
            </div>
            <br />
            <div>
                <h4 class="text-primary" translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.TITLE</h4>
                <ol>
                    <li><strong class="text-info" translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_1_1</strong>: <span translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_1_2</span></li>
                    <br />
                    <li><strong class="text-info" translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_2_1</strong>: <span translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_2_2</span></li>
                    <br />
                    <li><strong class="text-info" translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_3_1</strong>: <span translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_3_2</span></li>
                    <br />
                    <li><strong class="text-info" translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_4_1</strong>: <span translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_4_2</span></li>
                    <br />
                    <li><strong class="text-info" translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_5_1</strong>: <span translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_5_2</span></li>
                    <br />
                    <li><strong class="text-info" translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_6_1</strong>: <span translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_6_2</span></li>
                    <br />
                    <li><strong class="text-info" translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_7_1</strong>: <span translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_7_2</span></li>
                    <br />
                    <li><strong class="text-info" translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_8_1</strong>: <span translate>FOOTER.GENERAL_POLICIES.CONDUCT_POLICY.BULLET_8_2</span></li>
                    <br />
                </ol>
            </div>
            <div>
                <h4 class="text-primary" translate>FOOTER.GENERAL_POLICIES.CONTENT_POLICY.TITLE</h4>
                <span translate>FOOTER.GENERAL_POLICIES.CONTENT_POLICY.SUBTITLE</span>
                <ol>
                    <br />
                    <li><strong class="text-info" translate>FOOTER.GENERAL_POLICIES.CONTENT_POLICY.BULLET_1_1</strong>: <span translate>FOOTER.GENERAL_POLICIES.CONTENT_POLICY.BULLET_1_2</span></li>
                    <br />
                    <li><strong class="text-info" translate>FOOTER.GENERAL_POLICIES.CONTENT_POLICY.BULLET_2_1</strong>: <span translate>FOOTER.GENERAL_POLICIES.CONTENT_POLICY.BULLET_2_2</span></li>
                    <br />
                    <li><strong class="text-info" translate>FOOTER.GENERAL_POLICIES.CONTENT_POLICY.BULLET_3_1</strong>: <span translate>FOOTER.GENERAL_POLICIES.CONTENT_POLICY.BULLET_3_2</span></li>
                    <br />
                    <li><strong class="text-info" translate>FOOTER.GENERAL_POLICIES.CONTENT_POLICY.BULLET_4_1</strong>: <span translate>FOOTER.GENERAL_POLICIES.CONTENT_POLICY.BULLET_4_2</span></li>
                    <br />
                    <li><strong class="text-info" translate>FOOTER.GENERAL_POLICIES.CONTENT_POLICY.BULLET_5_1</strong>: <span translate>FOOTER.GENERAL_POLICIES.CONTENT_POLICY.BULLET_5_2</span></li>
                    <br />
                    <li><strong class="text-info" translate>FOOTER.GENERAL_POLICIES.CONTENT_POLICY.BULLET_6_1</strong>: <span translate>FOOTER.GENERAL_POLICIES.CONTENT_POLICY.BULLET_6_2</span></li>
                </ol>
                <br />
                <div>
                    <h4 class="text-primary" translate>FOOTER.GENERAL_POLICIES.REFERENCE_POLICY.TITLE</h4><span translate>FOOTER.GENERAL_POLICIES.REFERENCE_POLICY.PARAGRAPH</span>
                </div>
                <br />
                <div>
                    <h4 class="text-primary" translate>FOOTER.GENERAL_POLICIES.REPORTING_VIOLATIONS.TITLE</h4>
                    <span translate>FOOTER.GENERAL_POLICIES.REPORTING_VIOLATIONS.PARAGRAPH</span> <a routerLink="/footer_more_contact" class="underline" translate>FOOTER.GENERAL_POLICIES.REPORTING_VIOLATIONS.CONTACT_US</a>.
                </div>
                <div class="clear40"></div>
            </div>
        </div>
    </div>
</div>