<!-- form-payment.html -->
<label>What's Your Console of Choice?</label>
<div class="form-group">
            <label for="inputNbParticipants" class="col-md-2 control-label">¿Cuantas personas quieres que participarán a tu cena?</label>
            <div class="col-md-10">
              <input type="number" class="form-control" id="inputNbParticipants" ng-model="editedMeal.nbParticipants"></input>
              <span class="help-block">(Incluyendote)</span>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPrice" class="col-md-2 control-label">¿Cual es el montó de las compras?</label>
            <div class="col-md-10">
              <input type="number" class="form-control" id="inputPrice" ng-model="editedMeal.price"></input>
              <span class="help-block">Mejor estimar más que menos / Para tener una idea de este montó, puedes ir <a href="https://web.cornershopapp.com"> acá</a> </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Te gustaría ayuda para ...</label><br>
            <div class="col-md-10">
              <input type="checkbox" id="buying" ng-model="checkboxHelpType.buying" ng-change="includingHelp()"><label>Hacer las compras</label><br/>
              <input type="checkbox" id="cooking" ng-model="checkboxHelpType.cooking" ng-change="includingHelp()"><label>Ayudar para la cocina</label><br/>
              <input type="checkbox" id="cleaning" ng-model="checkboxHelpType.cleaning" ng-change="includingHelp()"><label>Lavar la loza</label><br/>
              <input type="checkbox" id="nothelping" ng-model="checkboxHelpType.notHelping" ng-change="excludingHelp()"><label>Nada! Solo quiero venir como invitado =)</label>
             </div>
          </div>
<div>
  <button type="submit" class="btn btn-danger">Submit</button>
</div>