<!-- form-payment.html -->
<div class="col-xs-12">
  <div class="form-group">
    <h4 for="inputPrice">¿Cual es el montó de las compras?</h4>
    <input type="number" class="form-control" id="inputPrice" min="0" ng-model="editedMeal.price"></input>
    <span class="help-block">Mejor estimar más que menos / Para tener una idea de este montó, puedes ir <a href="https://web.cornershopapp.com"> acá</a> </span>
  </div>

  <div class="form-group">
    <h4 for="inputNumber_participants">¿Cuantas personas quieres que participarán a tu cena?</h4>
    <input type="number" class="form-control" id="inputNbParticipants" min="1" ng-model="editedMeal.nbParticipants"></input>
    <span class="help-block">(Incluyendote)</span>
  </div>


  <div class="form-group">
    <h4>Te gustaría ayuda para ...</h4>

    <input type="checkbox" id="helpBuyers" ng-model="helpBox.helpBuying" ng-change="includingHelp()"> Hacer las compras
    <br/>
    <div ng-if="helpBox.helpBuying" class="animate-if">
      <label for="inputIngredient">¿Cual es la lista de los ingredientes que necesitas ?</label>
      <input type="text" class="form-control" id="inputIngredient" ng-model="buyers.ingredient"></input>
      <span class="help-block">Para tener una idea de este montó, puedes ir<a href="https://web.cornershopapp.com"> acá</a></span>

      <label for="inputDeliveryTime">¿Cuando te gustaría que sean entregadas donde tu domicilio ?</label>
      <input type="datetime-local" class="form-control" id="inputDeliveryTime" ng-model="buyers.deliveryTime">
    </div>

    <input type="checkbox" id="cooking" ng-model="helpBox.helpCooking" ng-change="includingHelp()"> Ayudar para la cocina
    <br/>
    <div ng-if="helpBox.helpCooking" class="animate-if">
      <label for="inputTimeCooking">¿Cuando deben venir la gente para ayudarte a cocinar?</label>
      <input type="datetime-local" class="form-control" id="inputTimeCooking" ng-model="cooks.timeCooking">
      <label for="inputNbCook">¿Cuantos personas al máximo pueden inscribirse para ayudarte a cocinar?</label>
      <input type="number" class="form-control" min="0" ng-model="cooks.nbCooks" />
      <span class="help-block">Por ejemplo, yo necesito 3 ayudas para cocinar, entonces son 3 personas que se pueden inscribir max para ayudarme a cocinar</span>
    </div>

    <input type="checkbox" id="cleaning" ng-model="helpBox.helpCleaning" ng-change="includingHelp()"> Lavar la loza
    <br/>
    <div ng-if="helpBox.helpCleaning" class="animate-if">
      <label for="inputNbCleaner">¿Cuantos personas al máximo pueden inscribirse para ayudarte con la loza ?</label>
      <span class="help-block">Por ejemplo, con 2 personas lavando la loza, no se van a aburrir y además, será mucho más rápido</span>
      <input type="number" class="form-control" min="0" ng-model="cleaners.nbCleaners" />
    </div>

    <input type="checkbox" id="nothelping" ng-model="helpBox.notHelping" ng-change="excludingHelp()"> No necesito ayuda =)
  </div>
</div>

<div class="form-group">
  <div class="pager">
    <li><a ng-click="createMeal()" class="btn btn-primary btn-lg" ng-click="change_animation_to_the_right()">Publicar la cena</a></li>
    <li class="previous"><a ui-sref="create_meal.profile" ng-click="change_animation_to_the_left()">Volver</a></li>
  </div>
</div>
