<!-- form-payment.html -->
<div class="progress progress-striped active">
  <div class="progress-bar" style="width: 33%">Qué</div>
  <div class="progress-bar" style="width: 33%">Donde y Cuando</div>
  <div class="progress-bar" style="width: 34%">Comó</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <h4 for="inputPrice">¿Cual es el montó de las compras? *</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    <div class="form-group">
      <input type="number" class="form-control" id="inputPrice" name="inputPrice" min="0" ng-model="editedMeal.price" required></input>
    </div>
  </div>
  <div class="col-xs-4">
    <div ng-messages="form_create_meal.inputPrice.$error" role="alert" ng-if="form_create_meal.inputPrice.$dirty">
      <div ng-message="required" class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡Upss te falta eso!</strong>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-5">
    <div class="form-group">
      <span class="help-block">Mejor estimar más que menos ;)</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <h4 for="inputNumber_guests">¿Cuantas personas quieres que participarán a tu cena? *</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    <div class="form-group">
      <input type="number" class="form-control" id="inputnbGuests" name="inputnbGuests" min="1" ng-model="editedMeal.nbGuests" required></input>
      <span class="help-block">(Incluyendote)</span>
    </div>
  </div>
  <div class="col-xs-4">
    <div ng-messages="form_create_meal.inputnbGuests.$error" role="alert" ng-if="form_create_meal.inputnbGuests.$dirty">
      <div ng-message="required" class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡Olvidaste rellenar este campo!</strong>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <h4>Te gustaría ayuda para ...</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <input type="checkbox" id="cooking" ng-model="helpBox.helpCooking" ng-change="includingHelp()"> Ayudar para la cocina
    <br/>
  </div>
</div>
<div ng-if="helpBox.helpCooking" class="animate-if">
  <div class="row">
    <div class="col-xs-12">
      <label for="inputTimeCooking">¿A que hora esperas la gente para ayudarte a cocinar?</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div class="form-group">
        <div class="form-inline">
          <uib-timepicker ng-model="cooks.timeCooking" show-meridian="ismeridian"></uib-timepicker>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <label for="inputNbCook">¿Cuantos personas al máximo pueden inscribirse para ayudarte a cocinar?</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <input type="number" class="form-control" min="0" ng-model="cooks.nbRquCooks" />
    </div>
    <div class="col-xs-6">
      <div class="help-block">Por ejemplo, yo necesito 3 ayudas para cocinar, entonces son 3 personas que se pueden inscribir max para ayudarme a cocinar</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <input type="checkbox" id="cleaning" ng-model="helpBox.helpCleaning" ng-change="includingHelp()"> Lavar la loza
    <br/>
  </div>
</div>
<div ng-if="helpBox.helpCleaning" class="animate-if">
  <div class="row">
    <div class="col-xs-12">
      <label for="inputNbCleaner">¿Cuantos personas al máximo pueden inscribirse para ayudarte con la loza ?</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <input type="number" class="form-control" min="0" ng-model="cleaners.nbRquCleaners" />
    </div>
    <div class="col-xs-6">
      <div class="help-block">Por ejemplo, con 2 personas lavando la loza, no se van a aburrir y además, será mucho más rápido</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <input type="checkbox" id="nothelping" ng-model="helpBox.notHelping" ng-change="excludingHelp()"> No necesito ayuda =)
  </div>
</div>

<div class="row">
  <div class="form-group">
    <div class="pager">
      <li><a ui-sref="create_meal.payment" class="btn btn-primary btn-lg" ng-if="form_create_meal.inputnbGuests.$invalid || form_create_meal.inputPrice.$invalid" ng-click="form_create_meal.inputPrice.$dirty=true;form_create_meal.inputnbGuests.$dirty=true">Publicar la cena</a></li>
      <li><a ui-sref="view_meals" ng-click="createMeal()" class="btn btn-primary btn-lg" ng-if="form_create_meal.inputPrice.$valid && form_create_meal.inputnbGuests.$valid">Publicar la cena</a></li>
      <li class="previous"><a ui-sref="create_meal.profile" ng-click="change_animation_to_the_left()">Volver</a></li>
    </div>
  </div>
</div>