@import '~app/app.component.scss';
@import '~app/footer/footer-style.scss';

@media (min-width: 768px) {
    .footer-careers-align-photo-text-middle {
        display: flex;
        align-items: center
    }
}

#footer-careers-photo {
    width: 200px;
    border-radius: 18px
}