<div class="d-inline-block"></div>
<div class="container">
    <h3 class="general-title" translate>FOOTER.CAREERS_FEEDBACKS.TITLE</h3>
    <div class="clear30"></div>
    <div class="text-justify">
        <div class="footer-careers-align-photo-text-middle">
            <span class="d-block d-sm-none"><img src="/assets/images/footer_more_careers/volunteer.jpeg" id="footer-careers-photo"></span>
            <img src="/assets/images/footer_more_careers/volunteer.jpeg" id="footer-careers-photo" style="margin-right:20px" class="d-none d-sm-block">
            <span class="d-block d-sm-none"><br /></span>
            <span translate>FOOTER.CAREERS_FEEDBACKS.PARAGRAPH_1</span>
        </div>
        <div class="clear30"></div>
        <div class="footer-careers-align-photo-text-middle">
            <span class="d-block d-sm-none"><img src="/assets/images/footer_more_careers/feedback.jpg" id="footer-careers-photo"></span>
            <span class="d-block d-sm-none"><br /></span>
            <span><span translate>FOOTER.CAREERS_FEEDBACKS.PARAGRAPH_2</span> <a href="mailto:dimitri.kohn@centrale-marseille.fr?subject=myCommuneaty: contact us&cc=maylis.sarhy@centrale-marseille.fr">email</a> <span translate>FOOTER.GUIDELINES.OR</span> <a href="https://www.facebook.com/profile.php?id=100010745836006&fref=ts" target="_blank">facebook</a>.</span>
            <img src="/assets/images/footer_more_careers/feedback.jpg" id="footer-careers-photo" style="margin-left:20px" class="d-none d-sm-block">
        </div>
        <div class="clear30"></div>
    </div>
</div>