<div class="clear30 hidden-xs"></div>
<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
    <ng-map id="mealsMap" center='current-position' geo-fallback-center="[-37.814, 144.96332]" zoom="9" max style="display: block" class="map-height">
        <span ng-repeat="meal in mealsWeekDaysFilter = (meals | filter: futurMealsFilter | filter: weekDaysFilter | filter: dateRangeFilter | filter: priceRangeFilter | filter: cityRangeFilter | filter: veggiesFilter | filter : veganFilter)">
            <marker position="{{meal.address.lat}},{{meal.address.lng}}" id="{{meal._id}}" on-click="openInfowindow()"></marker>
            <info-window id="{{meal._id}}">
                <div class="container-fluid">  
                    <div class="cutlery-menu map-menu">
                        <strong class="map-text-menu"> {{meal.menu.title}} </strong>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-calendar"></span> {{meal.time |date:'EEEE dd MMMM'}} <span class="hidden-sm hidden-md hidden-lg"></br></span><span class="glyphicon glyphicon-time meal-clock-display"></span> {{meal.time |date:'HH:mm'}}
                    </div>
                    <div class="clear10"></div>
                        <span class="glyphicon glyphicon-piggy-bank"></span> <span>From <strong class="meal-price text-success">{{meal.currency_symbol}} {{meal.mealPrice}}</strong></span>
                    <div class="clear10"></div>
                      <span ng-if="meal.veggies == true || meal.vegan == true"><img src="/static/sources/vegetarian.png" style="width:14px; height:14px"> <span ng-if="meal.veggies==true">Vegetarian</span><span ng-if="meal.vegan==true">Vegan</span> meal</span>
                    <div class="clear10" ng-if="meal.veggies == true || meal.vegan == true"></div>
                    <div>
                        <div>
                            <strong>Hosted by:</strong>
                        </div>
                        <div style="float:right;">
                            <a ui-sref="profile({userId:meal.admin._id})">
                                <span class="meal-admin meal-admin-name" style="padding-right:5px"> {{meal.admin.first_name}} {{meal.admin.last_name}} </span>
                                <img class="img-circle profilePic" style="margin-bottom: 0px;" ng-src="{{meal.admin.picture.data.url}}" alt="User profile picture" />
                                <div class="well well-sm well-resume-rating" style="border:initial">
                                    <table style="text-align:center">
                                        <tbody>
                                            <tr>
                                                <td ng-if="meal.admin.reviews.positive"><span class="glyphicon glyphicon-plus-sign text-success"></span></td>
                                                <td ng-if="meal.admin.reviews.neutral" style="padding:0px 8px"><span class="glyphicon glyphicon-record text-default"></span></td>
                                                <td ng-if="meal.admin.reviews.negative"><span class="glyphicon glyphicon-minus-sign text-danger"></span></td>
                                            </tr>
                                            <tr style="font-size:11px" ng-if="meal.admin.reviews.positive || meal.admin.reviews.neutral || meal.admin.reviews.negative">
                                                <td ng-if="meal.admin.reviews.positive">{{meal.admin.reviews.positive}}</td>
                                                <td style="padding:0px 8px" ng-if="meal.admin.reviews.neutral">{{meal.admin.reviews.neutral}}</td>
                                                <td ng-if="meal.admin.reviews.negative">{{meal.admin.reviews.negative}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </a>
                        </div>
                        <div class="clear10"></div>
                    </div>
                    <div class="text-center" style="width:110%">
                        <a ng-if="meal.detailedInfo.subscribed==false" ng-click=openModalDtld(meal._id) class="btn btn-primary btn-sm">Subscribe</a>
                        <a ng-if="meal.detailedInfo.subscribed==true" ng-click=openModalDtld(meal._id) class="btn btn-success btn-sm">See meal</a>
                    </div>
                </div>
            </info-window>
        </span>
    </ng-map>
</div>