<ng-progress [spinner]="false" [color]="'#033c73'"></ng-progress>
<div class="bs-component">
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="router.url != '/welcome'">
    <a class="navbar-brand" routerLink="/welcome">myCommuneaty</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/create_meal" (click)="isCollapsed = !isCollapsed" translate>INDEX.CREATE_A_MEAL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/view_meals" (click)="isCollapsed = !isCollapsed" translate>INDEX.BROWSE_A_MEAL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my_meals" (click)="isCollapsed = !isCollapsed" translate>INDEX.MY_MEALS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile', userId]" (click)="isCollapsed = !isCollapsed" translate>INDEX.PROFILE</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown" *ngIf="auth.user | async; let user; else guest" ngbDropdown placement="bottom-right">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
             <img class="rounded-circle profilePic" [src]="user.picture" alt="User profile picture" /> {{user.first_name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
            <a class="dropdown-item" translate (click)="isCollapsed = !isCollapsed">INDEX.MANAGE_REQUESTS</a>
            <a class="dropdown-item" translate (click)="isCollapsed = !isCollapsed">INDEX.LEAVE_REVIEWS</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="auth.signOut()" translate>INDEX.LOGOUT</a>
          </div>
        </li>
        <ng-template #guest><button class="btn btn-outline-light" (click)="openModalLogin(modalContent)" translate>INDEX.ACTION_BUTTON.SIGN_IN_1</button></ng-template>
      </ul>
    </div>
  </nav>
  <!--
  <nav class="navbar navbar-default navbar-fixed-top navbar-fixed-top-mobile" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="../" id="navbar-button-position">myCommuneaty</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-button-position">
          <li><a routerLink="/create_meal" data-toggle="collapse" data-target="navbar-collapse" id="navbar-button-position" translate>INDEX.CREATE_A_MEAL</a></li>
          <li><a routerLink="/view_meals" routerLink-opts="{reload: true}" data-toggle="collapse" data-target="navbar-collapse" id="navbar-button-position" translate>INDEX.BROWSE_A_MEAL</a></li>
          <li><a routerLink="/my_meals" data-toggle="collapse" data-target="navbar-collapse" id="navbar-button-position" translate>INDEX.MY_MEALS</a></li>
          <li><a [routerLink]="['profile', user._id]" class="pointer" data-toggle="collapse" data-target="navbar-collapse" id="navbar-button-position"><span translate>INDEX.PROFILE</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="isAuthenticated()" uib-dropdown class="dropdown" style="cursor:pointer">
            <a uib-dropdown-toggle class="dropdown-toggle">
                  <img class="img-circle profilePic" [src]="user.picture.data.url" alt="User profile picture" /> {{user.first_name}} <span class="caret" *ngIf="((user.nbDifferentPendingRequest + user.nbDifferentReviewsToLeave)==0) || (!user.nbDifferentPendingRequest && !user.nbDifferentReviewsToLeave)"></span>
                  <span class="badge" *ngIf="(user.nbDifferentPendingRequest + user.nbDifferentReviewsToLeave)>0">{{user.nbDifferentPendingRequest + user.nbDifferentReviewsToLeave}}</span>
                </a>
            <ul uib-dropdown-menu class="dropdown-menu">
              <li><a routerLink="/manage_requests"><span translate>INDEX.MANAGE_REQUESTS</span>&nbsp; <span class="badge" *ngIf="user.nbDifferentPendingRequest>0">{{user.nbDifferentPendingRequest}}</span></a></li>
              <li><a routerLink="/leave_reviews"><span translate>INDEX.LEAVE_REVIEWS</span>&nbsp; <span class="badge" *ngIf="user.nbDifferentReviewsToLeave>0">{{user.nbDifferentReviewsToLeave}}</span></a></li>
              <li class="divider"></li>
              <li><a (click)="logout()" translate>INDEX.LOGOUT</a></li>
            </ul>
          </li>
          <li *ngIf="!isAuthenticated() && inApp != true"><a (click)="auth('facebook', toState)" class="btn btn-block btn-social btn-facebook" id="facebook-button-nav" type="button"><span class="fa fa-facebook" style="padding-top:7px"></span> <span translate>INDEX.ACTION_BUTTON.SIGN_IN_1</span></a></li>
        </ul>
      </div>
    </div>





    <a class="navbar-brand" routerLink="/welcome">myCommuneaty</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/create_meal">Create a meal<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/view_meals">Browse a meal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my_meals">My meals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>-->
</div>
<router-outlet></router-outlet>
<footer id="footer">
  <div class="clear20"></div>
  <div class="container">

    <div class="row">
      <div class="col-sm-3">
        <p class="text-uppercase"><strong translate>INDEX.FOOTER.INFORMATION.TITLE</strong></p>

        <a routerLink="/footer_information_concept" translate>INDEX.FOOTER.INFORMATION.CONCEPT</a>
        <div class="clear5 d-sm-none"></div><br class="d-none d-sm-block">
        <a routerLink="/footer_information_team" translate>INDEX.FOOTER.INFORMATION.TEAM_HISTORY</a>
        <div class="clear5 d-sm-none"></div><br class="d-none d-sm-block">
        <a routerLink="/footer_information_FAQ" translate>INDEX.FOOTER.INFORMATION.FAQ</a><br>
      </div>

      <div class="col-sm-3">
        <hr class="d-sm-none">
        <p class="text-uppercase"><strong translate>INDEX.FOOTER.SUPPORT.TITLE</strong></p>
        <a routerLink="/footer_legal_guidelines" translate>INDEX.FOOTER.SUPPORT.GUIDELINES</a>
        <div class="clear5 d-sm-none"></div><br class="d-none d-sm-block">
        <a routerLink="/footer_legal_general_policies" translate>INDEX.FOOTER.SUPPORT.GENERAL_POLICIES</a>
        <div class="clear5 d-sm-none"></div><br class="d-none d-sm-block">
        <a routerLink="/footer_legal_privacy_policy" translate>INDEX.FOOTER.SUPPORT.PRIVACY_POLICY</a>
        <div class="clear5 d-sm-none"></div><br class="d-none d-sm-block">
        <a routerLink="/footer_legal_terms_and_conditions" translate>INDEX.FOOTER.SUPPORT.TERMS_OF_USE</a><br>

      </div>

      <div class="col-sm-3">
        <hr class="d-sm-none">
        <p class="text-uppercase"><strong translate>INDEX.FOOTER.MORE.TITLE</strong></p>

        <a routerLink="/footer_more_photo_gallery" translate>INDEX.FOOTER.MORE.PHOTO_GALLERY</a>
        <div class="clear5 d-sm-none"></div><br class="d-none d-sm-block">
        <a routerLink="/footer_more_careers" translate>INDEX.FOOTER.MORE.CAREERS_FEEDBACKS</a>
        <div class="clear5 d-sm-none"></div><br class="d-none d-sm-block">
        <a routerLink="/footer_more_contact" translate>INDEX.FOOTER.MORE.CONTACT_US</a><br>
      </div>

      <div class="col-sm-3">
        <hr class="d-sm-none">
        <p class="text-uppercase"><strong translate>INDEX.FOOTER.LANGUAGE.TITLE</strong></p>

        <a title="english" class="pointer" (click)="switchLanguage('en-US')"><img src="assets/images/footer_language/english.png"></a> &nbsp;
        <a title="français" class="pointer" (click)="switchLanguage('fr-FR')"><img src="assets/images/footer_language/french.png"></a> &nbsp;
      </div>

    </div>
  </div>
  <div class="clear20"></div>

  <div id="footer-bottom">
    <div class="clear20"></div>
    <div class="text-center">
      <p class="h3"><span translate>INDEX.FOOTER.SHARE</span> <a href="https://www.facebook.com/MyCommuneaty-254569051671689/?fref=ts" target="_blank" class="social_circle"><i class="fa fa-facebook fa-welcome"></i></a></p>
    </div>
    <div class="clear20"></div>
  </div>
</footer>