<div class="col-md-5">
  <div class="page-header">
    <h1 id="tables">Liste des repas</h1>
  </div>
  <div class="container">
    <div class="row" ng-repeat="meal in meals">
      <div class="col-md-10">
        <div class="list-group">
          <a class="list-group-item">
            <div class="row">
              <div class="col-md-9 col-md-offset-1">
                <img ng-src="/static/sources/menu.png"></img> {{meal.menu}}
              </div>
              <div class="col-md-2">
                <div ng-if="meal.nbGuests">
                  A partir de {{meal.price/meal.nbGuests}} €
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <div ng-if="meal.veggies">
                  <img ng-src="/static/sources/vegetarian.png" alt="vegetarian"></img>
                </div>
              </div>
              <div class="col-md-4 col-md-offset-1">
                <img ng-src="/static/sources/location.png"></img> {{meal.addressApprox}}
              </div>
              <div class="col-md-3">
                <img ng-src="/static/sources/calendar.png"></img>
                {{meal.time | date:'HH:mm'}}
                </br>
                {{meal.time | date:'dd/MM/yyyy'}}
              </div>
              <div class="col-md-1 col-md-offset-1">
                <div ng-style="getStyle()" style="position:relative;width:50px;height : 50px" >
                  <div ng-style="getStyle()" style="position: absolute;top: 33%;left: 25%;font-size: small;">{{meal.nbGuests-meal.nbRemainingPlaces}} / {{meal.nbGuests}}</div>
                  <div round-progress responsive="true" max="meal.nbGuests" current="meal.nbGuests - meal.nbRemainingPlaces" color="#45ccce" bgcolor="#eaeaea" radius="30" stroke="10" rounded="true" duration="800" animation="easeInOutQuart" animation-delay="0"></div>
                </div>
              </div>


            </div>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div>{{meals | json}}</div>
</div>
