<div class="container-fluid">
  <h1 class="general-title hidden-xs" style="margin-bottom:20px;">- Incoming meals -
    <div class="meal-search-sort">
      <span class="meal-search-title-count">Order by</span>
      <div class="btn-group" uib-dropdown uib-popover="Starting time" popover-trigger="mouseenter" popover-placement="top">
        <a class="tip btn order-date ng-class: SortOrder;" uib-dropdown-toggle></a>
        <ul uib-dropdown-menu class="dropdown-menu sort-menu" data-toggle="dropdown">
          <li class="asc">
            <a class="meal-search-sort-link" ng-click="SortOrder='asc'; reverse = false">Increasing</a>
          </li>
          <li class="desc">
            <a class="meal-search-sort-link" ng-click="SortOrder='desc';reverse = true">Decreasing</a>
          </li>
        </ul>
      </div>
    </div>
    </h2>
    <div class="row hidden-sm hidden-md hidden-lg" style="padding-bottom:10px">
      <div class="meal-search-filter">
        <a class="btn btn-primary btn-sm" ng-click="openModalFilter()">Filters</a>
        <span ui-sref="view_meals.mealsMap" ng-show="$state.includes('view_meals.mealsList')" class="text-center text-primary viewmeals-change-view viewmeals-change-view-mobile"><strong><em>Map</em></strong></span>
        <span ui-sref="view_meals.mealsList" ng-show="$state.includes('view_meals.mealsMap')" class="text-center text-primary viewmeals-change-view viewmeals-change-view-mobile"><strong><em>List</em></strong></span>
      </div>
      <div class="meal-search-sort">
        <span class="meal-search-title-count">Order by</span>
        <div class="btn-group" uib-dropdown uib-popover="Starting time" popover-trigger="mouseenter" popover-placement="top">
          <a class="tip btn order-date ng-class: SortOrder;" uib-dropdown-toggle></a>
          <ul uib-dropdown-menu class="dropdown-menu sort-menu" data-toggle="dropdown">
            <li class="asc">
              <a class="meal-search-sort-link" ng-click="SortOrder='asc'; reverse = false">Increasing</a>
            </li>
            <li class="desc">
              <a class="meal-search-sort-link" ng-click="SortOrder='desc';reverse = true">Decreasing</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-3 hidden-xs">
        <div ui-sref="view_meals.mealsMap" ng-show="$state.includes('view_meals.mealsList')" class="text-center text-primary viewmeals-change-view"><strong><em>See meals on a map</em></strong></div>
        <div ui-sref="view_meals.mealsList" ng-show="$state.includes('view_meals.mealsMap')" class="text-center text-primary viewmeals-change-view"><strong><em>See the list of meals</em></strong></div>
        <div class="panel panel-info" style="padding-bottom:20px;">
          <div class="panel-heading">
            <h3 class="panel-title">Filter by</h3>
          </div>
          <form class="form-horizontal">
            <fieldset>
              <div class="panel-body" style="padding-bottom:5px;margin-right:15px;margin-left:15px">
                <div class="row">
                  <span ng-click="isCollapsed.place = !isCollapsed.place" style="cursor:pointer;"><i class="glyphicon text-danger" ng-class="{'glyphicon-triangle-bottom': !isCollapsed.place, 'glyphicon-triangle-right': isCollapsed.place}"></i><span class="text-in-filter"><strong>City</strong></span></span>
                  <div uib-collapse="isCollapsed.place" class="collapsing-filter">
                    <input ng-autocomplete type="text" class="form-control form-location" placeholder="City, suburbs" ng-model="filter.placeFilter" options="{types:'(cities)'}" details="details" />
                  </div>
                </div>
                <div class="row">
                  <span ng-click="isCollapsed.weekDays = !isCollapsed.weekDays" style="cursor:pointer;"><i class="glyphicon text-danger" ng-class="{'glyphicon-triangle-bottom': !isCollapsed.weekDays, 'glyphicon-triangle-right': isCollapsed.weekDays}"></i><span class="text-in-filter"><strong>Day</strong></span></span>
                  <div uib-collapse="isCollapsed.weekDays" class="collapsing-filter">
                    <div ng-repeat="day in filter.weekDays">
                      <div class="row" style="margin:0px 5px"><span class="pull-left"><input type="checkbox" ng-model=day.selected> {{day.label}}</span><span class="pull-right"></span></div>
                    </div>
                  </div>
                </div>
                <div class="row" class="row-margin-filter">
                  <span ng-click="isCollapsed.period = !isCollapsed.period" style="cursor:pointer;"><i class="glyphicon text-danger" ng-class="{'glyphicon-triangle-bottom': !isCollapsed.period, 'glyphicon-triangle-right': isCollapsed.period}"></i><span class="text-in-filter"><strong>Period</strong></span></span>
                  <div uib-collapse="isCollapsed.period" class="collapsing-filter">
                    <input type="text" style="margin-bottom: 5px;" class="form-control filter-desgin calendar-img" uib-datepicker-popup="dd.MM.yyyy" ng-click="dateFilterMin_open()" ng-model="filter.dateFilterMin.value" is-open="filter.dateFilterMin.opened" close-text="Close"
                      placeholder="from" />
                    <input type="text" class="form-control filter-desgin calendar-img" uib-datepicker-popup="dd.MM.yyyy" ng-click="dateFilterMax_open()" ng-model="filter.dateFilterMax.value" is-open="filter.dateFilterMax.opened" close-text="Close" placeholder="to" />
                  </div>
                </div>
                <div class="row" class="row-margin-filter">
                  <span ng-click="isCollapsed.price = !isCollapsed.price" style="cursor:pointer;"><i class="glyphicon text-danger" ng-class="{'glyphicon-triangle-bottom': !isCollapsed.price, 'glyphicon-triangle-right': isCollapsed.price}"></i><span class="text-in-filter"><strong>Price</strong></span></span>
                  <div uib-collapse="isCollapsed.price" class="collapsing-filter">
                    <input type="number" style="margin-bottom: 5px;" class="form-control filter-desgin banknote-img" ng-model="filter.priceFilterMin.value" placeholder="from" />
                    <input type="number" class="form-control filter-desgin banknote-img" ng-model="filter.priceFilterMax.value" placeholder="to" />
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col-sm-9 col-xs-12">
        <div ui-view="mealsList" ng-show="$state.includes('view_meals.mealsList')" class="list-meal"></div>
        <div ui-view="mealsMap" ng-show="$state.includes('view_meals.mealsMap')"></div>
      </div>
    </div>
</div>
