<div class="d-inline-block"></div>
<div class="container text-justify">
    <h3 class="general-title row" translate>FOOTER.PRIVACY_POLICY.TITLE</h3>
    <div class="clear10"></div>
    <div class="col-12">
        <div class="row">
            <p translate>FOOTER.PRIVACY_POLICY.LAST_UPDATE</p>
            <p translate>FOOTER.PRIVACY_POLICY.PARAGRAPH</p>
            <br />
            <div class="row d-block">
                <h4 class="text-primary" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_1.NAME</h4>
                <div>
                    <ul>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_1.BULLET_1</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_1.BULLET_2</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_1.BULLET_3</li>
                    </ul>
                    <span translate>FOOTER.PRIVACY_POLICY.SUBTITLE_1.PARAGRAPH</span>
                </div>
                <br />
            </div>
            <div class="row d-block">
                <h4 class="text-primary" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.NAME</h4>
                <strong class="text-info" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_1.TITLE</strong>
                <div><span translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_1.PARAGRAPH</span>
                    <ul>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_1.BULLET_1</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_1.BULLET_2</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_1.BULLET_3</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_1.BULLET_4</li>
                    </ul>
                </div>
                <br />
                <strong class="text-info" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_2.TITLE</strong>
                <div><span translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_2.PARAGRAPH</span>
                    <ul>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_2.BULLET_1</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_2.BULLET_2</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_2.BULLET_3</li>
                    </ul>
                </div>
                <br />
                <strong class="text-info" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_3.TITLE</strong>
                <p translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_3.PARAGRAPH_3_1</p>
                <p translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_3.PARAGRAPH_3_2</p>
                <br />
                <strong class="text-info" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_4.TITLE</strong>
                <div><span translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_4.PARAGRAPH</span>
                    <ul>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_4.BULLET_1</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_4.BULLET_2</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_4.BULLET_3</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_4.BULLET_4</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_4.BULLET_5</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_4.BULLET_6</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_4.BULLET_7</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_4.BULLET_8</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_4.BULLET_9</li>
                    </ul>
                </div>
                <br />
                <strong class="text-info" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_5.TITLE</strong>
                <p translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_5.PARAGRAPH</p>
                <br />
                <strong class="text-info" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_6.TITLE</strong>
                <div><span translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_6.PARAGRAPH_1</span>
                    <ul>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_6.BULLET_1</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_6.BULLET_2</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_6.BULLET_3</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_6.BULLET_4</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_6.BULLET_5</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_6.BULLET_6</li>
                        <li translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_6.BULLET_7</li>
                        <span translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_6.PARAGRAPH_2</span>
                        <br />
                        <span translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_6.PARAGRAPH_3</span>
                    </ul>
                </div>
                <br />
                <strong class="text-info" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_7.TITLE</strong>
                <p><span translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_7.PARAGRAPH_1</span> <a href="https://www.google.com/intl/en/policies/privacy/" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_7.LINK_TEXT</a>, <span translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_7.PARAGRAPH_2</span></p>
                <br />
                <strong class="text-info" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_8.TITLE</strong>
                <p translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_8.PARAGRAPH</p>
                <br />
                <strong class="text-info" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_9.TITLE</strong>
                <p><span translate>FOOTER.PRIVACY_POLICY.SUBTITLE_2.PARAGRAPH_9.PARAGRAPH</span> <a href="www.aboutads.info/choices">www.aboutads.info/choices</a>.</p>
            <br />
            </div>
            <div class="row d-block">
                <h4 class="text-primary" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_3.TITLE</h4>
                <strong class="text-info" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_3.PARAGRAPH_1.TITLE</strong>
                <p translate>FOOTER.PRIVACY_POLICY.SUBTITLE_3.PARAGRAPH_1.PARAGRAPH</p>
                <br />
                <strong class="text-info" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_3.PARAGRAPH_2.TITLE</strong>
                <p><span translate>FOOTER.PRIVACY_POLICY.SUBTITLE_3.PARAGRAPH_2.PARAGRAPH_1</span> <a href="www.allaboutcookies.org">www.allaboutcookies.org</a>. <span translate>FOOTER.PRIVACY_POLICY.SUBTITLE_3.PARAGRAPH_2.PARAGRAPH_2</span></p>
                <br />
                <strong class="text-info" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_3.PARAGRAPH_3.TITLE</strong>
                <p translate>FOOTER.PRIVACY_POLICY.SUBTITLE_3.PARAGRAPH_3.PARAGRAPH</p>
                <br />
                <strong class="text-info" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_3.PARAGRAPH_4.TITLE</strong>
                <p><span translate>FOOTER.PRIVACY_POLICY.SUBTITLE_3.PARAGRAPH_4.PARAGRAPH</span> <a routerLink="/footer_more_contact" class="underline" translate>FOOTER.PRIVACY_POLICY.SUBTITLE_3.PARAGRAPH_4.CONTACT_US</a></p>
                <br />
            </div>
        </div>
    </div>
</div>