<!-- Image and text -->
<nav class="navbar">
    <div class="d-flex align-items-center">
        <img src="/assets/images/logo/logo_with_circle.jpg" width="50" height="50" alt="myCommuneaty">
        <h1 class="float-right mt-2">myCommuneaty</h1>
    </div>
    <div class="float-right">
        <div ngbDropdown class="d-inline-block" placement="bottom-right" *ngIf="auth.user | async; let user; else guest">
            <button class="btn btn-outline-info dropdown-toggle btn-sm-xs" type="button" translate [translateParams]="{userName: user.first_name}" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">INDEX.HELLO</button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" class="dropdown-menu dropdown-menu-right">
                <a routerLink="/my_meals" class="dropdown-item" translate>INDEX.MY_MEALS</a>
                <a [routerLink]="['/profile', userId]" class="dropdown-item" translate>INDEX.PROFILE</a>{{user.id}}
                <div class="dropdown-divider"></div>
                <a routerLink="/create_meal" class="dropdown-item" translate>INDEX.MANAGE_REQUESTS</a>
                <a routerLink="/create_meal" class="dropdown-item" translate>INDEX.LEAVE_REVIEWS</a>
                <a class="dropdown-item" (click)="auth.signOut()" translate>INDEX.LOGOUT</a>
            </div>
        </div>
        <ng-template #guest>
            <button class="btn btn-primary btn-sm-xs" (click)="openModalLogin(modalContent)" translate>INDEX.ACTION_BUTTON.SIGN_IN_1</button>
        </ng-template>
    </div>
</nav>
<header></header>
<div class="container-fluid">
    <h2 class="slogan text-center">
        <div id="slogan-text" (mouseover)="sloganText = 'INDEX.SLOGAN_1'" (mouseout)="sloganText = 'INDEX.SLOGAN_2'">{{sloganText | translate}}</div>
    </h2>
</div>
<div class="bluerow unsticked">
    <div class="container text-center">
        <div class="btn-group btn-group-justified" role="group">
            <a routerLink="/create_meal" class="btn btn-bluerow"><span class="btn-bluerow-text" translate>WELCOME.CREATE_A_MEAL</span></a>
            <a routerLink="/view_meals" class="btn btn-bluerow"><span class="btn-bluerow-text" translate>WELCOME.BROWSE_A_MEAL</span></a>
        </div>
    </div>
</div>
<section class="hero mod-how-it-works">
    <div class="hero-content">
        <h2 class="hero-content-title-how-it-works" translate>WELCOME.HOW_IT_WORKS</h2>

        <hr class="mod-short mod-info">

        <div class="info-box-container">

            <div class="info-box mod-white">
                <article>
                    <img class="mod-center mod-margin-bottom" src="/assets/images/welcome/publish_meal_blue.png">
                    <h3 class="info-box-title-how-it-works" translate>WELCOME.PUBLICATION.TITLE</h3>
                    <hr class="mod-short mod-info">
                    <p translate>WELCOME.PUBLICATION.PARAGRAPH</p>
                </article>
            </div>

            <div class="info-box mod-white">
                <article>
                    <img class="mod-center mod-margin-bottom" src="/assets/images/welcome/subscribe_meal_blue.png">
                    <h3 class="info-box-title-how-it-works" translate>WELCOME.SUBSCRIPTION.TITLE</h3>
                    <hr class="mod-short mod-info">
                    <p translate>WELCOME.SUBSCRIPTION.PARAGRAPH</p>
                </article>
            </div>

            <div class="info-box mod-white">
                <article>
                    <img class="mod-center mod-margin-bottom" src="/assets/images/welcome/sharing_meal_blue.png">
                    <h3 class="info-box-title-how-it-works" translate>WELCOME.PARTICIPATION.TITLE</h3>
                    <hr class="mod-short mod-info">
                    <p translate>WELCOME.PARTICIPATION.PARAGRAPH</p>
                </article>
            </div>
        </div>
    </div>
</section>
<section class="hero mod-different-roles">
    <div class="hero-content">
        <h2 class="hero-content-title-different-roles" translate>WELCOME.DIFFERENT_ROLES.TITLE</h2>

        <hr class="mod-short mod-white">

        <div class="info-box-container">

            <div class="info-box mod-blue">
                <article>
                    <img class="mod-center mod-margin-bottom" src="/assets/images/welcome/host_white.png">
                    <h3 class="info-box-title-different-roles" translate>WELCOME.DIFFERENT_ROLES.HOST.NAME</h3>
                    <hr class="mod-short mod-white">
                    <p translate>WELCOME.DIFFERENT_ROLES.HOST.DESCRIPTION</p>
                </article>
            </div>

            <div class="info-box mod-blue-light">
                <article>
                    <img class="mod-center mod-margin-bottom" src="/assets/images/welcome/helpCooking_white.png">
                    <h3 class="info-box-title-different-roles" translate>WELCOME.DIFFERENT_ROLES.HELP_COOKING.NAME</h3>
                    <hr class="mod-short mod-white">
                    <p translate>WELCOME.DIFFERENT_ROLES.HELP_COOKING.DESCRIPTION</p>
                </article>
            </div>

            <div class="info-box mod-blue">
                <article>
                    <img class="mod-center mod-margin-bottom" src="/assets/images/welcome/helpCleaning_white.png">
                    <h3 class="info-box-title-different-roles" translate>WELCOME.DIFFERENT_ROLES.HELP_CLEANING.NAME</h3>
                    <hr class="mod-short mod-white">
                    <p translate>WELCOME.DIFFERENT_ROLES.HELP_CLEANING.DESCRIPTION</p>
                </article>
            </div>

            <div class="info-box mod-blue-light">
                <article>
                    <img class="mod-center mod-margin-bottom" src="/assets/images/welcome/simpleGuest_white.png">
                    <h3 class="info-box-title-different-roles" translate>WELCOME.DIFFERENT_ROLES.SIMPLE_GUEST.NAME</h3>
                    <hr class="mod-short mod-white">
                    <p translate>WELCOME.DIFFERENT_ROLES.SIMPLE_GUEST.DESCRIPTION</p>
                </article>
            </div>
        </div>
    </div>
</section>
<section class="hero mod-what-about-the-money">
    <div class="hero-content">
        <h2 class="hero-content-title-what-about-the-money" translate>WELCOME.WHAT_ABOUT_MONEY.TITLE</h2>

        <hr class="mod-short mod-white">

        <h3 class="size-20 mod-white" translate>WELCOME.WHAT_ABOUT_MONEY.PARAGRAPH</h3>
        <div class="info-box-container">
            <div class="info-box mod-green">
                <article>
                    <h4 class="info-box-title-what-about-the-money" translate>WELCOME.WHAT_ABOUT_MONEY.WITHOUT_SIMPLE_GUEST.TITLE</h4>
                    <hr class="mod-short mod-white">
                    <p translate>WELCOME.WHAT_ABOUT_MONEY.WITHOUT_SIMPLE_GUEST.PARAGRAPH</p>
                </article>
            </div>

            <div class="info-box mod-green">
                <article>
                    <h4 class="info-box-title-what-about-the-money mod-white" translate>WELCOME.WHAT_ABOUT_MONEY.WITH_SIMPLE_GUEST.TITLE</h4>
                    <hr class="mod-short mod-white">
                    <p translate>WELCOME.WHAT_ABOUT_MONEY.WITH_SIMPLE_GUEST.PARAGRAPH</p>
                </article>
            </div>
        </div>

        <div class="mod-margin-top">
            <p class="mod-white"><span translate>WELCOME.WHAT_ABOUT_MONEY.PARAGRAPH_2</span> <strong translate>WELCOME.WHAT_ABOUT_MONEY.PARAGRAPH_2_STRONG</strong></p>
        </div>
        <!--<div class="mod-margin-top">
        <p>
          <a class="mod-underline mod-white" routerLink="footer_information_concept">Learn more about how we calculate the prices</a>
        </p>
      </div>-->
    </div>
</section>
<section class="hero mod-values">
    <div class="hero-content">
        <h2 class="hero-content-title-values" translate> WELCOME.VALUES.TITLE</h2>

        <hr class="mod-short mod-info">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7">
                <div class="card card-body mb-3 card-meeting-background card-photo-format"><strong class="size-20" style="margin:auto" translate>WELCOME.VALUES.MEETING.DESCRIPTION</strong></div>
                <div class="size-32 card-text-position"><strong translate>WELCOME.VALUES.MEETING.NAME</strong></div>
            </div>
            <div class="col-sm-5">
                <div class="card card-body mb-3 card-sharing-background card-photo-format"><strong class="size-20" style="margin:auto" translate>WELCOME.VALUES.SHARING.DESCRIPTION</strong></div>
                <div class="size-32 card-text-position"><strong translate>WELCOME.VALUES.SHARING.NAME</strong></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card card-body mb-3 card-authenticity-simplicity-background card-photo-format"><strong class="size-20" style="margin:auto" translate>WELCOME.VALUES.AUTHENTICITY_SIMPLICITY.DESCRIPTION</strong></div>
                <div class="size-32 card-text-position" style="top:75px"><strong translate>WELCOME.VALUES.AUTHENTICITY_SIMPLICITY.NAME_1</strong><br><strong translate>WELCOME.VALUES.AUTHENTICITY_SIMPLICITY.NAME_2</strong></div>
            </div>
            <div class="col-sm-8">
                <div class="card card-body mb-3 card-conviviality-background card-photo-format"><strong class="size-20" style="margin:auto" translate>WELCOME.VALUES.FRIENDLINESS.DESCRIPTION</strong></div>
                <div class="size-32 card-text-position"><strong translate>WELCOME.VALUES.FRIENDLINESS.NAME</strong></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card card-body mb-3 card-community-background card-photo-format"><strong class="size-20" style="margin:auto" translate>WELCOME.VALUES.COMMUNITY.DESCRIPTION</strong></div>
                <div class="size-32 card-text-position"><strong translate>WELCOME.VALUES.COMMUNITY.NAME</strong></div>
            </div>
            <div class="col-sm-4">
                <div class="card card-body mb-3 card-new-background card-photo-format"><strong class="size-20" style="margin:auto" translate>WELCOME.VALUES.NEW.DESCRIPTION</strong></div>
                <div class="size-32 card-text-position"><strong translate>WELCOME.VALUES.NEW.NAME</strong></div>
            </div>
        </div>
    </div>
</section>
<section class="hero mod-start-now">
    <div class="hero-content text-center">
        <h2 class="hero-content-title-start-now" translate>WELCOME.START_NOW.TITLE</h2>

        <hr class="mod-short mod-white">
        <a class="btn btn-default btn-start-now small-visible-xs size-20-sm" routerLink="/create_meal" translate>WELCOME.START_NOW.CREATE_A_MEAL</a>
        <a class="btn btn-default btn-start-now small-visible-xs size-20-sm" routerLink="/view_meals" translate>WELCOME.START_NOW.BROWSE_A_MEAL</a>
    </div>
</section>
