<form class="form-horizontal" name="priceForm">
    <fieldset>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="alert" ng-click="cancel()">&times;</button>
            <h3 class="modal-title">Calculation of the price of the meal</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="inputPrice" class="col-xs-6 control-label">Total price of the groceries</label>
                <div class="col-xs-6">
                    <div class="input-group" ng-class="{'has-error': editedMeal.price==undefined && priceForm.$submitted}">
                        <span class="input-group-addon">$</span>
                        <input type="number" class="form-control" id="inputPrice" ng-model="editedMeal.price" />
                    </div>
                </div>
            </div>

            <div class="page-separation-title">
                <h3>Information about the participants</h3>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="35%"></th>
                                <th class="text-center"><span uib-popover="participants" popover-trigger="mouseenter" popover-placement="top"><img src="/static/sources/multiple-users-silhouette.png" height="18px" width="18px"></span></th>
                                <th class="text-center"><span uib-popover="Arrival time" popover-trigger="mouseenter" popover-placement="top"><img src="/static/sources/clock.png" height="18px" width="18px"><span></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Host</td>
                                                                <td class="text-center">1</td>
                                                                <td class="text-center">{{editedMeal.time | date:'HH:mm'}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><span uib-popover="People come to help you prepare the meal" popover-trigger="mouseenter">Help cooking</span></td>
                                    <td class="text-center"><input type="number" min="0" class="form-control text-center" id="inputCooks" ng-model="editedMeal.detailedInfo.requiredGuests.cooks.nbRquCooks"></td>
                                    <td class="text-center" ng-class="{'has-error': (editedMeal.detailedInfo.requiredGuests.cooks.nbRquCooks != undefined || editedMeal.detailedInfo.requiredGuests.cooks.timeCooking > editedMeal.time) && priceForm.$submitted}"><input type="time" class="form-control text-center" id="inputTimeCooking" ng-model="editedMeal.detailedInfo.requiredGuests.cooks.timeCooking"></td>
                            </tr>
                            <tr>
                                <td><span uib-popover="People will help you for cleaning" popover-trigger="mouseenter">Help cleaning</span></td>
                                <td class="text-center"><input type="number" min="0" class="form-control text-center" id="inputCleaners" ng-model="editedMeal.detailedInfo.requiredGuests.cleaners.nbRquCleaners"></td>
                                <td class="text-center"><span ng-show="editedMeal.detailedInfo.requiredGuests.cleaners.nbRquCleaners">{{editedMeal.time | date:'HH:mm'}}</span></td>
                            </tr>
                            <tr>
                                <td><span uib-popover="People won't help but will pay more to give you a meal's price discount" popover-trigger="mouseenter">Simple guest</span></td>
                                <td class="text-center"><input type="number" min="0" class="form-control text-center" id="inputSimpleGuests" ng-model="editedMeal.detailedInfo.requiredGuests.simpleGuests.nbRquSimpleGuests"></td>
                                <td class="text-center"><span ng-show="editedMeal.detailedInfo.requiredGuests.simpleGuests.nbRquSimpleGuests">{{editedMeal.time | date:'HH:mm'}}</span></td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td class="text-center">{{editedMeal.detailedInfo.requiredGuests.cooks.nbRquCooks + editedMeal.detailedInfo.requiredGuests.cleaners.nbRquCleaners + editedMeal.detailedInfo.requiredGuests.simpleGuests.nbRquSimpleGuests + 1}}
                                </td>
                                <td></td>
                            </tr>
                            </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row" ng-show="(editedMeal.price==undefined || (editedMeal.detailedInfo.requiredGuests.cooks.timeCooking > editedMeal.time)) && priceForm.$submitted ">
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button> Please fill in the missing field(s) and try again. <span ng-if="editedMeal.detailedInfo.requiredGuests.cooks.timeCooking > editedMeal.time">Hint: the helping cooks have to arrive before the meal.</span>
                    </div>
                </div>
                <button class="btn btn-primary" type="button" ng-click="priceForm.$setSubmitted(); okPrice()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
    </fieldset>
</form>