<div class="container-fluid">
    <form>
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <div class="row">
            <div class="col-xs-12 meal-dtld-menu-label text-primary">
                <img src="/static/sources/createMeal/cutlery_menu.png" style="position:relative;bottom:2px"> <strong>{{meal.menu.title}}</strong>
            </div>
            <div class="col-xs-12" style="margin:15px">
                <div class="row" ng-if="meal.menu.description" style="margin-right:0px">
                    Description: <em>{{meal.menu.description}}</em>
                </div>
                <div class="row meal-info-label">
                    <span class="glyphicon glyphicon-map-marker"></span> {{meal.address.town}}, {{meal.address.country}} - {{meal.address.postalCode}}
                </div>
                <div class="row meal-info-label">
                    <span class="glyphicon glyphicon-calendar"></span> {{meal.time |date:'EEEE dd MMMM'}} <span class="hidden-sm hidden-md hidden-lg"></br></span><span class="glyphicon glyphicon-time meal-clock-display"></span> {{meal.time |date:'HH:mm'}}
                </div>
                <div class="row meal-info-label" ng-if="meal.veggies == true || meal.vegan == true">
                    <img src="/static/sources/vegetarian.png" style="width:14px; height:14px"> <span ng-if="meal.veggies==true">Vegetarian</span><span ng-if="meal.vegan==true">Vegan</span> meal
                </div>
            </div>
        </div>
        <div class="row meal-dtld-group">
            <div class="meal-label meal-dtld-group-label">Inscription as :</div>
            <div ng-if="errorSubscribe.requestRole.status">
                <div uib-alert class="alert alert-dismissible alert-danger text-center" close="closeAlert()">{{errorSubscribe.requestRole.message}}</div>
            </div>
            <div class="meal-dtld-helpers-label meal-dtld-col">
                <span class="meal-dtld-helpers-position" uib-tooltip="participants" tooltip-trigger="mouseenter" tooltip-placement="top"><img src="/static/sources/multiple-users-silhouette.png" height="18px" width="18px"></span>
                <span class="meal-dtld-helpers-position glyphicon glyphicon-piggy-bank" uib-tooltip="price" tooltip-trigger="mouseenter" tooltip-placement="top" style="font-size:18px"></span>
                <span class="meal-dtld-helpers-position glyphicon glyphicon-time" uib-tooltip="arrival time" tooltip-trigger="mouseenter" tooltip-placement="top" style="font-size:18px"></span>
            </div>
            <uib-accordion close-others="accordionOneAtATime">
                <div style="overflow:auto" ng-if="meal.detailedInfo.requiredGuests.cooks">
                    <input class="pull-left meal-dtld-helpers-radio" type="radio" ng-model="$parent.requestRole.name" value="cook" ng-disabled="!requiredGuests.availablePlaces.cooks" ng-click="status.open1=true">
                    <div uib-accordion-group class="panel-default pull-left meal-dtld-helpers" is-open="status.open1" is-disabled="!requiredGuests.availablePlaces.cooks">
                        <uib-accordion-heading>
                            <div class="meal-dtld-helpers-label">Help cooking
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open1, 'glyphicon-chevron-right': !status.open1}"></i>
                                <span class="meal-dtld-helpers-position">{{meal.detailedInfo.requiredGuests.cooks.nbRquCooks - meal.detailedInfo.requiredGuests.cooks.nbRemainingPlaces}}/{{meal.detailedInfo.requiredGuests.cooks.nbRquCooks}}</span>
                                <span class="meal-dtld-helpers-position text-success">{{meal.currency_symbol}} {{meal.detailedInfo.requiredGuests.cooks.price}}</span>
                                <span class="meal-dtld-helpers-position">{{meal.detailedInfo.requiredGuests.cooks.timeCooking | date:'HH:mm'}}</span>
                            </div>
                        </uib-accordion-heading>
                        <div class="size-12">You have to arrive at <span class="size-12-time"><strong>{{meal.detailedInfo.requiredGuests.cooks.timeCooking | date : 'HH:mm'}}</strong> in order to help the host to prepare the meal.</span>
                            <div class="size-12" ng-if="meal.priceUnit != meal.detailedInfo.requiredGuests.cooks.price">The price can vary <strong class="meal-price text-success" ng-bind-html="meal.priceSentence"></strong> according to the inscriptions (<a ui-sref="footer_information_concept" ng-click="cancel()">more info about pricing</a>).
                                You will be informed before the dinner of the final price.</div>
                        </div>
                    </div>
                </div>
                <div style="overflow:auto" ng-if="meal.detailedInfo.requiredGuests.cleaners">
                    <input class="pull-left meal-dtld-helpers-radio" type="radio" ng-model="$parent.requestRole.name" value="cleaner" ng-disabled="!requiredGuests.availablePlaces.cleaners" ng-click="status.open2=true">
                    <div uib-accordion-group class="panel-default pull-left meal-dtld-helpers" is-open="status.open2" is-disabled="!requiredGuests.availablePlaces.cleaners">
                        <uib-accordion-heading>
                            <div class="meal-dtld-helpers-label">Help cleaning
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open2, 'glyphicon-chevron-right': !status.open2}"></i>
                                <span class="meal-dtld-helpers-position">{{meal.detailedInfo.requiredGuests.cleaners.nbRquCleaners - meal.detailedInfo.requiredGuests.cleaners.nbRemainingPlaces}}/{{meal.detailedInfo.requiredGuests.cleaners.nbRquCleaners}}</span>
                                <span class="meal-dtld-helpers-position text-success">{{meal.currency_symbol}} {{meal.detailedInfo.requiredGuests.cleaners.price}}</span>
                                <span class="meal-dtld-helpers-position">{{meal.time | date:'HH:mm'}}</span>
                            </div>
                        </uib-accordion-heading>
                        <div class="size-12">You will help ordering and cleaning what was used for the meal</div>
                        <div class="size-12" ng-if="meal.priceUnit != meal.detailedInfo.requiredGuests.cleaners.price">The price can vary <strong class="meal-price text-success" ng-bind-html="meal.priceSentence"></strong> according to the inscriptions (<a ui-sref="footer_information_concept" ng-click="cancel()">more info about pricing</a>). You
                            will be informed before the dinner of the final price.</div>
                    </div>
                </div>
                <div style="overflow:auto" ng-if="meal.detailedInfo.requiredGuests.simpleGuests">
                    <input class="pull-left meal-dtld-helpers-radio" type="radio" ng-model="$parent.requestRole.name" value="simpleGuest" ng-disabled="!requiredGuests.availablePlaces.simpleGuests" ng-click="status.open3=true">
                    <div uib-accordion-group class="panel-default pull-left meal-dtld-helpers" is-open="status.open3" is-disabled="!requiredGuests.availablePlaces.simpleGuests">
                        <uib-accordion-heading>
                            <div class="meal-dtld-helpers-label">Simple guest
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open3, 'glyphicon-chevron-right': !status.open3}"></i>
                                <span class="meal-dtld-helpers-position">{{meal.detailedInfo.requiredGuests.simpleGuests.nbRquSimpleGuests - meal.detailedInfo.requiredGuests.simpleGuests.nbRemainingPlaces}}/{{meal.detailedInfo.requiredGuests.simpleGuests.nbRquSimpleGuests}}</span>
                                <span class="meal-dtld-helpers-position text-success">{{meal.currency_symbol}} {{meal.detailedInfo.requiredGuests.simpleGuests.price}}</span>
                                <span class="meal-dtld-helpers-position">{{meal.time | date:'HH:mm'}}</span>
                            </div>
                        </uib-accordion-heading>
                        <div class="size-12">I help by paying a little bit more : this money will be redistribuated between those who helped to organize the event</div>
                    </div>
                </div>
            </uib-accordion>
        </div>
        <div ng-if="cellphoneValidation==false && isAuthenticated">
            <div class="row meal-dtld-group">
                <div class="meal-label meal-dtld-group-label">Info required :</div>
            </div>
            <div ng-if="errorSubscribe.cellphone.status">
                <div uib-alert class="alert alert-dismissible alert-danger text-center" close="closeAlert()">{{errorSubscribe.cellphone.message}}</div>
            </div>
            <input type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" class="form-control" id="inputCellphone" placeholder="Cellphone" uib-tooltip="Private information: displayed only between participants and host"
                tooltip-trigger="mouseenter" tooltip-placement="top" ng-model="user.privateInfo.cellphone">
            <div class="clear20"></div>
        </div>
        <div class="row col-xs-12">
            <div class="small">Do you want to receive updates about the meal on messenger? (recommended)</div>
            <div class="fb-messenger-checkbox" origin="{{origin}}" page_id="{{page_id}}" messenger_app_id="{{app_id}}" user_ref="{{user_ref}}" prechecked="true" allow_login="true" size="small"></div>
        </div>
        <div class="clear10"></div>
        <div class="text-center row">
            <a class="btn" ng-class="{'btn-primary': isAuthenticated, 'btn-facebook': !isAuthenticated, 'disabled': meal.detailedInfo.pending==true}" ng-click="subscribeMealAuth(meal._id, requestRole.name, 'facebook')" ng-if="meal.nbRemainingPlaces>0 && !goToMeal"
                ng-disabled="checkMealDate() == false"><span ng-if="!isAuthenticated">Sign In with facebook<br/>to participate</span><span ng-if="isAuthenticated">Participate</span></a>
            <a class="btn btn-success" ng-if="goToMeal" ng-click="cancel()" ui-sref="view_my_dtld_meals({myMealId: meal._id})">See the meal</a>
            <div ng-if="meal.nbRemainingPlaces<=0  && (goToMeal=='false' || goToMeal==null)" class="meal-dtld-full-msg">The meal is already full</div>
        </div>
        <div class="clear10"></div>

        <div class="row meal-dtld-group">
            <div ng-repeat="participant in meal.users">
                <div class="meal-label meal-dtld-group-label" ng-if="participant.status == 'accepted'"><span ng-if="participant.role[0] == 'admin'">Your host</span><span ng-if="participant.role[0] == 'cook'">Help cooking</span><span ng-if="participant.role[0]== 'cleaner'">Help cleaning</span><span ng-if="participant.role[0]== 'simpleGuest'">Simple guest</span>:</div>
                <div class="my-meal-dtld-list-pending-user" ng-if="participant.status == 'accepted'">
                    <div>
                        <img ng-src="{{participant.picture.data.url}}" style="border-radius:10px;width:75px; height:75px" class="pull-left" alt="User profile picture" />
                        <div style="position:relative; left:10px;">
                            <div>
                                <a ui-sref="profile({userId: participant._id})" ng-click="cancel()"><strong class="text-info">{{participant.first_name}} {{participant.last_name}}</strong></a>
                            </div>
                            <div class="small" style="padding-top:4px">
                                <span ng-if="participant.gender"><i class="fa fa-venus-mars"></i> {{capitalizeFirstLetter(participant.gender)}}</br></span>
                                <span ng-if="participant.birthdate"><i class="fa fa-birthday-cake"></i> {{participant.birthdate | ageFilter}} years old</br></span>
                                <span ng-if="participant.country_of_origin"><i class="fa fa-globe"></i> From {{participant.country_of_origin.name}}</br></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear10"></div>
            </div>

            <!--<div style="position:relative" ng-repeat="participant in meal.users">
                <img ng-src="{{participant.picture.data.url}}" class="meal-dtld-admin-pic pull-left" alt="User profile picture" />
                <div style="position: relative;left: 14px;">
                    <a ui-sref="profile({userId: participant._id})" ng-click="cancel()"><strong class="text-info size-14">{{participant.first_name}} {{participant.last_name}}</strong></a></br>
                    <span ng-if="participant.gender"><i class="fa fa-venus-mars"></i> {{participant.gender}}</span><span ng-if="participant.birthdate && participant.gender"> - <span ng-if="participant.birthdate">{{participant.birthdate | ageFilter}} <span class="small">years old</span></span>
                    </span>
                    </br>
                    <span ng-if="participant.country_of_origin">From {{participant.country_of_origin.name}}</br></span>
                    <div class="well well-sm well-resume-rating" ng-if="participant.reviews">
                        <table style="text-align:center">
                            <tbody>
                                <tr>
                                    <td ng-if="participant.reviews.positive"><span class="glyphicon glyphicon-plus-sign text-success"></span></td>
                                    <td ng-if="participant.reviews.neutral" style="padding:0px 8px"><span class="glyphicon glyphicon-record text-default"></span></td>
                                    <td ng-if="participant.reviews.negative"><span class="glyphicon glyphicon-minus-sign text-danger"></span></td>
                                </tr>
                                <tr style="font-size:11px">
                                    <td ng-if="participant.reviews.positive">{{participant.reviews.positive}}</td>
                                    <td ng-if="participant.reviews.neutral" style="padding:0px 8px">{{participant.reviews.neutral}}</td>
                                    <td ng-if="participant.reviews.negative">{{participant.reviews.negative}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>-->
        </div>
    </form>
</div>