<div class="container-fluid">

    <div class="row">
        <label class="meal-dtld-menu-label">{{meal.menu}}</label>
        <div class="col-xs-9 meal-dtld-left">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="meal-label meal-location">{{meal.town}} - {{meal.addressApprox}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="meal-label meal-date">{{meal.time |date:'dd/MM/yyyy'}} </div>
                        </div>
                        <div class="col-xs-offset-2 col-xs-4">
                            <div class="meal-label meal-time">{{meal.time |date:'HH:mm'}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 meal-dtld-right">
            <div ng-style="getStyle()" class="" style="font-size: 12px; width: 100%;top:39%;position:absolute;color: rgba(56, 52, 52, 0.45);font-weight:bold; text-align:center; padding:inherit">{{meal.nbGuests-meal.nbRemainingPlaces}} / {{meal.nbGuests}}</div>
            <div ng-style="getStyle()" style="width:67px;margin:auto">
                <div round-progress responsive="true" max="meal.nbGuests" current="meal.nbGuests - meal.nbRemainingPlaces" color="#45ccce" bgcolor="#eaeaea" radius="30" stroke="10" rounded="true" duration="800" animation="easeInOutQuart" animation-delay="0"> </div>
            </div>
        </div>
    </div>
    <div class="row meal-dtld-group">
        <div class="meal-label meal-dtld-group-label"> Je m'inscris : </div>
        <div class="meal-dtld-helpers-label meal-dtld-col">
            <span class="meal-dtld-helpers-places">Part.</span>
            <span class="meal-dtld-helpers-price">Prix</span>
        </div>
        <uib-accordion close-others="accordionOneAtATime">
            <div style="overflow:auto" ng-if="meal.detailedInfo.requiredGuests.cooks">
                <input class="pull-left meal-dtld-helpers-radio" type="radio" ng-model="$parent.requestRole" value="cook" ng-disabled="!requiredGuests.availablePlaces.cooks">
                <div uib-accordion-group class="panel-default pull-left meal-dtld-helpers" is-open="status.open1" is-disabled="!requiredGuests.availablePlaces.cooks">
                    <uib-accordion-heading>
                        <div class="meal-dtld-helpers-label"> J'aide à faire la cuisine
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open1, 'glyphicon-chevron-right': !status.open1}"></i>
                            <span class="meal-dtld-helpers-places">{{meal.detailedInfo.requiredGuests.cooks.nbRquCooks - meal.detailedInfo.requiredGuests.cooks.nbRemainingPlaces}}/{{meal.detailedInfo.requiredGuests.cooks.nbRquCooks}}</span>
                            <span class="meal-dtld-helpers-price">{{meal.detailedInfo.requiredGuests.cooks.price}} €</span>
                        </div>
                    </uib-accordion-heading>
                    <div class="meal-dtld-helpers-description">Vous faites partie de l'équipe des cuisiniers</br>RDV chez l'organisateur à <span class="meal-dtld-helpers-description-time">{{meal.detailedInfo.requiredGuests.cooks.timeCooking | date : 'HH:mm'}}</span></div>
                </div>
            </div>
            <div style="overflow:auto" ng-if="meal.detailedInfo.requiredGuests.cleaners">
                <input class="pull-left meal-dtld-helpers-radio" type="radio" ng-model="$parent.requestRole" value="cleaner" ng-disabled="!requiredGuests.availablePlaces.cleaners">
                <div uib-accordion-group class="panel-default pull-left meal-dtld-helpers" is-open="status.open2" is-disabled="!requiredGuests.availablePlaces.cleaners">
                    <uib-accordion-heading>
                        <div class="meal-dtld-helpers-label"> J'aide à faire la vaisselle
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open2, 'glyphicon-chevron-right': !status.open2}"></i>
                            <span class="meal-dtld-helpers-places">{{meal.detailedInfo.requiredGuests.cleaners.nbRquCleaners - meal.detailedInfo.requiredGuests.cleaners.nbRemainingPlaces}}/{{meal.detailedInfo.requiredGuests.cleaners.nbRquCleaners}}</span>
                            <span class="meal-dtld-helpers-price">{{meal.detailedInfo.requiredGuests.cleaners.price}} €</span>
                        </div>
                    </uib-accordion-heading>
                    <div class="meal-dtld-helpers-description">Bravo, vous êtes une belle personne !</div>
                </div>
            </div>
            <div style="overflow:auto" ng-if="meal.detailedInfo.requiredGuests.simpleGuests">
                <input class="pull-left meal-dtld-helpers-radio" type="radio" ng-model="$parent.requestRole" value="guest" ng-disabled="!requiredGuests.availablePlaces.simpleGuests">
                <div uib-accordion-group class="panel-default pull-left meal-dtld-helpers" is-open="status.open3" is-disabled="!requiredGuests.availablePlaces.simpleGuests">
                    <uib-accordion-heading>

                        <div class="meal-dtld-helpers-label"> Je viens comme je suis ...
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open3, 'glyphicon-chevron-right': !status.open3}"></i>
                            <span class="meal-dtld-helpers-places">{{meal.detailedInfo.requiredGuests.simpleGuests.nbRquSimpleGuests - meal.detailedInfo.requiredGuests.simpleGuests.nbRemainingPlaces}}/{{meal.detailedInfo.requiredGuests.simpleGuests.nbRquSimpleGuests}}</span>
                            <span class="meal-dtld-helpers-price">{{meal.detailedInfo.requiredGuests.simpleGuests.price}} €</span>
                        </div>
                    </uib-accordion-heading>
                    <div class="meal-dtld-helpers-description">... et c'est comme ça qu'on vous préfère !</div>
                </div>
            </div>
        </uib-accordion>
    </div>
    <div class="text-center">
        <a class="btn btn-primary" ng-if="meal.nbRemainingPlaces>0">Envoyer une demande</a>
        <div ng-if="meal.nbRemainingPlaces<=0" class="meal-dtld-full-msg" >Oups ! Ce repas est complet </div>
    </div>

    <div class="row meal-dtld-group">
        <div class="meal-label meal-dtld-group-label">Ce repas est organisé par : </div>
        <div clas="meal-dtld-admin-wrapper">
            <img class="img-circle profilePic meal-dtld-admin-pic" ng-src="{{meal.admin.picture.data.url}}" alt="User profile picture" />
            <div class="meal-admin-name meal-dtld-admin-name">{{meal.admin.first_name}} </br> {{meal.admin.last_name}}</div>
        </div>
    </div>
</div>