<h1 class="page-header" id="tables">Liste de mes repas à venir</h1>
<div class="container">
  <div class="col-sm-9 col-xs-12 list-my-meal">
    <div class="row" ng-repeat="meal in meals | MyMealsFiltered:true">
      <div class="col-xs-12">
        <div class="list-group">
          <a class="list-group-item list-group-my-meal" ui-sref="view_my_dtld_meals({myMealId: meal._id})">
            <div class="hidden-xs col-sm-2 my-meal-admin">
              <img class="img-circle profilePic" ng-src="{{meal.admin.picture.data.url}}" alt="User profile picture" />
              <div class="my-meal-admin-name">{{meal.admin.first_name}} {{meal.admin.last_name | limitTo:1}}</div>
              <div class="my-meal-admin-phone">{{meal.privateInfo.adminPhone}}</div>
            </div>
            <div class="col-xs-12 col-sm-10">
              <div class="row">
                <div class="col-xs-8">
                  <label class="my-meal-menu-label">{{meal.menu}}</label> </br>
                  <div class="my-meal-label my-meal-location">{{meal.town}} - {{meal.privateInfo.address}}</div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="my-meal-label my-meal-date">{{meal.time |date:'dd/MM/yyyy'}} </div>
                    </div>
                    <div class="col-xs-offset-2 col-xs-4">
                      <div class="my-meal-label my-meal-time">{{meal.time |date:'HH:mm'}} </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="my-meal-price">{{meal.price/meal.nbGuests | currency : ""}} €</div>
                  <div ng-style="getStyle()" style="float:right;width:67px;text-align:center">
                    <div ng-style="getStyle()" class="" style="font-size: 12px;top:42px;position:relative;color: rgba(56, 52, 52, 0.45);font-weight:bold; text-align:center">{{meal.nbGuests-meal.nbRemainingPlaces}} / {{meal.nbGuests}}</div>
                    <div round-progress responsive="true" max="meal.nbGuests" current="meal.nbGuests - meal.nbRemainingPlaces" color="#45ccce" bgcolor="#eaeaea" radius="30" stroke="10" rounded="true" duration="800" animation="easeInOutQuart" animation-delay="0"> </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="page-header" id="tables">Liste de mes repas passés</h1>

<div class="container">
  <div class="col-sm-9 col-xs-12 list-my-meal">
    <div class="row" ng-repeat="meal in meals | MyMealsFiltered:false">
      <div class="col-xs-12">
        <div class="list-group">
          <a class="list-group-item list-group-my-meal" ng-click=openModalDtldMyMeal(meal._id)>
            <div class="hidden-xs col-sm-2 my-meal-admin">
              <img class="img-circle profilePic" ng-src="{{meal.admin.picture.data.url}}" alt="User profile picture" />
              <div class="my-meal-admin-name">{{meal.admin.first_name}} {{meal.admin.last_name | limitTo:1}}</div>
              <div class="my-meal-admin-phone">{{meal.privateInfo.adminPhone}}</div>
            </div>
            <div class="col-xs-12 col-sm-10">
              <div class="row">
                <div class="col-xs-8">
                  <label class="my-meal-menu-label">{{meal.menu}}</label> </br>
                  <div class="my-meal-label my-meal-location">{{meal.town}} - {{meal.privateInfo.address}}</div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="my-meal-label my-meal-date">{{meal.time |date:'dd/MM/yyyy'}} </div>
                    </div>
                    <div class="col-xs-offset-2 col-xs-4">
                      <div class="my-meal-label my-meal-time">{{meal.time |date:'HH:mm'}} </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="my-meal-price">{{meal.price/meal.nbGuests | currency : ""}} €</div>
                  <div ng-style="getStyle()" style="float:right;width:67px;text-align:center">
                    <div ng-style="getStyle()" class="" style="font-size: 12px;top:42px;position:relative;color: rgba(56, 52, 52, 0.45);font-weight:bold; text-align:center">{{meal.nbGuests-meal.nbRemainingPlaces}} / {{meal.nbGuests}}</div>
                    <div round-progress responsive="true" max="meal.nbGuests" current="meal.nbGuests - meal.nbRemainingPlaces" color="#45ccce" bgcolor="#eaeaea" radius="30" stroke="10" rounded="true" duration="800" animation="easeInOutQuart" animation-delay="0"> </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>