<div class="container-fluid">
  <div class="clear10"></div>
  <uib-tabset type="pills">
    <uib-tab index="0" heading="Incoming meals" class="my-meal-uitab">
      <div class="clear20"></div>
      <div class="col-xs-12" ng-class="{'list-my-meal':myFuturMealsFilter.length}">
        <div class="row" ng-repeat="meal in myFuturMealsFilter = (meals | filter:futurMealsFilter | orderBy:'time')">
          <div class="col-xs-12">
            <div class="list-group">
              <a ng-if="meal.detailedInfo.pending==false" class="list-group-item list-group-meal my-meal-dtld-panel-success" ui-sref="view_my_dtld_meals({myMealId: meal._id})">
                <div class="hidden-xs col-sm-2 meal-admin">
                  <img class="img-circle profilePic" ng-src="{{meal.admin.picture.data.url}}" alt="User profile picture" />
                  <div class="meal-admin-name">{{meal.admin.first_name}} {{meal.admin.last_name | limitTo:1}}</div>
                </div>
                <div class="col-xs-12 col-sm-10">
                  <div class="row">
                    <div class="col-xs-8">
                      <label class="meal-menu-label" ng-class="{'meal-menu-vegetarian-label': meal.veggies}">{{meal.menu.title | limitTo: 25}}{{meal.menu.title.length > 25 ? '...' : ''}}</label> </br>
                      <div class="meal-label meal-location">{{meal.privateInfo.address.name}}, {{meal.address.town}}, {{meal.address.country}}<span ng-if="meal.privateInfo.address.complement"> - {{meal.privateInfo.address.complement}}</span></div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="meal-label meal-date">{{meal.time |date:'EEEE dd MMMM'}} </div>
                        </div>
                        <div class="col-sm-offset-2 col-sm-4">
                          <div class="meal-label meal-time">{{meal.time |date:'HH:mm'}} </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="row">
                        <div class="meal-status text-success"><span class="hidden-xs">status : </span>I'm going</div>
                      </div>
                      <div class="row">
                        <div class="meal-price">{{meal.priceUser}}</div>
                      </div>
                      <div class="row">
                        <div class="meal-label meal-price-label">per pers</div>
                      </div>
                      <div class="row">
                        <div ng-style="getStyle()" style="float:right;width:67px;text-align:center">
                          <div ng-style="getStyle()" class="" style="font-size: 12px;top:42px;position:relative;color: rgba(56, 52, 52, 0.45);font-weight:bold; text-align:center">{{meal.nbGuests-meal.nbRemainingPlaces}} / {{meal.nbGuests}}</div>
                          <div round-progress responsive="true" max="meal.nbGuests" current="meal.nbGuests - meal.nbRemainingPlaces" color="#45ccce" bgcolor="#eaeaea" radius="30" stroke="10" rounded="true" duration="800" animation="easeInOutQuart" animation-delay="0"> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <a ng-if="meal.detailedInfo.pending==true" class="list-group-item list-group-meal my-meal-dtld-panel-warning">
                <div class="hidden-xs col-sm-2 meal-admin">
                  <img class="img-circle profilePic" ng-src="{{meal.admin.picture.data.url}}" alt="User profile picture" />
                  <div class="meal-admin-name">{{meal.admin.first_name}} {{meal.admin.last_name | limitTo:1}}</div>
                </div>
                <div class="col-xs-12 col-sm-10">
                  <div class="row">
                    <div class="col-xs-8">
                      <label class="meal-menu-label" ng-class="{'meal-menu-vegetarian-label': meal.veggies}">{{meal.menu.title | limitTo: 25}}{{meal.menu.title.length > 25 ? '...' : ''}}</label> </br>
                      <div class="meal-label meal-location">{{meal.address.name}}, {{meal.address.town}}, {{meal.address.country}}</div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="meal-label meal-date">{{meal.time |date:'EEEE dd MMMM'}} </div>
                        </div>
                        <div class="col-sm-offset-2 col-sm-4">
                          <div class="meal-label meal-time">{{meal.time |date:'HH:mm'}} </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="row">
                        <div class="meal-status text-warning"><span class="hidden-xs">status : </span>pending</div>
                      </div>
                      <div class="row">
                        <div class="meal-price">{{meal.priceUser}}</div>
                      </div>
                      <div class="row">
                        <div class="meal-label meal-price-label">per pers</div>
                      </div>
                      <div class="row">
                        <div ng-style="getStyle()" style="float:right;width:67px;text-align:center">
                          <div ng-style="getStyle()" class="" style="font-size: 12px;top:42px;position:relative;color: rgba(56, 52, 52, 0.45);font-weight:bold; text-align:center">{{meal.nbGuests-meal.nbRemainingPlaces}} / {{meal.nbGuests}}</div>
                          <div round-progress responsive="true" max="meal.nbGuests" current="meal.nbGuests - meal.nbRemainingPlaces" color="#45ccce" bgcolor="#eaeaea" radius="30" stroke="10" rounded="true" duration="800" animation="easeInOutQuart" animation-delay="0"> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div ng-hide="myFuturMealsFilter.length">You do not have meals to come</div>
      </div>
    </uib-tab>
    <uib-tab index="1" heading="Previous meals" class="my-meal-uitab">
      <div class="clear20"></div>
      <div class="col-xs-12" ng-class="{ 'list-my-meal':pastMealsFilter.length}">
        <div class="row" ng-repeat="meal in myPastMealsFilter = (meals | filter: pastMealsFilter | orderBy:'-time')">
          <div class="col-xs-12">
            <div class="list-group">
              <a class="list-group-item list-group-meal my-meal-dtld-panel-info" ui-sref="view_my_dtld_meals({myMealId: meal._id})">
                <div class="hidden-xs col-sm-2 meal-admin">
                  <img class="img-circle profilePic" ng-src="{{meal.admin.picture.data.url}}" alt="User profile picture" />
                  <div class="meal-admin-name">{{meal.admin.first_name}} {{meal.admin.last_name | limitTo:1}}</div>
                </div>
                <div class="col-xs-12 col-sm-10">
                  <div class="row">
                    <div class="col-xs-8">
                      <label class="meal-menu-label" ng-class="{'meal-menu-vegetarian-label': meal.veggies}">{{meal.menu.title | limitTo: 25}}{{meal.menu.title.length > 25 ? '...' : ''}}</label> </br>
                      <div class="meal-label meal-location">{{meal.privateInfo.address.name}}, {{meal.address.town}}, {{meal.address.country}}<span ng-if="meal.privateInfo.address.complement"> - {{meal.privateInfo.address.complement}}</span></div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="meal-label meal-date">{{meal.time |date:'EEEE dd MMMM'}} </div>
                        </div>
                        <div class="col-sm-offset-2 col-sm-4">
                          <div class="meal-label meal-time">{{meal.time |date:'HH:mm'}} </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="row">
                        <div class="meal-status text-info"><span class="hidden-xs">status : passed</span></div>
                      </div>
                      <div class="row">
                        <div class="meal-price">{{meal.priceUser}}</div>
                      </div>
                      <div class="row">
                        <div class="meal-label meal-price-label">per pers</div>
                      </div>
                      <div class="row">
                        <div ng-style="getStyle()" style="float:right;width:67px;text-align:center">
                          <div ng-style="getStyle()" class="" style="font-size: 12px;top:42px;position:relative;color: rgba(56, 52, 52, 0.45);font-weight:bold; text-align:center">{{meal.nbGuests-meal.nbRemainingPlaces}} / {{meal.nbGuests}}</div>
                          <div round-progress responsive="true" max="meal.nbGuests" current="meal.nbGuests - meal.nbRemainingPlaces" color="#45ccce" bgcolor="#eaeaea" radius="30" stroke="10" rounded="true" duration="800" animation="easeInOutQuart" animation-delay="0"> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div ng-hide="myPastMealsFilter.length">You didn't participate yet</div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>