p {
    box-sizing: content-box;
}

.footer-concept,
.footer-team,
#inner-body {
    background: #ffffff;
    width: 1000px;
    border: 1px solid #c1bfb7;
    margin: 0px auto -20px auto;
    padding-bottom: 20px;
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

.footer-concept {
    overflow: hidden;
    height: 500px;
}

.footer-team {
    overflow: hidden;
    height: 300px;
}

#inner-body {
    background-position: -1px 0;
}

#inner-body-content {
    width: 80%;
    padding-top: 25px;
    float: right;
    height: auto;
    overflow: auto;
}

.wrapper {
    background-color: #eff8fd;
}

#how-it-works-footer-concept {
    background: url("/assets/images/footer_information_concept/concept_general.jpg");
    background-repeat: no-repeat;
    text-align: center;
}

#concept-price {
    background: url("/assets/images/footer_information_concept/concept_price.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 296px;
}

.clear10 {
    clear: both;
    height: 10px;
}

.clear20 {
    clear: both;
    height: 20px;
}

.clear40 {
    clear: both;
    height: 40px;
}

.clear100 {
    clear: both;
    height: 100px;
}


/* iPads (landscape) ----------- */

@media only screen and (max-width: 769px) {
    .wrapper .footer-concept#how-it-works-footer-concept {
        height: 442px !important;
        background-size: cover;
        background-position: center center;
    }
}

@media only screen and (max-width: 1024px) {
    /*Main Width Params*/
    .footer-concept,
    #inner-body {
        width: 100%;
    }
    /*Flex Columns*/
    #inner-body {
        display: -webkit-flex;
        display: flex;
    }

    .wrapper .footer-concept#how-it-works-footer-concept {
        height: 515px;
        background-size: cover;
        background-position: center center;
    }
    .wrapper .footer-concept#concept-price {
        height: 296px;
        background-size: cover;
        background-position: center center;
    }
    .wrapper .footer-concept#how-it-works-footer-concept img {
        display: none;
    }
    #inner-body {
        background: #fff;
    }
    /*Images*/
    .wrapper .footer-concept img {
        width: 100%;
        height: auto;
        display: block;
    }
}

#how-inner-body-content {
    margin: 0px 15px;
}

@media only screen and (max-width: 769px) {
    /*Text Reset For Smaller Devices*/
    p {
        font-size: 18px !important;
    }
    #inner-body-content,
    #how-inner-body-content {
        width: 100%;
    }
}

@media only screen and (max-width: 510px) {
    .footer-concept h1{
        font-size: 42px;
    }
}

@media (max-width: 500px) {
        #bg-info-concept {
        bottom: 20px;
        height: 264px;
    }
}

@media (min-width: 500px) and (max-width: 769px) {
    #bg-info-concept {
        bottom: 0px;
    }
}

@media (max-width: 769px) {
    #bg-info-concept {
        height: 263px;
        background-color: rgba(255, 255, 255, 0.7);
    }
    .wrapper .footer-concept#how-it-works-footer-concept p {
        color: #003f5e;
        font-size: 15px !important;
    }
    #bg-info-concept-title {
        font-size: 26px;
        margin-top: 30px;
        color: white;
    }
}

@media (min-width: 769px) {
    #bg-info-concept {
        height: 499px;
        background-color: rgba(255, 255, 255, 0.7);
    }
    #bg-concept-roles-3 {
        height: 200px;
    }
    #bg-concept-roles-2 {
        height: 440px;
    }
    #bg-concept-roles-1 {
        height: 360px;
    }
    .wrapper .footer-concept#how-it-works-footer-concept p {
        color: #003f5e;
        font-size: 19px !important;
    }
    #bg-info-concept-title {
        font-size: 26px;
        margin-top: 35px;
        color: white;
    }
}

@media (max-width: 769px) {
    #bg-info-concept-title {
        height: 140px;
    }
}

#bg-concept-roles-1,
#bg-concept-roles-2,
#bg-concept-roles-title {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#bg-concept-roles-3 {
    box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.2);
}

hr.mod-short {
    background-color: #27374c;
    border-width: 0;
    color: #27374c;
    height: 2px;
    margin-bottom: 1em;
    width: 50px
}

.info-box hr.mod-short {
    width: 30px
}

hr.mod-info {
    background-color: #003f5e;
    color: white
}

a.mod-info {
    color: #003f5e;
}
