<div class="wrapper">
    <div id="how-it-works-footer-concept" class="footer-concept">
        <div class="row">
            <div class="d-block d-md-none w-100" style="padding:0px 20px">
                <h1 id="bg-info-concept-title" translate>FOOTER.CONCEPT.TITLE</h1>
            </div>
            <div class="offset-md-1 col-md-3 d-none d-md-block">
                <h1 id="bg-info-concept-title" translate>FOOTER.CONCEPT.TITLE</h1>
            </div>
            <div class="offset-1 col-8 offset-sm-2 col-sm-6 col-md-4 offset-md-3" id="bg-info-concept">
                <!--<hr class="mod-short mod-info">-->
                <div class="clear20 d-block d-md-none"></div>
                <div class="clear100 d-none d-md-block"></div>
                <p translate>FOOTER.CONCEPT.PARAGRAPH_1</p>
                <div class="clear10 d-none d-md-block"></div>
                <p class="font-weight-bold" translate>FOOTER.CONCEPT.PARAGRAPH_2</p>
            </div>
        </div>
    </div>
    <div id="inner-body">
        <div id="how-inner-body-content">
            <section class="text-center">
                <div class="row lighter text-center d-block" id="bg-concept-roles-title">
                    <div class="clear20 d-block d-md-none"></div>
                    <div class="clear40 d-none d-md-block"></div>
                    <h2 style="text-transform: uppercase" translate>FOOTER.CONCEPT.DIFFERENT_ROLES.TITLE</h2>
                    <div class="clear40"></div>
                </div>
                <div class="row">
                    <div class="col-md-6" id="bg-concept-roles-1">
                        <div class="clear40"></div>
                        <article>
                            <img class="mod-center mod-margin-bottom" src="/assets/images/footer_information_concept/concept_host_blue_128.png">
                            <h3 class="info-box-title-how-it-works text-info" translate>FOOTER.CONCEPT.DIFFERENT_ROLES.HOST.NAME</h3>
                            <hr class="mod-short mod-info">
                            <p translate>FOOTER.CONCEPT.DIFFERENT_ROLES.HOST.DESCRIPTION</p>
                        </article>
                        <div class="clear20"></div>
                    </div>
                    <div class="col-md-6" id="bg-concept-roles-1">
                        <div class="clear40"></div>
                        <article>
                            <img class="mod-center mod-margin-bottom" src="/assets/images/footer_information_concept/concept_helpCooking_blue_128.png">
                            <h3 class="info-box-title-how-it-works text-info" translate>FOOTER.CONCEPT.DIFFERENT_ROLES.HELP_COOKING.NAME</h3>
                            <hr class="mod-short mod-info">
                            <p translate>FOOTER.CONCEPT.DIFFERENT_ROLES.HELP_COOKING.DESCRIPTION</p>
                        </article>
                        <div class="clear20"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" id="bg-concept-roles-2">
                        <div class="clear40"></div>
                        <article>
                            <img class="mod-center mod-margin-bottom" src="/assets/images/footer_information_concept/concept_helpCleaning_blue_128.png">
                            <h3 class="info-box-title-how-it-works text-info" translate>FOOTER.CONCEPT.DIFFERENT_ROLES.HELP_CLEANING.NAME</h3>
                            <hr class="mod-short mod-info">
                            <p translate>FOOTER.CONCEPT.DIFFERENT_ROLES.HELP_CLEANING.DESCRIPTION</p>
                        </article>
                        <div class="clear20"></div>
                    </div>
                    <div class="col-md-6" id="bg-concept-roles-2">
                        <div class="clear40"></div>
                        <article>
                            <img class="mod-center mod-margin-bottom" src="/assets/images/footer_information_concept/concept_simpleGuest_blue_128.png">
                            <h3 class="info-box-title-how-it-works text-info" translate>FOOTER.CONCEPT.DIFFERENT_ROLES.SIMPLE_GUEST.NAME</h3>
                            <hr class="mod-short mod-info">
                            <p translate>FOOTER.CONCEPT.DIFFERENT_ROLES.SIMPLE_GUEST.DESCRIPTION</p>
                        </article>
                        <div class="clear20"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div id="concept-price" class="footer-concept">
    </div>
    <div id="inner-body">
        <div id="how-inner-body-content">
            <section class="text-center">
                <div class="row text-center d-block">
                    <div class="clear20"></div>
                    <div class="col-12 text-color" translate>FOOTER.CONCEPT.GROCERIES_PRICE.TITLE</div>
                    <div class="clear20"></div>
                    <hr class="mod-short mod-info d-block d-md-none">
                </div>
                <div class="row d-block d-md-flex">
                    <div class="col-md-6" id="bg-concept-roles-3">
                        <article>
                            <h3 translate>FOOTER.CONCEPT.GROCERIES_PRICE.WITHOUT_SIMPLE_GUEST.TITLE</h3>
                            <span class="col-md-12" translate>FOOTER.CONCEPT.GROCERIES_PRICE.WITHOUT_SIMPLE_GUEST.DESCRIPTION</span>
                        </article>
                    </div>
                    <div class="clear20 d-block d-md-none"></div>
                    <div class="col-md-6" id="bg-concept-roles-3">
                        <article>
                            <h3 translate>FOOTER.CONCEPT.GROCERIES_PRICE.WITH_SIMPLE_GUEST.TITLE</h3>
                            <span class="col-md-12" translate>FOOTER.CONCEPT.GROCERIES_PRICE.WITH_SIMPLE_GUEST.DESCRIPTION</span>
                        </article>
                    </div>
                    <div class="clear10 d-block d-md-none"></div>
                    <hr class="mod-short mod-info d-block d-md-none">
                </div>
                <div class="row text-center d-block">
                    <div class="clear40"></div>
                    <div class="col-12 font-weight-bold text-color" translate>FOOTER.CONCEPT.GROCERIES_PRICE.CONCLUSION_1</div>
                    <div class="col-12 text-color" translate>FOOTER.CONCEPT.GROCERIES_PRICE.CONCLUSION_2</div>
                    <div class="clear40"></div>
                </div>
            </section>
        </div>
    </div>
</div>
