<agm-map [latitude]="userLat" [longitude]="userLng" [zoom]="9">
  <agm-marker *ngFor="let meal of (meals | async | daysPipe: selectedFilter.weekDays | pricePipe: selectedFilter | dateRangePipe: selectedFilter | preferencePipe: selectedFilter.preferenceFilter | helpingTypePipe: selectedFilter.helpTypeFilter | cityPipe: selectedFilter.cityFilter)"
    [latitude]="meal.address.lat" [longitude]="meal.address.lng">
    <agm-snazzy-info-window [closeWhenOthersOpen]="true" [maxWidth]="1000" [maxHeight]="1000">
      <ng-template>
        <div class="container-fluid">
          <div class="row align-items-center">
            <img src="/assets/images/create_meal/cutlery_menu.png">
            <h6 class="ml-1 mb-0">{{meal.menu.title}}</h6>
          </div>
          <div class="row align-items-center pt-2 text-capitalize">
            <i class="fa fa-calendar pr-1"></i> {{meal.date | date:'EEEE dd MMMM'}}
          </div>
          <div class="row align-items-center pt-1">
            <i class="fa fa-clock-o pr-1"></i> {{meal.date| date:'HH:mm'}}
          </div>
          <div class="row align-items-center pt-1">
            <span class="fa fa-money pr-1"></span> <span><span translate>VIEW_MEALS.PRICE</span> <strong class="size-15 text-success"><span *ngIf="meal.currency_symbol !== '€'">{{meal.currency_symbol}} </span>{{meal.mealPrice}}<span *ngIf="meal.currency_symbol === '€'"> {{meal.currency_symbol}}</span></strong></span>
          </div>
          <div *ngIf="meal.veggies === true" class="row align-items-center pt-1">
            <img src="/assets/images/view_meals/vegetarian-sign.png" style="width:16px; height:16px" class="pr-1"><span translate>VIEW_MEALS.VEGETARIAN_MEAL</span>
          </div>
          <div *ngIf="meal.vegan === true" class="row align-items-center pt-1">
            <img src="/assets/images/view_meals/vegetarian-sign.png" style="width:16px; height:16px" class="pr-1"><span translate>VIEW_MEALS.VEGAN_MEAL</span>
          </div>
          <div *ngIf="meal.halal === true" class="row align-items-center pt-1">
            <img src="/assets/images/view_meals/halal-sign.png" style="width:16px; height:16px" class="pr-1"><span translate>VIEW_MEALS.HALAL_MEAL</span>
          </div>
          <div *ngIf="meal.kosher === true" class="row align-items-center pt-1">
            <img src="/assets/images/view_meals/kosher-sign.png" style="width:16px; height:16px" class="pr-1"><span translate>VIEW_MEALS.KOSHER_MEAL</span>
          </div>
          <hr class="my-2">
          <div class="font-weight-bold font-italic text-dark row pb-1" translate>VIEW_MEALS.HOST</div>
          <div class="media row mb-2">
            <div class="align-self-auto mr-2">
              <img class="rounded border" id="profilePicHost" src="{{meal.users[0].detail?.picture}}" alt="" onerror="this.src='/assets/images/viewMyMealDtld/unknown_user.png'">
              <div class="card" style="border:initial">
                <table class="text-center">
                  <tbody>
                    <tr>
                      <td *ngIf="meal.users[0].detail?.reviews.positive > 0" class="pr-2"><span class="fa fa-plus-circle text-success"></span></td>
                      <td *ngIf="meal.users[0].detail?.reviews.neutral > 0"><span class="fa fa-dot-circle-o text-info"></span></td>
                      <td *ngIf="meal.users[0].detail?.reviews.negative > 0" class="pl-2"><span class="fa fa-minus-circle text-danger"></span></td>
                    </tr>
                    <tr style="font-size:11px" *ngIf="meal.users[0].detail?.reviews.positive > 0|| meal.users[0].detail?.reviews.neutral > 0 || meal.users[0].detail?.reviews.negative > 0">
                      <td *ngIf="meal.users[0].detail?.reviews.positive > 0" class="pr-2">{{meal.users[0].detail?.reviews.positive}}</td>
                      <td *ngIf="meal.users[0].detail?.reviews.neutral > 0">{{meal.users[0].detail?.reviews.neutral}}</td>
                      <td *ngIf="meal.users[0].detail?.reviews.negative > 0" class="pl-2">{{meal.users[0].detail?.reviews.negative}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="media-body">
              <h6 class="mt-0 text-info">{{meal.users[0].detail?.first_name}} {{meal.users[0].detail?.last_name[0]}}</h6>
              <div class="small mb-0">
                <span *ngIf="meal.users[0].detail?.gender"><i class="fa fa-venus-mars"></i> <span class="text-capitalize">{{meal.users[0].detail?.gender}}</span><br /></span>
                <span *ngIf="meal.users[0].detail?.birthdate"><i class="fa fa-birthday-cake"></i> {{meal.users[0].detail?.birthdate | age}} <span translate>PROFILE.YEARS_OLD</span><br />
                </span>
                <span *ngIf="meal.users[0].detail?.country_of_origin"><i class="fa fa-globe"></i> <span translate="PROFILE.COUNTRY_OF_ORIGIN" [translateParams]="{ country_of_origin_name: meal.users[0].detail?.country_of_origin.name }"></span><br />
                </span>
              </div>
            </div>
          </div>
          <div class="text-center" *ngIf="auth.user | async; let user; else guest">
            <a class="btn btn-sm text-light btn-info" *ngIf="!ms.datasUserForEachMeal(meal, userId).status && meal.nbRemainingPlaces > 0" (click)=openModalDtld(meal._id) translate>VIEW_MEALS.ACTION_BUTTON.SEE_MEAL</a>
            <!-- remplacer le routerLink par le bon chemin pour accéder au repas-->
            <a class="btn btn-sm text-light btn-success" *ngIf="ms.datasUserForEachMeal(meal, userId).status === 'accepted'" routerLink="my_meals" translate>VIEW_MEALS.ACTION_BUTTON.SEE_MEAL</a>
          </div>
          <ng-template #guest>
            <div class="text-center">
              <div translate>VIEW_MEALS.ACTION_BUTTON.SIGN_IN_1</div>
              <a class="btn btn-sm text-light btn-primary my-1" (click)="openModalLogin(modalContent)" translate>VIEW_MEALS.ACTION_BUTTON.SIGN_IN_2</a>
              <div translate>VIEW_MEALS.ACTION_BUTTON.SIGN_IN_3</div>
            </div>
          </ng-template>
        </div>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
</agm-map>