<agm-map [latitude]="userLat" [longitude]="userLng" [zoom]="9">
  <agm-marker *ngFor="let meal of (meals | async | daysPipe: selectedFilter.weekDays | pricePipe: selectedFilter | dateRangePipe: selectedFilter | preferencePipe: selectedFilter.preferenceFilter | helpingTypePipe: selectedFilter.helpTypeFilter | cityPipe: selectedFilter.cityFilter)"
    [latitude]="meal.address.lat" [longitude]="meal.address.lng">
    <agm-snazzy-info-window [closeWhenOthersOpen]="true" [maxWidth]="1000" [maxHeight]="1000">
      <ng-template>
        <div class="container-fluid">
          <div class="row align-items-center">
            <img src="/assets/images/create_meal/cutlery_menu.png">
            <h6 class="ml-1 mb-0">{{meal.menu.title}}</h6>
          </div>
          <div class="row align-items-center pt-3 text-capitalize">
            <i class="fa fa-calendar pr-1"></i> {{meal.date | date:'EEEE dd MMMM'}}
          </div>
          <div class="row align-items-center pt-2">
            <i class="fa fa-clock-o pr-1"></i> {{meal.date| date:'HH:mm'}}
          </div>
          <div class="row align-items-center pt-2">
            <span class="fa fa-money pr-1"></span> <span><span translate>VIEW_MEALS.PRICE</span> <strong class="size-15 text-success"><span *ngIf="meal.currency_symbol !== '€'">{{meal.currency_symbol}} </span>{{meal.mealPrice}}<span *ngIf="meal.currency_symbol === '€'"> {{meal.currency_symbol}}</span></strong></span>
          </div>
          <div *ngIf="meal.veggies === true" class="row align-items-center pt-2">
            <img src="/assets/images/view_meals/vegetarian-sign.png" style="width:16px; height:16px" class="pr-1"><span translate>VIEW_MEALS.VEGETARIAN_MEAL</span>
          </div>
          <div *ngIf="meal.vegan === true" class="row align-items-center pt-2">
            <img src="/assets/images/view_meals/vegetarian-sign.png" style="width:16px; height:16px" class="pr-1"><span translate>VIEW_MEALS.VEGAN_MEAL</span>
          </div>
          <div *ngIf="meal.halal === true" class="row align-items-center pt-2">
            <img src="/assets/images/view_meals/halal-sign.png" style="width:16px; height:16px" class="pr-1"><span translate>VIEW_MEALS.HALAL_MEAL</span>
          </div>
          <div *ngIf="meal.kosher === true" class="row align-items-center pt-2">
            <img src="/assets/images/view_meals/kosher-sign.png" style="width:16px; height:16px" class="pr-1"><span translate>VIEW_MEALS.KOSHER_MEAL</span>
          </div>
          <div class="row">
            <hr class="col-6">
            <div class="font-weight-bold font-italic" translate>VIEW_MEALS.HOST</div>
            <div class="clear10"></div>
            <div>
              <a routerLink="profile({userId:meal.users[0].id})"><img src="{{meal.users[0].detail?.picture}}" style="border-radius:10px;width:50px; height:50px; margin-bottom:20px" class="pull-left" alt="" onerror="this.src='/assets/images/viewMyMealDtld/unknown_user.png'" /></a>
              <div style="position:relative; left:10px;">
                <div>
                  <a routerLink="profile({userId: meal.users[0].id})"><strong class="text-info">{{meal.users[0].detail?.first_name}} {{meal.users[0].detail?.last_name}}</strong></a>
                </div>
                <div class="small" style="padding-top:4px">
                  <span *ngIf="meal.users[0].detail?.gender"><i class="fa fa-venus-mars"></i> {{meal.users[0].detail?.gender | capitalize}}<br /></span>
                  <span *ngIf="meal.users[0].detail?.birthdate"><i class="fa fa-birthday-cake"></i> {{meal.users[0].detail?.birthdate | age}} <span translate>PROFILE.YEARS_OLD</span><br />
                  </span>
                  <span *ngIf="meal.users[0].detail?.country_of_origin"><i class="fa fa-globe"></i> <span translate="PROFILE.COUNTRY_OF_ORIGIN" [translateParams]="{ country_of_origin_name: meal.users[0].detail?.country_of_origin.name }"></span><br />
                  </span>
                </div>
                <div class="clear5"></div>
                <div class="well well-sm well-resume-rating" style="border:initial; margin-left:-11px; margin-top:-20px" *ngIf="meal.users[0].detail?.reviews.positive || meal.users[0].detail?.reviews.neutral || meal.users[0].detail?.reviews.negative">
                  <table style="text-align:center">
                    <tbody>
                      <tr>
                        <td style="padding:0px 4px" *ngIf="meal.users[0].detail?.reviews.positive"><span class="glyphicon glyphicon-plus-sign text-success"></span></td>
                        <td style="padding:0px 4px" *ngIf="meal.users[0].detail?.reviews.neutral"><span class="glyphicon glyphicon-record text-default"></span></td>
                        <td style="padding:0px 4px" *ngIf="meal.users[0].detail?.reviews.negative"><span class="glyphicon glyphicon-minus-sign text-danger"></span></td>
                      </tr>
                      <tr style="font-size:11px">
                        <td style="padding:0px 4px" *ngIf="meal.users[0].detail?.reviews.positive">{{meal.users[0].detail?.reviews.positive}}</td>
                        <td style="padding:0px 4px" *ngIf="meal.users[0].detail?.reviews.neutral">{{meal.users[0].detail?.reviews.neutral}}</td>
                        <td style="padding:0px 4px" *ngIf="meal.users[0].detail?.reviews.negative">{{meal.users[0].detail?.reviews.negative}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <a class="btn btn-xs" ng-class="{'btn-primary':!datasUserForEachMeal(meal),'btn-success':datasUserForEachMeal(meal)}" *ngIf="meal.nbRemainingPlaces>0 || meal.nbRemainingPlaces<=0 && datasUserForEachMeal(meal).status == 'accepted'" ng-click=openModalDtld(meal._id)
              translate>VIEW_MEALS.ACTION_BUTTON.SEE_MEAL</a>
            <span *ngIf="meal.nbRemainingPlaces<=0 && !datasUserForEachMeal(meal)"><strong class="text-danger" translate>VIEW_MEALS.ACTION_BUTTON.MEAL_FULL</strong><br><br><span translate>VIEW_MEALS.ACTION_BUTTON.SIGN_IN_1</span> <a class="btn btn-xs btn-facebook"
              ng-click="auth('facebook', toState)" translate>VIEW_MEALS.ACTION_BUTTON.SIGN_IN_2</a> <span translate>VIEW_MEALS.ACTION_BUTTON.SIGN_IN_3</span></span>
          </div>
        </div>

      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
</agm-map>