/* app css stylesheet */

/* to align bootstrap column
.col-centered{
    float: none;
    margin: 0 auto;
}
---------------------   */


.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* ANIMATION STYLINGS
============================================================================= */
#signup-form            { position:relative; min-height:300px; overflow:hidden; padding:30px; }
#form-views-right,#form-views-left     { width:auto; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views-right.ng-enter,
#form-views-left.ng-enter
{ position:absolute;transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}

/* right enter animation */
#form-views-right.ng-enter { 
    transform: translateX(100%);
}

#form-views-right.ng-enter.ng-enter-active {
  transform: translateX(0);
}

#form-views-right.ng-leave.ng-leave-active { 
    transform: translateX(-100%);
}

/* left enter animation */
#form-views-left.ng-enter            { 
    transform: translateX(-100%);
}

#form-views-left.ng-leave, #form-views-left.ng-enter.ng-enter-active {
  transform: translateX(0);
}

#form-views-left.ng-leave.ng-leave-active { 
    transform: translateX(100%);
}







/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideLeft {  
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideLeft {
    to      { -webkit-transform: translateX(-200%); }
}

@keyframes slideRight {
    to      { transform: translateX(200%); }
}
@-moz-keyframes slideRight {  
    to      { -moz-transform: translateX(200%); }
}
@-webkit-keyframes slideRight {
    to      { -webkit-transform: translateX(200%); }
}

@keyframes fade_out {
  from { opacity:1; }
  to { opacity:0; }
}

@keyframes slideInLeft {
    from    { transform:translateX(-200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
    from    { -moz-transform:translateX(-200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
    from    { -webkit-transform:translateX(-200%); }
    to      { -webkit-transform: translateX(0); }
}

/* apparition of help questions */

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.form_bg {
    background-color:#eee;
    color:#666;
    padding:20px;
    border-radius:10px;
    position: absolute;
    border:1px solid #fff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 280px;
}

.align-center {
    
    text-align:center;
}

.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Profile pic */
.profilePic {
    margin-bottom: -9px;
    margin-top: -9px;
    width: 40px;
}

/* View Meals -------------------------------------------------------------------------------- */
  /* Sort */
.meal-search-title-count {
    display: inline-block;
    float: left;
    max-width: 600px;
    margin-right: 8px;
    padding: 8px 0 10px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px
}

.meal-search-sort {
    /*float: right;*/
    margin-right: 5px
}

.meal-search-sort .btn-group {
    margin: 0;
    margin-top: 5px
}

.meal-search-sort .btn-group .btn {
    border-radius: 8px
}

.meal-search-sort .btn-group .btn.order-date {
    background: url("/static/sources/icones sort/menu_date.png") no-repeat 50% 50%;
    background: url("/static/sources/icones sort/menu_date.png"), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: url("/static/sources/icones sort/menu_date.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
    background: url("/static/sources/icones sort/menu_date.png"), -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background: url("/static/sources/icones sort/menu_date.png"), -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background: url("/static/sources/icones sort/menu_date.png"), linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: no-repeat, repeat;
    background-position: center;
    /*margin-right: -5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;*/
    overflow: hidden;
    text-indent: -10000px;
    min-height: 30px;
    min-width: 56px
}

.meal-search-sort .btn-group .btn.order-date.desc {
    background: #e6e6e6 url("/static/sources/icones sort/menu_date_desc.png") 50% 50% no-repeat
}

.meal-search-sort .btn-group .btn.order-date.asc {
    background: #e6e6e6 url("/static/sources/icones sort/menu_date_asc.png") 50% 50% no-repeat
}



.meal-search-sort .sort-menu {
    min-width: 58px;
    padding: 0;
    margin: 2px 0 0 0
}

.meal-search-sort .sort-menu li:first-child {
    border-bottom: 1px solid #E9E9E9
}

.meal-search-sort .sort-menu li.desc a,
.meal-search-sort .sort-menu li.asc a {
    overflow: hidden;
    text-indent: -9999px;
    padding: 5px 0
}

.meal-search-sort .sort-menu li.desc a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: url("/static/sources/icones sort/menu_desc.png") no-repeat 50% 50%
}

.meal-search-sort .sort-menu li.desc a:hover {
    background: #0FAAF0 url("/static/sources/icones sort/menu_desc_hover.png") no-repeat 50% 50%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
}

.meal-search-sort .sort-menu li.asc a {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: url("/static/sources/icones sort/menu_asc.png") no-repeat 50% 50%
}

.meal-search-sort .sort-menu li.asc a:hover {
    background: #0FAAF0 url("/static/sources/icones sort/menu_asc_hover.png") no-repeat 50% 50%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px
}

/* ng-repeat meal in meals */

.list-group-meal{
    display: inline-block;
    width: 100%;
}

.meal-menu-label{
    font-size: 16px;
    padding-left: 22px;
    height: 25px;
    background: url("/static/sources/menu.png") no-repeat 0;
    margin-bottom: 27px;
}

.meal-label{
    font-size: 12px;
    color: rgba(56, 52, 52, 0.45);
    padding-left: 29px;
    padding-top: 7px;
    max-width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}

.meal-location {
    background: url("/static/sources/location.png") no-repeat 0;
}

.meal-date{
    background: url("/static/sources/calendar.png") no-repeat;
}

.meal-time{
    background: url("/static/sources/clock.png") no-repeat;
}

.meal-price{
    font-size: 20px;
    font-weight: 700;
    color: #3EA93E;
    text-align: right;
}

.meal-price-label{
    text-align: right;
    padding-top: 0;
    padding-left: 0;
    margin-bottom:-5px;
}
/*------------------------------------------------------------------------------------------------------------------------- */

