<form class="needs-validation" [formGroup]="createRequestRoleForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-header">
        <h5 class="modal-title"><img class="mr-1" src="/assets/images/create_meal/cutlery_menu.png">{{meal.menu.title}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-dark">
        <div *ngIf="meal.menu.description">
            <span translate>VIEW_MEALS_DTLD.DESCRIPTION</span>: <em class="text-capitalize">{{meal.menu.description}}</em>
        </div>
        <div>
            <span class="fa fa-map-marker"></span> {{meal.address.town}}, {{meal.address.country}}<span *ngIf="meal.address.postalCode"> - {{meal.address.postalCode}}</span>
        </div>
        <div>
            <span class="fa fa-calendar pr-1"></span><span class="text-capitalize">{{meal.date | date:'EEEE dd MMMM'}}</span><span class="fa fa-clock-o pr-1 pl-3"></span>{{meal.date | date:'HH:mm'}}
        </div>
        <div *ngIf="meal.veggies === true">
            <img src="/assets/images/view_meals/vegetarian-sign.png" style="width:16px; height:16px"> <span translate>VIEW_MEALS_DTLD.VEGETARIAN_MEAL</span>
        </div>
        <div *ngIf="meal.vegan === true">
            <img src="/assets/images/view_meals/vegetarian-sign.png" style="width:16px; height:16px"> <span translate>VIEW_MEALS_DTLD.VEGAN_MEAL</span>
        </div>
        <div *ngIf="meal.halal === true">
            <img src="/assets/images/view_meals/halal-sign.png" style="width:16px; height:16px"> <span translate>VIEW_MEALS_DTLD.HALAL_MEAL</span>
        </div>
        <div *ngIf="meal.kosher === true">
            <img src="/assets/images/view_meals/kosher-sign.png" style="width:16px; height:16px"> <span translate>VIEW_MEALS_DTLD.KOSHER_MEAL</span>
        </div>
        <hr>
        <div class="font-weight-bold form-group" translate>VIEW_MEALS_DTLD.INSCRIPTION.TITLE</div>
        <!--<div ng-show="errorSubscribe.requestRole.status || (viewMealsDtldForm.requestRole.$error.required && viewMealsDtldForm.$submitted)">
        <div uib-alert class="alert alert-dismissible alert-danger text-center" close="closeAlert()">{{errorSubscribe.requestRole.message || "You have to select a role to participate"}}</div>
    </div>-->
        <div class="form-group">
            <div class="meal-dtld-helpers-label meal-dtld-col">
                <span class="meal-dtld-helpers-position" ngbTooltip="{{'VIEW_MEALS_DTLD.INSCRIPTION.TOOLTIP.PARTICIPANTS'|translate}}" placement="top"><img src="/assets/images/view_meals/multiple-users-silhouette.png" class="mb-1" height="18px" width="18px"></span>
                <span class="meal-dtld-helpers-position fa fa-money" ngbTooltip="{{'VIEW_MEALS_DTLD.INSCRIPTION.TOOLTIP.PRICE'|translate}}" placement="top" style="font-size:18px"></span>
            </div>
            <ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
                <ngb-panel id="cookInput" [disabled]="availablePlaces('cooks') === 0" *ngIf="meal.detailedInfo.requiredGuests.cooks.nbRquCooks > 0">
                    <ng-template ngbPanelTitle>
                        <input type="radio" formControlName="requestRoleInput" id="requestRoleCook" value="cook" (click)="$event.stopPropagation();acc.toggle('cookInput')" required>
                        <label for="requestRoleCook" class="small-xs" translate>CREATE_A_MEAL.FORM.HELP_COOKING.NAME</label>
                        <span class="meal-dtld-helpers-position">{{meal.detailedInfo.requiredGuests.cooks.nbRquCooks - availablePlaces('cooks')}}/{{meal.detailedInfo.requiredGuests.cooks.nbRquCooks}}</span>
                        <span class="meal-dtld-helpers-position">{{meal.detailedInfo.requiredGuests.cooks.price | currencySymbol:meal.currency_symbol}}</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="small" [innerHTML]="'VIEW_MEALS_DTLD.INSCRIPTION.DESCRIPTION_COOK' | translate:{arrivalTime: meal.date | date : 'HH:mm'}"></div>
                        <div class="small" *ngIf="(meal.price/meal.nbGuests) !== meal.detailedInfo.requiredGuests.cooks.price">
                            <span [innerHTML]="'VIEW_MEALS_DTLD.INSCRIPTION.DESCRIPTION_PRICE' | translate:{helpPrice: meal.detailedInfo.requiredGuests.cooks.price | currencySymbol:meal.currency_symbol, priceUnit: meal.priceUnit | currencySymbol:meal.currency_symbol}"></span>
                            <a routerLink="footer_information_concept" fragment="groceries_calculation" (click)="activeModal.dismiss('go to footer_information_concept')" translate>VIEW_MEALS_DTLD.INSCRIPTION.DESCRIPTION_PRICE_2</a>
                            <span translate>VIEW_MEALS_DTLD.INSCRIPTION.DESCRIPTION_PRICE_3</span>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="cleanerInput" [disabled]="availablePlaces('cleaners') === 0" *ngIf="meal.detailedInfo.requiredGuests.cleaners.nbRquCleaners > 0">
                    <ng-template ngbPanelTitle>
                        <input type="radio" formControlName="requestRoleInput" id="requestRoleCleaner" value="cleaner" (click)="$event.stopPropagation();acc.toggle('cleanerInput')" required>
                        <label for="requestRoleCleaner" class="small-xs" translate>CREATE_A_MEAL.FORM.HELP_CLEANING.NAME</label>
                        <span class="meal-dtld-helpers-position">{{meal.detailedInfo.requiredGuests.cleaners.nbRquCleaners - availablePlaces('cleaners')}}/{{meal.detailedInfo.requiredGuests.cleaners.nbRquCleaners}}</span>
                        <span class="meal-dtld-helpers-position">{{meal.detailedInfo.requiredGuests.cleaners.price | currencySymbol:meal.currency_symbol}}</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="small" [innerHTML]="'VIEW_MEALS_DTLD.INSCRIPTION.DESCRIPTION_CLEANER' | translate:{arrivalTime: meal.date | date : 'HH:mm'}"></div>
                        <div class="small" *ngIf="(meal.price/meal.nbGuests) !== meal.detailedInfo.requiredGuests.cleaners.price">
                            <span [innerHTML]="'VIEW_MEALS_DTLD.INSCRIPTION.DESCRIPTION_PRICE' | translate:{helpPrice: meal.detailedInfo.requiredGuests.cleaners.price | currencySymbol:meal.currency_symbol, priceUnit: meal.priceUnit | currencySymbol:meal.currency_symbol}"></span>
                            <a routerLink="footer_information_concept" fragment="groceries_calculation" (click)="activeModal.dismiss('go to footer_information_concept')" translate>VIEW_MEALS_DTLD.INSCRIPTION.DESCRIPTION_PRICE_2</a>
                            <span translate>VIEW_MEALS_DTLD.INSCRIPTION.DESCRIPTION_PRICE_3</span>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="simpleGuestInput" [disabled]="availablePlaces('simpleGuests') === 0" *ngIf="meal.detailedInfo.requiredGuests.simpleGuests.nbRquSimpleGuests > 0">
                    <ng-template ngbPanelTitle>
                        <input type="radio" formControlName="requestRoleInput" id="requestRoleSimpleGuest" value="simpleGuest" (click)="$event.stopPropagation();acc.toggle('simpleGuestInput')" required>
                        <label for="requestRoleSimpleGuest" class="small-xs" translate>CREATE_A_MEAL.FORM.SIMPLE_GUEST.NAME</label>
                        <span class="meal-dtld-helpers-position">{{meal.detailedInfo.requiredGuests.simpleGuests.nbRquSimpleGuests - availablePlaces('simpleGuests')}}/{{meal.detailedInfo.requiredGuests.simpleGuests.nbRquSimpleGuests}}</span>
                        <span class="meal-dtld-helpers-position">{{meal.detailedInfo.requiredGuests.simpleGuests.price | currencySymbol:meal.currency_symbol}}</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="small" translate>VIEW_MEALS_DTLD.INSCRIPTION.DESCRIPTION_SIMPLE_GUEST</div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <!--<div class="was-validated" *ngIf="createRequestRoleForm.get('requestRoleInput').invalid">
                <div class="invalid-feedback" [translate]="'VIEW_MEALS_DTLD.REQUEST_MESSAGE.ERROR'" [translateParams]="{ admin_first_name: meal.users[0].detail?.first_name}"></div>
            </div>-->
        </div>
        <div class="form-group" *ngIf="meal.automaticSubscription === false" [hidden]="userMealDatas.status === 'pending' || meal.date < now" [ngClass]="{'was-validated': createRequestRoleForm.get('requestMessage').invalid && (createRequestRoleForm.get('requestMessage').dirty || createRequestRoleForm.get('requestMessage').touched)}">
            <textarea type="text" class="form-control" rows="2" formControlName="requestMessage" placeholder="{{'VIEW_MEALS_DTLD.REQUEST_MESSAGE.PLACEHOLDER' | translate}}" required></textarea>
        </div>
        <div *ngIf="meal.nbRemainingPlaces > 0">
            <div *ngIf="auth.user | async as user">
                <hr>
                <div class="font-weight-bold form-group">
                    <span translate>VIEW_MEALS_DTLD.INSCRIPTION.CELLPHONE.DESCRIPTION</span>
                    <i class="fa fa-info-circle ml-1" ngbTooltip="{{'VIEW_MEALS_DTLD.INSCRIPTION.CELLPHONE.TOOLTIP' | translate}}" placement="right"></i>
                </div>
                <div *ngIf="!user.privateInfo.cellphone">
                    <div class="form-group">
                        <div class="input-group" [ngClass]="{'was-validated': createRequestRoleForm.get('cellphone').hasError('required') && (createRequestRoleForm.get('cellphone').dirty || createRequestRoleForm.get('cellphone').touched)}">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-light"><i class="fa fa-phone" aria-hidden="true"></i></span>
                            </div>
                            <input type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" class="form-control" placeholder="{{'CREATE_A_MEAL.FORM.CELLPHONE.NAME'|translate}}" formControlName="cellphone"
                                required/>
                            <div class="invalid-feedback" translate>CREATE_A_MEAL.FORM.ERROR.CELLPHONE</div>
                        </div>
                    </div>
                    <!--<div *ngIf="errorSubscribe.cellphone.status">
                    <div uib-alert class="alert alert-dismissible alert-danger text-center" close="closeAlert()">{{errorSubscribe.cellphone.message}}</div>
                </div>-->
                </div>
                <div *ngIf="!user.privateInfo.user_ref">
                    <div class="small" translate>VIEW_MEALS_DTLD.NOTIFICATIONS</div>
                    <div class="fb-messenger-checkbox" [attr.origin]="origin" [attr.page_id]="page_id" [attr.messenger_app_id]="app_id" [attr.user_ref]="user_ref" prechecked="true" allow_login="true" size="large"></div>
                </div>
                <div *ngIf="user.privateInfo.user_ref" class="small text-info" translate>CREATE_A_MEAL.FORM.NOTIFICATIONS.MESSENGER_ALREADY</div>
            </div>
        </div>
        <div class="form-row text-center">
            <div class="col">
                <div *ngIf="auth.user | async; else guest">
                    <button type="submit" *ngIf="meal.nbRemainingPlaces > 0 && !userMealDatas.role && !userMealDatas.status" [disabled]="availablePlaces(createRequestRoleForm.get('requestRoleInput').value + 's') > 0" class="btn btn-md btn-primary" translate>VIEW_MEALS_DTLD.ACTION_BUTTON.SUBSCRIBE</button>
                    <button type="button" class="btn btn-success" *ngIf="userMealDatas.status === 'accepted'" (click)="activeModal.close('Close click')" routerLink="/view_my_dtld_meals({myMealId: meal._id})" translate>VIEW_MEALS_DTLD.ACTION_BUTTON.SEE_MEAL</button>
                    <button type="button" class="btn btn-danger" (click)="unsubscribe()" *ngIf="userMealDatas.status == 'pending'"><span class="fa fa-remove-sign font-weight-bold ml-1"></span><span translate>VIEW_MEALS_DTLD.ACTION_BUTTON.CANCEL</span></button>
                    <div *ngIf="meal.nbRemainingPlaces === 0  && !userMealDatas.role && !userMealDatas.status" class="font-weight-bold text-danger" translate>VIEW_MEALS_DTLD.ACTION_BUTTON.MEAL_FULL</div>
                </div>
                <ng-template #guest>
                    <app-login id="fromMealDtld"></app-login>
                </ng-template>
            </div>
        </div>
        <hr>
        <div *ngFor="let type of listHelpType">
            <div class="font-weight-bold form-group" *ngIf="isTypeOccupied(type)">
                <span *ngIf="type === 'admin'" translate>VIEW_MEALS_DTLD.PARTICIPANTS.HOST</span>
                <span *ngIf="type === 'cook'" translate>VIEW_MEALS_DTLD.PARTICIPANTS.HELP_COOKING</span>
                <span *ngIf="type === 'cleaner'" translate>VIEW_MEALS_DTLD.PARTICIPANTS.HELP_CLEANING</span>
                <span *ngIf="type === 'simpleGuest'" translate>VIEW_MEALS_DTLD.PARTICIPANTS.SIMPLE_GUEST</span>
            </div>
            <div class="row">
                <div *ngFor="let participant of (meal.users | usersSubscribedMealDtld: type); first as isFirst;" class="col-md-6">
                    <div class="media mb-2">
                        <div class="align-self-auto mr-2">
                            <img class="rounded border profilePicMealDtld pointer" [routerLink]="auth.isLoggedIn() ? ['/profile', participant.id] : []" src="{{participant.detail?.picture}}" alt="" onerror="this.src='/assets/images/view_meals/unknown_user.png'">
                        </div>
                        <div class="media-body">
                            <h6 class="my-0 text-info poitner" [routerLink]="auth.isLoggedIn() ? ['/profile', participant.id] : []">{{participant.detail?.first_name}} {{participant.detail?.last_name[0]}}</h6>
                            <div class="small mb-0">
                                <span *ngIf="participant.detail?.gender"><i class="fa fa-venus-mars"></i> <span class="text-capitalize">{{participant.detail?.gender}}</span><br /></span>
                                <span *ngIf="participant.detail?.birthdate"><i class="fa fa-birthday-cake"></i> {{participant.detail?.birthdate | age}} <span translate>PROFILE.YEARS_OLD</span><br />
                                </span>
                                <span *ngIf="participant.detail?.country_of_origin"><i class="fa fa-globe"></i> <span translate="PROFILE.COUNTRY_OF_ORIGIN" [translateParams]="{ country_of_origin_name: participant.detail?.country_of_origin.name }"></span><br />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>