<div class="container" id="modalFilterMobile">
    <div class="row">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <label class="control-label filter-label col-xs-12">Chose the days of the week</label>
        <div class="filter-date-checkbox-mobile text-center" ng-repeat="day in filter.weekDays">
            <label><input type="checkbox" ng-model=day.selected></br>{{day.label}}</label>
        </div>
        <label class="control-label filter-label col-xs-12">Chose a period</label>
        <div class="col-xs-6">
            <input type="text" class="form-control filter_mobile_calendar search_calendar" uib-datepicker-popup="dd.MM.yyyy" ng-click="dateFilterMin_open()" ng-model="filter.dateFilterMin.value" is-open="filter.dateFilterMin.opened" close-text="Close" />
        </div>
        <div class="col-xs-6">
            <input type="text" class="form-control filter_mobile_calendar search_calendar" uib-datepicker-popup="dd.MM.yyyy" ng-click="dateFilterMax_open()" ng-model="filter.dateFilterMax.value" is-open="filter.dateFilterMax.opened" close-text="Close" />
        </div>
    </div>

    <div class="row" style="text-align:center">
        <a class="btn btn-success btn-lg btn-filter-mobile-reinitialize" ng-click="clearAndCloseFilterMobile()">Clear</a>
    </div>
</div>
