@media (min-width: 769px) {
    .container {
        min-height: 365px
    }
}


.general-title {
    font-family: Gill Sans, Verdana;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #317EAC;
}

div {
    color: #555555;
}

.clear10 {
    clear: both;
    height: 10px;
}
.clear20 {
    clear: both;
    height: 20px;
}