<div *ngFor="let meal of (meals | async | reverse: reverseOrderMeal | daysPipe: selectedFilter.weekDays | pricePipe: selectedFilter | dateRangePipe: selectedFilter | preferencePipe: selectedFilter.preferenceFilter | helpingTypePipe: selectedFilter.helpTypeFilter | cityPipe: selectedFilter.cityFilter); let first = first">
    <div *ngIf="first && ms.datasUserForEachMeal(meal, userId).status == 'old'">
        <div class="card text-center border-0">
            <div class="card-body">
                <h5 class="card-title" translate>VIEW_MEALS.NO_INCOMING_MEALS_1</h5>
                <a routerLink="create_meal" class="btn btn-primary" href="#/create_meal" translate>VIEW_MEALS.CREATE_YOUR_MEAL</a>
                <h5 class="card-title mt-2"><span translate>VIEW_MEALS.NO_INCOMING_MEALS_2</span><i class="fa fa-thumbs-up text-primary pl-2"></i></h5>
            </div>
        </div>
        <hr class="col-6">
        <h5 translate class="text-info">VIEW_MY_MEALS.PREVIOUS_MEALS</h5>
    </div>
    <div class="card mb-3 pointer" [ngClass]="{'border-success': ms.datasUserForEachMeal(meal, userId).status == 'accepted','border-warning':ms.datasUserForEachMeal(meal, userId).status == 'pending', 'border-info':ms.datasUserForEachMeal(meal, userId).status == 'old'}"
        (click)=openModalDtld(meal)>
        <div class="card-body">
            <div class="row">
                <div class="d-none d-md-block col-md-auto text-center">
                    <img class="rounded-circle profilePic mt-2" src="{{meal.users[0].detail?.picture}}" alt="" onerror="this.src='/assets/images/view_meals/unknown_user.png'" />
                    <div class="size-12 font-weight-bold mt-2 text-dark">{{meal.users[0].detail?.first_name}} {{meal.users[0].detail?.last_name[0]}}</div>
                    <div class="card card-sm card-resume-rating" style="border:initial">
                        <table class="text-center">
                            <tbody>
                                <tr>
                                    <td *ngIf="meal.users[0].detail?.reviews.positive > 0" class="pr-2"><span class="fa fa-plus-circle text-success"></span></td>
                                    <td *ngIf="meal.users[0].detail?.reviews.neutral > 0"><span class="fa fa-dot-circle-o text-info"></span></td>
                                    <td *ngIf="meal.users[0].detail?.reviews.negative > 0" class="pl-2"><span class="fa fa-minus-circle text-danger"></span></td>
                                </tr>
                                <tr style="font-size:11px" *ngIf="meal.users[0].detail?.reviews.positive > 0|| meal.users[0].detail?.reviews.neutral > 0 || meal.users[0].detail?.reviews.negative > 0">
                                    <td *ngIf="meal.users[0].detail?.reviews.positive > 0" class="pr-2">{{meal.users[0].detail?.reviews.positive}}</td>
                                    <td *ngIf="meal.users[0].detail?.reviews.neutral > 0">{{meal.users[0].detail?.reviews.neutral}}</td>
                                    <td *ngIf="meal.users[0].detail?.reviews.negative > 0" class="pl-2">{{meal.users[0].detail?.reviews.negative}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-md text-dark mx-2">
                    <div class="row mb-2">
                        <div class="mr-auto p-0 size-20">
                            <strong class="d-block d-sm-none">{{meal.menu.title | limitTo: 58}}{{meal.menu.title.length > 58 ? '...' : ''}}</strong>
                            <strong class="d-none d-sm-block d-md-none">{{meal.menu.title | limitTo: 75}}{{meal.menu.title.length > 75 ? '...' : ''}}</strong>
                            <strong class="d-none d-md-block d-lg-none">{{meal.menu.title | limitTo: 105}}{{meal.menu.title.length > 105 ? '...' : ''}}</strong>
                            <strong class="d-none d-lg-block">{{meal.menu.title | limitTo: 150}}{{meal.menu.title.length > 150 ? '...' : ''}}</strong>
                        </div>
                        <div class="pr-3" *ngIf="ms.datasUserForEachMeal(meal, userId)">
                            <div class="text-right font-weight-bold" [ngClass]="{'text-success': ms.datasUserForEachMeal(meal, userId).status == 'accepted', 'text-warning': ms.datasUserForEachMeal(meal, userId).status == 'pending', 'text-info': ms.datasUserForEachMeal(meal, userId).status == 'old'}">
                                <span *ngIf="ms.datasUserForEachMeal(meal, userId).status =='accepted' && ms.datasUserForEachMeal(meal, userId).role != 'admin'" translate>VIEW_MEALS.ATTENDING</span>
                                <span *ngIf="ms.datasUserForEachMeal(meal, userId).status =='accepted' && ms.datasUserForEachMeal(meal, userId).role == 'admin'" translate>VIEW_MEALS.HOSTING</span>
                                <span *ngIf="ms.datasUserForEachMeal(meal, userId).status =='old' && ms.datasUserForEachMeal(meal, userId).role != 'admin'" translate>VIEW_MEALS.ATTENDED</span>
                                <span *ngIf="ms.datasUserForEachMeal(meal, userId).status =='old' && ms.datasUserForEachMeal(meal, userId).role == 'admin'" translate>VIEW_MEALS.HOSTED</span>
                                <span *ngIf="ms.datasUserForEachMeal(meal, userId).status =='pending'" translate>VIEW_MEALS.PENDING</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <div class="row align-items-center">
                                <span class="fa fa-map-marker pr-1"></span>{{meal.address.town}}, {{meal.address.country}}<span class="d-block d-sm-none"><br /><span style="padding-left:15px" *ngIf="meal.address.postalCode">{{meal.address.postalCode}}</span></span>
                                <span class="hidden-xs" *ngIf="meal.address.postalCode"> - {{meal.address.postalCode}}</span>
                            </div>
                            <div class="row align-items-center">
                                <span class="fa fa-calendar pr-1"></span><span class="text-capitalize">{{meal.date | date:'EEEE dd MMMM'}}</span><span class="d-none d-sm-block"> <span class="fa fa-clock-o pr-1 pl-3"></span>{{meal.date | date:'HH:mm'}}</span>
                            </div>
                            <div class="row align-items-center d-block d-sm-none">
                                <span class="fa fa-clock-o pr-1"></span>{{meal.date | date:'HH:mm'}}
                            </div>
                            <div class="row align-items-center">
                                <span class="fa fa-money pr-1"></span><span [innerHTML]="'VIEW_MEALS.PRICE' | translate:{price: meal.mealPrice | currencySymbol:meal.currency_symbol}"></span>
                            </div>
                            <div class="row align-items-center" *ngIf="meal.veggies === true">
                                <img src="/assets/images/view_meals/vegetarian-sign.png" style="width:21px" class="pr-1"><span translate>VIEW_MEALS.VEGETARIAN_MEAL</span>
                            </div>
                            <div class="row align-items-center" *ngIf="meal.vegan === true">
                                <img src="/assets/images/view_meals/vegetarian-sign.png" style="width:21px" class="pr-1"><span translate>VIEW_MEALS.VEGAN_MEAL</span>
                            </div>
                            <div class="row align-items-center" *ngIf="meal.halal === true">
                                <img src="/assets/images/view_meals/halal-sign.png" class="pr-1"><span translate>VIEW_MEALS.HALAL_MEAL</span>
                            </div>
                            <div class="row align-items-center" *ngIf="meal.kosher === true">
                                <img src="/assets/images/view_meals/kosher-sign.png" class="pr-1"><span translate>VIEW_MEALS.KOSHER_MEAL</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <circle-progress [percent]="(meal.nbGuests - meal.nbRemainingPlaces)*100/meal.nbGuests" [maxPercent]="meal.nbGuests" [title]="meal.nbGuests - meal.nbRemainingPlaces + ' / ' + meal.nbGuests"></circle-progress>
                        </div>
                    </div>
                    <div class="row align-items-center" *ngIf="ms.datasUserForEachMeal(meal, userId).pendingRequests > 0">
                        <i class="fa fa-user-plus pr-1"></i> <strong class="text-warning">{{ms.datasUserForEachMeal(meal, userId).pendingRequests}} <span translate>VIEW_MY_MEALS.PENDING_REQUEST</span><span *ngIf="ms.datasUserForEachMeal(meal, userId).pendingRequests > 1">s</span></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>