<div class="container-fluid">
    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <img ng-src="https://upload.wikimedia.org/wikipedia/{{match.model.flag_url}}.svg" width="16">
            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        </a>
    </script>
    <div class="clear30"></div>
    <form class="form-horizontal" name="updateUserForm">
        <fieldset>
            <div class="col-xs-12">
                <div class="row">
                    <a href="{{user.link}}"><img class="img-circle profilePic" ng-src="{{user.picture.data.url}}" alt="User profile picture" style="float:left;margin-right:10px;" />
                        <div class="row">
                            <h4 style="line-height:12px">{{user.first_name}} {{user.last_name}}</h4>
                        </div>
                        <!--<div class="row">
                            <img src="https://upload.wikimedia.org/wikipedia/{{user.country_of_origin.flag_url}}.svg" class="country-flag">
                        </div>-->
                    </a>
                </div>
                <div class="clear10"></div>
                <div class="row">
                    <h4><em>Informations about <span ng-if="$parent.user._id == user._id">you</span><span ng-if="$parent.user._id != user._id && user.gender=='male'">him</span><span ng-if="$parent.user._id != user._id && user.gender=='female'">her</span></em></h4>
                </div>
                <div ng-if="$parent.user._id != user._id">
                    <div class="row">
                        <div class="col-xs-12" style="left:24px;">
                            <p ng-show="user.presentation">"<em>{{user.presentation}}</em>"</p>
                            <p ng-hide="user.presentation">{{user.first_name}} did not specified yet a description</p>
                        </div>
                    </div>
                    <div class="row" ng-if="user.birthdate">
                        <p>Age: {{user.birthdate | ageFilter}}</p>
                    </div>
                    <div class="row">
                        <p>Gender : {{user.gender}}</p>
                    </div>
                </div>
                <div ng-if="$parent.user._id == user._id">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="user.privateInfo.email" placeholder="Email">
                    </div>
                    <div class="form-group" ng-class="{'has-error': updateUserForm.inputCellphone.$invalid && userUpdateForm.$submitted};">
                        <input type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" class="form-control" id="inputCellphone" placeholder="Cellphone" uib-popover="Private information: displayed only for participants and host"
                            popover-trigger="mouseenter" popover-placement="top" ng-model="user.privateInfo.cellphone">
                    </div>
                    <div class="form-group">
                        Gender: {{user.gender}}
                    </div>
                    <div class="form-group">
                        <div class="hidden-sm hidden-md hidden-lg">Birthdate:</div>
                        <div><span style="float:left;margin-right:10px" class="hidden-xs">Birthdate: </span><input datedropdowns ng-model="user.birthdate" day-div-class="day-container" month-div-class="month-container" year-div-class="year-container" /></div>
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="user.country_of_origin" placeholder="Native country" uib-typeahead="country as country.name for country in countries | filter:{name:$viewValue} | limitTo:8" typeahead-template-url="customTemplate.html" class="form-control"
                            typeahead-show-hint="true" typeahead-min-length="0" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Introduce yourself" ng-model="user.presentation"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    Member since {{user._created | date:'MMMM yyyy'}}
                </div>
                <div class="row">
                    <h4><em>Reviews</em></h4>
                </div>
                <div class="row">
                    <span ng-if="user.reviews.length == 0">Get new reviews by <a class="btn btn-primary btn-xs" ui-sref="create_meal">proposing</a> or <a class="btn btn-primary btn-xs" ui-sref="view_meals">browsing</a> a meal.</span>
                    <div ng-if="user.reviews.length > 0">
                        <div> <span class="glyphicon glyphicon-plus-sign text-success"></span> {{positive_reviews}} <span class="glyphicon glyphicon-record text-default"></span> {{neutral_reviews}} <span class="glyphicon glyphicon-minus-sign text-danger"></span> {{negative_reviews}} </div>
                        <div class="panel panel-default" ng-repeat="review in user.reviews">
                            <div class="panel-body panel-profile-reviews">
                                <img class="img-circle my-meal-dtld-profilePic-pending-validation my-meal-dtld-guestList" ng-src="{{review.fromUser.datas.picture.data.url}}" alt="User profile picture" />
                                <span class="panel-profile-name-user"><span>{{review.fromUser.datas.first_name}} {{review.fromUser.datas.last_name}}</span><br/>
                            </div>
                            <div class="panel-footer">
                                <span class="glyphicon glyphicon-plus-sign text-success" ng-if="review.forUser.rating == 'positive'" style="vertical-align:text-top" uib-tooltip="Positive" tooltip-placement="top" style="cursor:pointer"></span>
                                <span class="glyphicon glyphicon-record text-default" ng-if="review.forUser.rating == 'neutral'" style="vertical-align:text-top" uib-tooltip="Neutral" tooltip-placement="top" style="cursor:pointer"></span>
                                <span class="glyphicon glyphicon-minus-sign text-danger" ng-if="review.forUser.rating == 'negative'" style="vertical-align:text-top" uib-tooltip="Negative" tooltip-placement="top" style="cursor:pointer"></span> &nbsp;"
                                <em>{{review.forUser.comment}}</em>"</div>
                        </div>
                    </div>
                </div>
                <div ng-if="$parent.user._id == user._id">
                    <div class="row">
                        <h4><em>Notifications</em></h4>
                    </div>
                    <div class="row">
                        <div>Receive notifications through messenger about new meals ?</div>
                    </div>
                    <div class="clear10"></div>
                    <div class="row">
                        <div class="small">Type your cities of interest:</div>
                        <div class="clear10"></div>
                        <div class="input-group" style="width:290px;">
                            <span class="input-group-addon" style="background-color:white"><i class="glyphicon glyphicon-map-marker"></i></span>
                            <input ng-autocomplete type="text" ng-model="autocomplete" class="form-control pull-left" placeholder="City, suburb" options="{types:'(cities)'}" details="details" autocomplete="off" style="margin-right:20px" ng-keypress="addCityNotificationPreference($event)"
                            />
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="addCityNotificationPreference()">Add</button>
                            </span>
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="row">
                        <div ng-repeat="cities in user.privateInfo.preferences.city_notification" class="well well-sm profile-city-notification-preference">
                            <strong>&nbsp;&nbsp;{{cities}}&nbsp;</strong><span class="glyphicon glyphicon-remove-circle" style="cursor:pointer;top:2px;left:2px;opacity:0.8" ng-click="removeCityNotificationPreference($event)"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small">Dietary preferences:</div>
                        <div class="clear10"></div>
                        <div class="checkbox" style="bottom:10px">
                            <span uib-tooltip="Chose a city to receive notifications first" tooltip-placement="right" tooltip-enable="user.privateInfo.preferences.city_notification.length == 0 || !user.privateInfo.preferences.city_notification">
                            <label style="margin-right:20px"><input type="checkbox" ng-model="user.privateInfo.preferences.veggies_notification" ng-disabled="user.privateInfo.preferences.city_notification.length == 0 || !user.privateInfo.preferences.city_notification"/>Vegetarian</label>
                            <label><input type="checkbox" ng-model="user.privateInfo.preferences.vegan_notification" ng-disabled="user.privateInfo.preferences.city_notification.length == 0 || !user.privateInfo.preferences.city_notification">Vegan</label></span>
                        </div>
                    </div>
                    <div class="clear10"></div>
                    <div class="row" ng-hide="user.privateInfo.preferences.city_notification.length == 0" style="margin-top:-15px">
                        <div class="fb-messenger-checkbox" origin="{{origin}}" page_id="{{page_id}}" messenger_app_id="{{app_id}}" user_ref="{{user_ref}}" prechecked="true" allow_login="true" size="large"></div>
                    </div>
                    <div class="clear10"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-click="updateUserForm.$setSubmitted(); actualizeUser(user._id,user._etag); confirmOptIn()">Actualize</button>
                    </div>
                </div>
            </div>
            <div class="form-group fade-out-success" ng-if="updateUserForm.$submitted" ng-show="actualized != null">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="alert alert-dismissible" ng-class="{'alert-success': actualized == true, 'alert-danger': (actualized == false || actualized == 'error')}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <span ng-show="actualized == true" class="fade-out-success">Your profile was actualized</span>
                        <span ng-show="actualized == false" class="fade-out-success">We had a problem actualizing your profile. Please, get in touch with <a href="mailto:dimitri.kohn@centrale-marseille.fr?subject=myCommuneaty: error Actualizing profile">Dimitri</a></span>
                        <span ng-show="actualized == 'error'" class="fade-out-success">email and cellphone are required to participate</span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
