<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/app.css">
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/bower_components/bootstrap-social/bootstrap-social.css">
  <link rel="stylesheet" href="../static/bower_components/font-awesome/css/font-awesome.min.css">
  <script src="../static/bower_components/angular/angular.min.js"></script>
  <script src="../static/bower_components/angular-resource/angular-resource.js"></script>
  <script src="../static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="../static/bower_components/satellizer/satellizer.min.js"></script>
  <script src="../static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="../static/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="../static/bower_components/angular-messages/angular-messages.js"></script>
  <script src="../static/bower_components/ngGeolocation/ngGeolocation.min.js"/></script>
  <script src="../static/app.js"></script>
  <script src="../static/config.js"></script>
  <script src="../static/viewCreateMeal/viewCreateMeal.js"></script>
  <script src="../static/viewMeals/viewMeals.js"></script>
  <script src="../static/viewMyMeals/viewMyMeals.js"></script>
  <script src="../static/viewLogin/viewLogin.js"></script>
  <script src="../static/components/userServices.js"></script>
  
 


  

</head>

<body>

  <div ng-controller="AppCtrl">
    <div class="bs-component">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../">SharEat</a>
          </div>

          <div class="collapse navbar-collapse" uib-collapse="navbarCollapsed">
            <ul class="nav navbar-nav">
              <li><a ui-sref="create_meal">Create a Meal</a></li>
              <li><a ui-sref="view_meals">Suscribe to a Meal</a></li>
              <li><a ui-sref="my_meals">My Meals</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li ng-if="isAuthenticated()" uib-dropdown class="dropdown">
                <a uib-dropdown-toggle class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <img class="img-circle profilePic" ng-src="{{'{{user.picture.data.url}}'}}" alt="User profile picture" /> {{'{{user.last_name}}'}} <span class="caret"></span></a>
                <ul uib-dropdown-menu class="dropdown-menu" aria-labelledby="download">
                  <li><a ng-click="logout()" class="btn btn-danger">Logout</a></li>
                </ul>
              </li>
              <li ng-if="!isAuthenticated()"><a ui-sref="login" class="btn btn-success"> Sign In</a></li>
            </ul>

          </div>
        </div>
      </nav>
    </div>
    <div ui-view></div>

  </div>

</body>

</html>
