<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>myCommuneaty</title>
  <meta name="description" content="myCommuneaty: more than a meal, meet new people with collaborative meals">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="../static/css/bootstrap.css">
  <link rel="stylesheet" href="../static/css/app.css">
  <link rel="stylesheet" href="../static/bower_components/bootstrap-social/bootstrap-social.css">
  <link rel="stylesheet" href="../static/bower_components/font-awesome/css/font-awesome.min.css">-->
  <link rel="stylesheet" href="../static/dist/css/app.bundle.css">
  <!--<link rel="stylesheet" href="../static/dist/css/bootstrap.bundle.css">-->
  <!-- permet d'obtenir la loading bar pour les transitions-->
  <!--<link rel='stylesheet' href='../static/bower_components/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />-->
  <link rel="icon" type="image/png" href="../static/sources/logo/logo.ico" />
  <!--<script src="../static/bower_components/angular/angular.min.js"></script>
  <script src="../static/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="../static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="../static/bower_components/satellizer/satellizer.min.js"></script>
  <script src="../static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="../static/bower_components/angular-animate/angular-animate.min.js"></script>-->

  <!--<script src="../static/bower_components/angular-filter/dist/angular-filter.min.js"></script>-->
  <script type="text/javascript" src="../static/dist/vendor.bundle.js"></script>
  <script type="text/javascript" src="../static/dist/app.bundle.js"></script>
  <script type="text/javascript" src="../static/config.js"></script>
  <script type="text/javascript" src="../static/bower_components/angular-svg-round-progressbar/build/roundProgress.min.js"></script>
  <!--<script src="../static/viewCreateMeal/viewCreateMeal.js"></script>
  <script src="../static/viewMeals/viewMeals.js"></script>
  <script src="../static/viewMeals/viewMealsDtld/viewMealsDtld.js"></script>
  <script src="../static/viewMyMeals/viewMyMeals.js"></script>
  <script src="../static/viewMyMeals/viewMyMealsDtld/viewMyMealsDtld.js"></script>
  <script src="../static/viewLogin/viewLogin.js"></script>
  <script src="../static/welcome/welcome.js"></script>
  <script src="../static/profile/viewProfile.js"></script>
  <script src="../static/viewManageRequests/viewManageRequests.js"></script>
  <script src="../static/viewLeaveReviews/viewLeaveReviews.js"></script>
  <script src="../static/components/getAgeService.js"></script>
  <script src="../static/components/userServices.js"></script>
  <script src="../static/components/getReviewService.js"></script>
  <script src="../static/components/currencySymbolService.js"></script>
  <script src="../static/components/dateDropdownService.js"></script>
  <script src="../static/components/facebookService.js"></script>
  <script type='text/javascript' src='../static/bower_components/angular-loading-bar/build/loading-bar.js'></script>-->
  <!-- permet d'obtenir la loading bar pour les transitions-->
  <!--<script src="../static/bower_components/angular-easyfb/build/angular-easyfb.min.js"></script>
  <script src="../static/bower_components/ngAutocomplete/src/ngAutocomplete.js"></script>
  <script src="../static/bower_components/ngmap/build/scripts/ng-map.min.js"></script>-->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBwwM-TMFz42n8ZDaGHF-8rGt76cdoXN8M"></script>

</head>

<body>
  <section ng-if="$state.includes('welcome')" style="position:relative; top:-60px">
    <div class="col-xs-8 welcome-plugin-social-fb">
      <div class="general-title text-info" style="text-transform:inherit"><img ng-src="static/sources/logo/logo_with_circle.jpg" style="height:50px">
        <h1 class="hidden-xs size-20" style="display:initial"> myCommuneaty</h1>
        <h1 class="hidden-sm hidden-md hidden-lg size-12" style="display:initial">myCommuneaty</h1>
      </div>
      <div class="clear10"></div>
      <div class="clear5"></div>
      <div class="fb-follow" data-href="https://www.facebook.com/mycommuneaty" data-layout="button" data-size="small" data-show-faces="true"></div>
      <div class="fb-share-button" data-href="https://www.facebook.com/mycommuneaty" data-layout="button" data-size="small" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fmycommuneaty&amp;src=sdkpreparse"></a>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="clear5"></div>
      <div class="pull-right" ng-if="!isAuthenticated() && inApp != true" ng-click="auth('facebook', toState)">
        <button class="btn btn-block btn-social btn-facebook welcome-buttons-auth-header" type="button">
          <span class="fa fa-facebook"></span> Sign in<span class="hidden-xs"> with Facebook</span>
        </div>
        <div class="btn-group pull-right" uib-dropdown is-open="status.isopen" ng-if="isAuthenticated()">
      <button id="single-button" type="button" class="btn btn-default welcome-buttons-auth-header" uib-dropdown-toggle ng-disabled="disabled">
        Hi <strong>{{'{{user.first_name}}'}}</strong> <span class="caret" ng-if="(user.nbDifferentPendingRequest==0 && user.nbDifferentReviewsToLeave==0) || (!user.nbDifferentPendingRequest && !user.nbDifferentReviewsToLeave)"></span><span class="badge" ng-if="(user.nbDifferentPendingRequest + user.nbDifferentReviewsToLeave)>0">{{'{{user.nbDifferentPendingRequest + user.nbDifferentReviewsToLeave}}'}}</span>
      </button>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li role="menuitem"><a ui-sref="my_meals">My meals</a></li>
          <li role="menuitem"><a ui-sref="profile({userId:user._id})">My profile <i ng-if="!$parent.$root.user.birthdate && !$parent.$root.user.country_of_origin && !$parent.$root.user.presentation && !$parent.$root.user.spoken_languages && isAuthenticated() == true" class="fa fa-exclamation-triangle"></i></a></li>
          <li class="divider" ng-if="isAuthenticated()"></li>
          <li role="menuitem"><a ui-sref="manage_requests">Manage requests&nbsp; <span class="badge" ng-if="user.nbDifferentPendingRequest>0">{{'{{user.nbDifferentPendingRequest}}'}}</span></a></li>
          <li role="menuitem"><a ui-sref="leave_reviews">Leave reviews&nbsp; <span class="badge" ng-if="user.nbDifferentReviewsToLeave>0">{{'{{user.nbDifferentReviewsToLeave}}'}}</span></a></li>
          <li role="menuitem"><a ng-click="logout()">Logout</a></li>
        </ul>
      </div>
    </div>
  </section>
  <header ng-class="{'header':$state.includes('welcome') && inApp != true}" id="header">
    <div class="bs-component" ng-if="!$state.includes('welcome')">
      <nav class="navbar navbar-default navbar-fixed-top navbar-fixed-top-mobile" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../" ng-if="!$state.includes('welcome')" id="navbar-button-position">myCommuneaty</a>
          </div>

          <div class="collapse navbar-collapse" uib-collapse="navbarCollapsed">
            <ul class="nav navbar-nav navbar-button-position">
              <li><a ui-sref="create_meal" data-toggle="collapse" data-target="navbar-collapse" ng-click="navbarCollapsed=true" id="navbar-button-position">Create a meal</a></li>
              <li><a ui-sref="view_meals" ui-sref-opts="{reload: true}" data-toggle="collapse" data-target="navbar-collapse" ng-click="navbarCollapsed=true" id="navbar-button-position">Browse a meal</a></li>
              <li><a ui-sref="my_meals" data-toggle="collapse" data-target="navbar-collapse" ng-click="navbarCollapsed=true" id="navbar-button-position">My meals</a></li>
              <li><a ui-sref="profile({userId:user._id})" class="pointer" data-toggle="collapse" data-target="navbar-collapse" ng-click="navbarCollapsed=true" id="navbar-button-position">My profile <i ng-if="!$parent.$root.user.birthdate && !$parent.$root.user.country_of_origin && !$parent.$root.user.presentation && !$parent.$root.user.spoken_languages && isAuthenticated() == true" class="fa fa-exclamation-triangle"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-if="isAuthenticated()" uib-dropdown class="dropdown" style="cursor:pointer">
                <a uib-dropdown-toggle class="dropdown-toggle">
                  <img class="img-circle profilePic" ng-src="{{'{{user.picture.data.url}}'}}" alt="User profile picture" /> {{'{{user.first_name}}'}} <span class="caret" ng-if="((user.nbDifferentPendingRequest + user.nbDifferentReviewsToLeave)==0) || (!user.nbDifferentPendingRequest && !user.nbDifferentReviewsToLeave)"></span>
                  <span class="badge" ng-if="(user.nbDifferentPendingRequest + user.nbDifferentReviewsToLeave)>0">{{'{{user.nbDifferentPendingRequest + user.nbDifferentReviewsToLeave}}'}}</span>
                </a>
                <ul uib-dropdown-menu class="dropdown-menu">
                  <li><a ui-sref="manage_requests" ui-sref-opts="{reload: true}" ng-click="$parent.navbarCollapsed=true">Manage requests&nbsp; <span class="badge" ng-if="user.nbDifferentPendingRequest>0">{{'{{user.nbDifferentPendingRequest}}'}}</span></a></li>
                  <li><a ui-sref="leave_reviews" ui-sref-opts="{reload: true}" ng-click="$parent.navbarCollapsed=true">Leave reviews&nbsp; <span class="badge" ng-if="user.nbDifferentReviewsToLeave>0">{{'{{user.nbDifferentReviewsToLeave}}'}}</span></a></li>
                  <li class="divider"></li>
                  <li><a ng-click="logout()">Logout</a></li>
                </ul>
              </li>
              <li ng-if="!isAuthenticated() && inApp != true"><a ng-click="auth('facebook', toState)" class="btn btn-block btn-social btn-facebook" id="facebook-button-nav" type="button"><span class="fa fa-facebook" style="padding-top:7px"></span> Sign In</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <section id="section">
    <div ng-if="inApp == true" class="text-center" style="position:relative;bottom:32px">
      <img ng-src="static/sources/welcome/welcome_in_app.jpg" style="width: 150px;border: solid 2px #317eac;border-radius: 8px;">
      <img ng-src="static/sources/welcome/welcome_in_app_open.jpg" style="width: 150px;border: solid 2px #317eac;border-radius: 8px;">
    </div>
    <div ng-controller="AppCtrl">
      <div class="container-fluid" style="position:relative" ng-if="$state.includes('welcome') && inApp != true">
        <h2 class="slogan text-center">
          <div id="slogan-text" ng-mouseover="sloganText = 'And the last time you ate with someone new ?'" ng-mouseleave="sloganText = 'When was the last time you met someone new ?'">{{'{{sloganText}}'}}</div>
        </h2>
      </div>
      <div ui-view></div>
      <div class="clear20"></div>
    </div>
  </section>

  <footer id="footer">
    <div class="clear20"></div>
    <div class="container">

      <div class="row">
        <div class="col-sm-3">
          <p class="text-uppercase"><strong>Information</strong></p>

          <a ui-sref="footer_information_concept">Concept</a>
          <div class="clear5 hidden-sm hidden-md hidden-lg"></div><br class="hidden-xs">
          <a ui-sref="footer_information_team">Team & History</a>
          <div class="clear5 hidden-sm hidden-md hidden-lg"></div><br class="hidden-xs">
          <a ui-sref="footer_information_FAQ">FAQ</a><br>
        </div>

        <div class="col-sm-3">
          <hr class="visible-xs-block">
          <p class="text-uppercase"><strong>Support</strong></p>
          <a ui-sref="footer_legal_guidelines">Guidelines</a>
          <div class="clear5 hidden-sm hidden-md hidden-lg"></div><br class="hidden-xs">
          <a ui-sref="footer_legal_general_policies">General Policies</a>
          <div class="clear5 hidden-sm hidden-md hidden-lg"></div><br class="hidden-xs">
          <a ui-sref="footer_legal_privacy_policy">Privacy Policy</a>
          <div class="clear5 hidden-sm hidden-md hidden-lg"></div><br class="hidden-xs">
          <a ui-sref="footer_legal_terms_and_conditions">Terms of Use</a><br>

        </div>

        <div class="col-sm-3">
          <hr class="visible-xs-block">
          <p class="text-uppercase"><strong>more</strong></p>

          <a ui-sref="footer_more_photo_gallery">Photo Gallery</a>
          <div class="clear5 hidden-sm hidden-md hidden-lg"></div><br class="hidden-xs">
          <a ui-sref="footer_more_careers">Careers & Feedbacks</a>
          <div class="clear5 hidden-sm hidden-md hidden-lg"></div><br class="hidden-xs">
          <a ui-sref="footer_more_contact">Contact us</a><br>
        </div>
        
        <div class="col-sm-3">
          <hr class="visible-xs-block">
          <p class="text-uppercase"><strong>Language</strong></p>

          <a title="english" class="pointer" ng-click="changeLanguage('en')"><img ng-src="static/sources/footer_language/english.png"></a> &nbsp;
          <a title="français" class="pointer" ng-click="changeLanguage('fr')"><img ng-src="static/sources/footer_language/french.png"></a> &nbsp;
          <a title="español" class="pointer" ng-click="changeLanguage('es')"><img ng-src="static/sources/footer_language/spanish.png"></a> &nbsp;
        </div>

      </div>
    </div>
    <div class="clear20"></div>

    <div id="footer-bottom">
      <div class="clear20"></div>
      <div class="text-center">
        <p class="h3">Share myCommuneaty on <a href="https://www.facebook.com/MyCommuneaty-254569051671689/?fref=ts" target="_blank" class="social_circle"><i class="fa fa-facebook fa-2x"></i></a></p>
      </div>
      <div class="clear20"></div>
    </div>
  </footer>
</body>

</html>